
@{
    ViewData["Title"] = "EditTitleListing";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model HG.WebApp.Entities.ListtingDocumentTitle
@*<script src="~/BackEnd/Admin/Js/Validate/content.js"></script>*@

<script type="text/javascript"> 
    $(document).ready(function () {
            content.validateForm();
    });</script> 
<div class="container-fluid">
    <div class="">
            <div class="box-header with-border">
                <h3 class="box-title">Chỉnh sửa tên Document</h3>
                <h3 style="color:red">@ViewBag.Message</h3>
            </div>
            @using (Html.BeginForm("EditTitleListing", "Content", FormMethod.Post, new { @class = "row", enctype = "multipart/form-data", id = "formcontent" }))
            {
                
                 <input value="@Model.Id" name="Id" hidden/>
                <div class="col-md-6">
                       <div class="card card-success">
                         <div class="card-header">
                            <h3 class="card-title">Content</h3>
                         </div>
                        <div class="card-body">
                                <div class="form-group">
                                <span style="font-weight: bold" class="col-sm-2 control-label"><i class="fa fa-phone fa-fw"></i> tiêu đề</span>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(g => g.TieuDe, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <span style="font-weight: bold" class="col-sm-2 control-label"> <i class="fa fa-mobile fa-fw"></i>  Website</span>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(g => g.Website, new { @class = "form-control" })
                                    </div>
                                </div>
                               <div class="form-group">
                                    <span style="font-weight: bold" class="col-sm-2 control-label"> <i class="fa fa-fax fa-fw"></i> CEO</span>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(g => g.CeoComp, new { @class = "form-control" })
                                    </div>
                                    <!-- /.input group -->
                                </div>    
                                <div class="form-group">
                                    <span style="font-weight: bold" class="col-sm-2 control-label"> <i class="fa fa-envelope fa-fw"></i>  Số điện thoại</span>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(g => g.SodienthoaiComp, new { @class = "form-control" })
                                    </div>
                                    <!-- /.input group -->
                                </div>    
                                
                           </div>
                    </div>
                </div>
                <div class="col-md-6">
                          <div class="card card-success">
                          <div class="card-header">
                            <h3 class="card-title">CEO and Social</h3>
                          </div>
                          <div class="card-body">
                            <div class="form-group">
                                <span style="font-weight: bold" class="col-sm-2 control-label"><i class="fa fa-twitter-square fa-fw"></i>  Số điện thoại</span>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(g => g.SodienthoaiCeo, new { @class = "form-control" })
                                    </div>
                            </div>
                             <div class="form-group">
                                <span style="font-weight: bold" class="col-sm-2 control-label"><i class="fa fa-facebook-square fa-fw"></i>  Mobile Number</span>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(g => g.MobileNumberCeo, new { @class = "form-control" })
                                    </div>
                            </div>
                              <div class="form-group">
                                <span style="font-weight: bold" class="col-sm-2 control-label"><i class="fa fa-facebook-square fa-fw"></i>   Fax Number</span>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(g => g.FaxNumberCeo, new { @class = "form-control" })
                                    </div>
                            </div>
                                 <div class="form-group">
                                <span style="font-weight: bold" class="col-sm-2 control-label"><i class="fa fa-facebook-square fa-fw"></i>   Email</span>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(g => g.EmailCeo, new { @class = "form-control" })
                                    </div>
                            </div>
                              <div class="form-group">
                                <span style="font-weight: bold" class="col-sm-2 control-label"><i class="fa fa-facebook-square fa-fw"></i>   Website</span>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(g => g.WebsiteCeo, new { @class = "form-control" })
                                    </div>
                            </div>
                              <div class="form-group">
                                <span style="font-weight: bold" class="col-sm-2 control-label"><i class="fa fa-facebook-square fa-fw"></i>   Taxcode</span>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(g => g.TaxcodeCeo, new { @class = "form-control" })
                                    </div>
                            </div>
                              <div class="form-group">
                                <span style="font-weight: bold" class="col-sm-2 control-label"><i class="fa fa-facebook-square fa-fw"></i>   Địa chỉ</span>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(g => g.AddressCeo, new { @class = "form-control" })
                                    </div>
                            </div>
                              <div class="form-group">
                                <span style="font-weight: bold" class="col-sm-2 control-label"><i class="fa fa-facebook-square fa-fw"></i>   Nội dung</span>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(g => g.Noidung, new { @class = "form-control" })
                                    </div>
                            </div>
                             <div class="form-group">
                                <span style="font-weight: bold" class="col-sm-2 control-label"><i class="fa fa-facebook-square fa-fw"></i>   Twitter</span>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(g => g.TwitterCeo, new { @class = "form-control" })
                                    </div>
                            </div>
                            <div class="form-group">
                                <span style="font-weight: bold" class="col-sm-2 control-label"><i class="fa fa-facebook-square fa-fw"></i>    Facebook</span>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(g => g.FacebookCeo, new { @class = "form-control" })
                                    </div>
                            </div>
                            <div class="form-group">
                                <span style="font-weight: bold" class="col-sm-2 control-label"><i class="fa fa-facebook-square fa-fw"></i>   Youtube</span>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(g => g.YoutubeCeo, new { @class = "form-control" })
                                    </div>
                            </div>
                            <div class="form-group">
                                <span style="font-weight: bold" class="col-sm-2 control-label"><i class="fa fa-facebook-square fa-fw"></i> Danh mục</span>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(g => g.Danhmuc, new { @class = "form-control" })
                                    </div>
                            </div>
                            <div class="form-group">
                                <span style="font-weight: bold" class="col-sm-2 control-label"><i class="fa fa-facebook-square fa-fw"></i>  Quốc gia</span>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(g => g.Quocgia, new { @class = "form-control" })
                                    </div>
                            </div>   
                          </div></div>
                </div>
               
                
                
                <div class="card-footer">
                          <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            }
    </div>
</div>



