@using HG.WebApp
@{
    ViewData["Title"] = "Quy trình xử lý";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var NguoiDung = ViewBag.NguoiDung as List<HG.Entities.Entities.DanhMuc.DanhSachNguoiDung>;
    var PhongBan = ViewBag.PhongBan as List<HG.Entities.Dm_Phong_Ban>;
    var NhanhXuLy = ViewBag.NhanhXuLy as List<HG.Entities.Dm_Nhanh_Xu_Ly>;
}
@model HG.Entities.Entities.Luong.QuyTrinhXuLy_paging
<style>
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11 {
        float: left;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
</style>
<div class="col-lg-12">
    <div class="pageheader">
        <div class="pageicon"><span class="iconfa-table"></span></div>
        <div class="pagetitle">
            <h5>Danh sách</h5>
            <h1>Quy trình xử lý</h1>
        </div>
    </div>
    <div class="maincontent">
        <div class="maincontentinner">
            <div>
                <span class="label label-success" style="font-size:14px;">Luồng lĩnh vực Địa giới hành chính XDCQCS Phòng Nội vụ thủ tục không có thời hạn giải quyết	</span>
            </div>
            <!-- Table with stripped rows -->
            <div class="tab-primary" style="border: 2px solid #0866c6;overflow: hidden;">
                <ul class="nav nav-pills" id="pills-tab" role="tablist" style="background: #0866c6;">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#ds-buoc" role="tab" aria-controls="ds-buoc" aria-selected="false">Danh sách bước</button>
                    </li>
                    <li class="nav-item ui-state-default ui-corner-top" role="presentation">
                        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#nhanh" role="tab" aria-controls="nhanh" aria-selected="false">Nhánh</button>
                    </li>
                    <li class="nav-item ui-state-default ui-corner-top" role="presentation">
                        <button class="nav-link active" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#tt-buoc" role="tab" aria-controls="tt-buoc" aria-selected="true">Thông tin bước</button>
                    </li>
                </ul>

                <div class="tab-content" id="myTabContent" style="padding: 15px;">
                    @*Danh sách bước*@
                    <div class="tab-pane fade" id="ds-buoc" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row" style="padding: 15px;">
                            <span id="ctl08_ctl00_grid_trinh_tu_xl_labNgayLuong" class="col-sm-6 Csslab">Quy trình: 0 ngày/TTHC: 0 ngày </span>
                            <div class="col-sm-6" align="right">
                                <input type="submit" name="ctl08$ctl00$grid_trinh_tu_xl$BtnAdd" value="Thêm bước" id="ctl08_ctl00_grid_trinh_tu_xl_BtnAdd" class="btn btn-primary">
                                <input type="submit" name="ctl08$ctl00$grid_trinh_tu_xl$Button1" value="Quy trình đồ họa" id="ctl08_ctl00_grid_trinh_tu_xl_Button1" class="btn btn-primary button" data-toggle="modal" data-target="#myModalLuongXuLy">
                                <input type="submit" name="ctl08$ctl00$grid_trinh_tu_xl$btnClose" value="Đóng" id="ctl08_ctl00_grid_trinh_tu_xl_btnClose" class="btn btn-primary button">

                            </div>
                        </div>
                        <div id="dataTable">
                            <div class="dataTable-container">
                                <table class="table table-bordered responsive">
                                    <thead class="widgettitle">
                                        <tr>
                                            <th class="head0" scope="col" data-sortable="" style="width: 5%;">STT</th>
                                            <th class="head1" scope="col" data-sortable="" style="width: 32%;">TÊN BƯỚC</th>
                                            <th class="head0" scope="col" data-sortable="" style="width: 8%;">NGƯỜI XỬ LÝ </th>
                                            <th class="head0" scope="col" data-sortable="" style="width: 5%;">THỨ TỰ </th>
                                            <th class="head1" scope="col" data-sortable="" style="width: 5%;">SỐ NGÀY</th>
                                            <th class="head0" scope="col" data-sortable="" style="width: 7%;">MÃ NHÁNH</th>
                                            <th class="head1" scope="col" data-sortable="" style="width: 3%;">#</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.lstQuyTrinhXuLy != null)
                                        {
                                            var stt = 1;
                                            foreach (var item in Model.lstQuyTrinhXuLy)
                                            {
                                                <tr>
                                                    <td scope="row">
                                                        @stt
                                                    </td>
                                                    <td><a href="#">@item.ten_buoc</a></td>

                                                    <td>@item.nguoi_co_the_xl</td>
                                                    <td>@item.stt</td>
                                                    <td>@item.so_ngay_xl</td>
                                                    <td>@item.ma_nhanh</td>
                                                    <td>
                                                        <a id="" title="" data-placement="top" data-toggle="tooltip" data-original-title="Sửa" href="/Luong/SuaQuyTrinhXuLy?code=@item.ma_luong&step=@item.Id">
                                                            <span class="glyphicon glyphicon-edit">Sửa</span>
                                                        </a>
                                                    </td>
                                                </tr>
                                                stt++;
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="dataTables_info" id="dyntable_info">Hiển thị @ViewBag.RecoredFrom đến  @ViewBag.RecoredTo của @ViewBag.TotalRecored bản ghi</div>
                            <div class="dataTables_paginate paging_full_numbers" id="dyntable_paginate">
                                @{
                                    var TotalPage = (int)ViewBag.TotalPage;
                                    var CurrentPage = (int)ViewBag.CurrentPage;
                                    if (TotalPage > 5)
                                    {
                                        if (CurrentPage > CurrentPage + 2)
                                        {
                                            <span><a class="first paginate_button paginate_button_disabled" onclick="GetListByCurrentPage(1)">Đầu</a></span>
                                            <span><a class="first paginate_button paginate_button_disabled" onclick="GetListByCurrentPage(@CurrentPage - 1)">Trước</a></span>
                                        };
                                        if (CurrentPage > 3)
                                        {
                                            for (int i = CurrentPage - 2; i < CurrentPage + 2; i++)
                                            {
                                                if (i == CurrentPage)
                                                {
                                                    <span><a tabindex="0" class="active paginate_active" onclick="GetListByCurrentPage(@i)">@i</a></span>
                                                }
                                                else
                                                {
                                                    <span><a tabindex="0" class=" paginate_active" onclick="GetListByCurrentPage(@i)">@i</a></span>
                                                }
                                            }
                                        }
                                        else
                                        {
                                            for (int i = 1; i <= 5; i++)
                                            {
                                                if (i == CurrentPage)
                                                {
                                                    <span><a tabindex="0" class="active paginate_active" onclick="GetListByCurrentPage(@i)">@i</a></span>
                                                }
                                                else
                                                {
                                                    <span><a tabindex="0" class=" paginate_active" onclick="GetListByCurrentPage(@i)">@i</a></span>
                                                }
                                            }

                                        }

                                        if (CurrentPage < CurrentPage + 2)
                                        {
                                            <span> <a class="first paginate_button paginate_button_disabled" onclick="GetListByCurrentPage(@CurrentPage + 1)">Trước</a></span>
                                            <span><a class="first paginate_button paginate_button_disabled" onclick="GetListByCurrentPage(@TotalPage)">Cuối</a></span>
                                        };
                                    }
                                    else
                                    {
                                        for (int i = 1; i <= TotalPage; i++)
                                        {
                                            if (i == CurrentPage)
                                            {
                                                <span><a tabindex="0" class="active paginate_active" onclick="GetListByCurrentPage(@i)">@i</a></span>
                                            }
                                            else
                                            {
                                                <span><a tabindex="0" class=" paginate_active" onclick="GetListByCurrentPage(@i)">@i</a></span>
                                            }
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </div>

                    @*Nhánh *@
                    <div class="tab-pane fade" id="nhanh" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            <label class="col-sm-1 control-label">
                                Mã nhánh
                            </label>
                            <div class="col-sm-2">
                                <input name="ctl08$ctl00$txtMaNhanh" type="text" id="txtMaNhanh" class="form-control input-default-sm" placeholder="Nhập mã nhánh">
                            </div>
                            <label class="col-sm-1 control-label">
                                Tên nhánh
                            </label>
                            <div class="col-sm-5">
                                <input name="ctl08$ctl00$txtTenNhanh" type="text" id="txtTenNhanh" class="form-control input-default-sm" placeholder="Nhập tên nhánh">
                            </div>
                            <div class="col-sm-2">
                                <input type="submit" name="ctl08$ctl00$btnThemNhanh" value="Thêm nhánh" id="btnThemNhanh" class="btn btn-primary">
                            </div>
                        </div>
                    </div>
                    @*Thông tin bước *@
                    <div class="tab-pane fade show active" id="tt-buoc" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="form-horizontal">
                            <form id="form_pb" action="/Luong/ThemQuyTrinhXuLy" method="post" enctype="multipart/form-data">
                                <input type="hidden" name="ma_luong" value="@Model.ma_luong">
                                <input type="hidden" name="Id" value="@Model.quyTrinhXuLy.Id">
                                <div class="row" style="padding-bottom: 10px">
                                    <label class="col-md-2 control-label">
                                        Tên bước thực hiện
                                    </label>
                                    <input type="hidden" name="ma_buoc" id="ma_buoc" value="@Model.quyTrinhXuLy.ma_buoc">
                                    <div class="col-md-3">
                                        <input name="ten_buoc" id="ten_buoc" type="text" value="@Model.quyTrinhXuLy.ten_buoc" class="form-control input-default-sm" placeholder="Nhập tên bước thực hiện">
                                    </div>
                                    <div class="col-md-1">
                                        <button type="button" class="btn btn-primary" onclick="myModalPopup()" data-bs-toggle="modal" data-bs-target="#ModalBXL">
                                            Chọn
                                        </button>
                                        <script>
                                            function myModalPopup() {
                                                $.ajax({
                                                    type: "GET",
                                                    url: "../Luong/RenderViewBuocThucHien?type=1",
                                                    data: "",
                                                    contentType: 'application/json; charset=utf-8',
                                                    success: function(data) {
                                                        console.log(data);
                                                        $("#ModalBXL .modal-body").html(data);
                                                    }
                                                });
                                            }
                                        </script>
                                    </div>
                                    <label class="col-md-2 control-label">
                                        Người mặc định XL
                                    </label>
                                    <div class="col-md-3">
                                        <select style="width: 100%;" class="select2 form-select form-control input-default" name="nguoi_xl_mac_dinh" id="nguoi_xl_mac_dinh">
                                            <option selected="selected" value="00000000-0000-0000-0000-000000000000">---- Chọn người đại diện ----</option>
                                            @if (NguoiDung != null)
                                            {
                                                foreach (var item in NguoiDung)
                                                {
                                                    if (item.id == Model.quyTrinhXuLy.nguoi_xl_mac_dinh)
                                                    {
                                                        <option selected value="@item.id">@item.ten_nguoi_dung</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@item.id">@item.ten_nguoi_dung</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-1">
                                        <input type="submit" name="" value="Chọn" id="btnNguoiMacDinhXL" class="btn btn-primary" data-toggle="modal" data-target="#popNguoiMacDinhXL" style="width:100%;">
                                    </div>
                                </div>

                                <div class="row">
                                    <label class="col-md-2 control-label">
                                        Số ngày xử lý
                                    </label>
                                    <div class="col-md-3">
                                        <input name="so_ngay_xl" type="text" value="@Model.quyTrinhXuLy.so_ngay_xl" id="so_ngay_xl" class="form-control input-default-sm" placeholder="Nhập số ngày xử lý">
                                    </div>
                                    <div class="col-md-1"></div>
                                    <label class="col-md-2 control-label">Người có thể XL</label>
                                    <div class="col-md-3">
                                        <select id="multiselect" class="select2 form-select form-control input-default" multiple="" data-placeholder="Chọn thủ tục" style="width: 100%;" tabindex="-1" aria-hidden="true">
                                            @if (NguoiDung != null)
                                            {
                                                foreach (var item in NguoiDung)
                                                {
                                                    <option value="@item.id">@item.ten_nguoi_dung</option>
                                                }
                                            }
                                        </select>
                                        <input id="nguoi_co_the_xl" type="text" name="nguoi_co_the_xl" class="form-control input-default" hidden>

                                    </div>
                                    <div class="col-md-1">
                                        <input type="submit" name="" value="Chọn" id="btnNguoiCoTheXL" class="btn btn-primary" data-toggle="modal" data-target="#popNguoiCoTheXL" style="width:100%;">
                                    </div>
                                </div>

                                <div id="ctl08_ctl00_pnlNoTNTKQ">

                                    <div class="form-group">
                                        <label class="col-md-2 control-label"></label>
                                        <div class="col-md-3">
                                            <input type="checkbox" id="buoc_xl_chinh" name="buoc_xl_chinh" value="@Model.quyTrinhXuLy.buoc_xl_chinh" @(Model.quyTrinhXuLy.buoc_xl_chinh==true?"checked":"")>
                                            <label for="buoc_xl_chinh">Bước xử lý chính trong quy trình</label>
                                        </div>
                                        <div class="col-md-1"></div>
                                        <label class="col-md-2 control-label">Người phối hợp XL</label>
                                        <div class="col-md-3">
                                            <select id="multiselect2" class="select2 form-select form-control input-default" multiple="" data-placeholder="Chọn thủ tục" style="width: 100%;" tabindex="-1" aria-hidden="true">
                                                @if (NguoiDung != null)
                                                {
                                                    foreach (var item in NguoiDung)
                                                    {
                                                        <option value="@item.id">@item.ten_nguoi_dung</option>
                                                    }
                                                }
                                            </select>
                                            <input id="nguoi_phoi_hop_xl" type="text" name="nguoi_phoi_hop_xl" class="form-control input-default" hidden>
                                        </div>
                                        <div class="col-md-1">
                                            <input type="submit" name="" value="Chọn" id="btnNguoiPH" class="btn btn-primary" data-toggle="modal" data-target="#popNguoiPH" style="width:100%;">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div id="ctl08_ctl00_ctl02">

                                            <label class="col-md-2 control-label">Nhánh</label>
                                            <div class="col-md-3">
                                                <select name="ma_nhanh" onchange="" id="ddlNhanh" class="form-control input-default-sm">
                                                    <option selected="selected" value="">------ Gốc ------</option>
                                                    @if (NhanhXuLy != null)
                                                    {
                                                        foreach (var item in NhanhXuLy)
                                                        {
                                                            <option value="@item.ma_nhanh">@item.ten_nhanh</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                            <div class="col-md-1"></div>
                                            <label class="col-md-2 control-label">Thứ tự bước</label>
                                            <div class="col-md-3">
                                                @if (Model.Pagelist.TotalRecords > 1)
                                                {
                                                    <select name="stt" id="FIndex" class="form-control input-default-sm">
                                                        @for (int i = 2; i < Model.Pagelist.TotalRecords + 1; i++)
                                                        {
                                                            if (Model.Pagelist.TotalRecords == i)
                                                            {
                                                                <option selected value="@i">@i</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@i">@i</option>
                                                            }
                                                        }
                                                    </select>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-12">Các chức năng được sử dụng:</label>
                                </div>

                                <div id="ctl08_ctl00_pnlChucNang">
                                    <input type="hidden" name="chuc_nang" id="chuc_nang">

                                    <div class="form-group">
                                        <label class="col-md-2 control-label"></label>
                                        <div class="col-md-3">
                                            <span>
                                                <input type="checkbox" value="YCBSHS" class="ads_Checkbox_cn" @(Model.quyTrinhXuLy.chuc_nang.Contains("YCBSHS") ? "checked" : " ")>
                                                <label for="YCBSHS">Yêu cầu bổ sung hồ sơ</label>
                                            </span>
                                        </div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-5">
                                            <span>
                                                <input id="HSKĐK" type="checkbox" value="HSKĐK" class="ads_Checkbox_cn" @(Model.quyTrinhXuLy.chuc_nang.Contains("HSKĐK") ? "checked" : "")>
                                                <label for="HSKĐK">Hồ sơ không đủ điều kiện (Loại hồ sơ và trả cho công dân)</label>
                                            </span>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-2 control-label"></label>
                                        <div class="col-md-3">
                                            <input id="THUHOIHS" type="checkbox" value="THUHOIHS" class="ads_Checkbox_cn" @(Model.quyTrinhXuLy.chuc_nang.Contains("THUHOIHS") ? "checked" : "")>
                                            <label for="THUHOIHS">Thu hồi hồ sơ đã chuyển</label>
                                        </div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-5">
                                            <span disabled="disabled">
                                                <input id="TRALAIHS" type="checkbox" value="TRALAIHS" class="ads_Checkbox_cn" @(Model.quyTrinhXuLy.chuc_nang.Contains("TRALAIHS") ? "checked" : "")>
                                                <label for="TRALAIHS">Trả lại hồ sơ cho người chuyển</label>
                                            </span>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-2 control-label"></label>
                                        <div class="col-md-3">
                                            <span>
                                                <input id="KYHS" type="checkbox" value="KYHS" class="ads_Checkbox_cn" @(Model.quyTrinhXuLy.chuc_nang.Contains("KYHS") ? "checked" : "")>
                                                <label for="KYHS">Ký duyệt hồ sơ</label>
                                            </span>
                                        </div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-5">
                                            <span>
                                                <input id="CMC" type="checkbox" value="CMC" class="ads_Checkbox_cn" @(Model.quyTrinhXuLy.chuc_nang.Contains("CMC") ? "checked" : "")>
                                                <label for="CMC">Chuyển hồ sơ ra một cửa để trả KQ xử lý</label>
                                            </span>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-2 control-label"></label>
                                        <div class="col-md-3">
                                            <input id="GUIHSLT" type="checkbox" value="GUIHSLT" class="ads_Checkbox_cn" @(Model.quyTrinhXuLy.chuc_nang.Contains("GUIHSLT") ? "checked" : "")>
                                            <label for="GUIHSLT">Gửi liên thông hồ sơ</label>
                                        </div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-5">
                                            <span>
                                                <input id="KTXL" type="checkbox" value="KTXL" class="ads_Checkbox_cn" @(Model.quyTrinhXuLy.chuc_nang.Contains("KTXL") ? "checked" : "")>
                                                <label for="KTXL">Hồ sơ không phải xử lý (Kết thúc xử lý)</label>
                                            </span>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-2 control-label"></label>
                                        <div class="col-md-3">
                                            <span>
                                                <input id="INPHOIKQ" type="checkbox" value="INPHOIKQ" class="ads_Checkbox_cn" @(Model.quyTrinhXuLy.chuc_nang.Contains("INPHOIKQ") ? "checked" : "")>
                                                <label for="INPHOIKQ">In phôi kết quả xử lý</label>
                                            </span>
                                        </div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-5">
                                            <span>
                                                <input id="GUIKQLT" type="checkbox" value="GUIKQLT" class="ads_Checkbox_cn" @(Model.quyTrinhXuLy.chuc_nang.Contains("GUIKQLT") ? "checked" : "")>
                                                <label for="GUIKQLT">Gửi hồi đáp kết quả xử lý cho đơn vị gửi liên thông</label>
                                            </span>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-2 control-label"></label>
                                        <div class="col-md-3">
                                            <input id="THONGBAOCD" type="checkbox" value="THONGBAOCD" class="ads_Checkbox_cn" @(Model.quyTrinhXuLy.chuc_nang.Contains("THONGBAOCD") ? "checked" : "")>
                                            <label for="THONGBAOCD">Thông báo email cho công dân</label>
                                        </div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-5">
                                            <span>
                                                <input id="TRATB" type="checkbox" value="TRATB" class="ads_Checkbox_cn" @(Model.quyTrinhXuLy.chuc_nang.Contains("TRATB") ? "checked" : "")>
                                                <label for="TRATB">Trả thông báo</label>
                                            </span>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label"></label>
                                        <div class="col-md-3">
                                            <span>
                                                <input id="GIAHAN" type="checkbox" value="GIAHAN" class="ads_Checkbox_cn" @(Model.quyTrinhXuLy.chuc_nang.Contains("GIAHAN") ? "checked" : "")>
                                                <label for="GIAHAN">Gia hạn xử lý</label>
                                            </span>
                                        </div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-5">
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>


                                </div>

                                <div class="form-group">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-4">
                                        <input type="button" name="" value="Thêm mới" id="btnAdd" class="btn btn-primary" onclick="window.location.href='/Luong/QuyTrinhXuLy?code=@Model.ma_luong&action=@StatusAction.Add.ToString()';">
                                        <input type="submit" name="" value="Lưu" id="btnSave" class="btn btn-primary process">
                                        <input type="button" name="" value="Xóa" id="btnClose" class="btn btn-primary" onclick="confirm.BeforDeletePost('/Luong/XoaQuyTrinhXuLy?id=@Model.quyTrinhXuLy.Id&code=@Model.ma_luong')">
                                        <input type="button" name="" value="Đóng" id="btnClose" class="btn btn-primary" onclick="window.location.href='/Luong/QuyTrinhXuLy?code=@Model.ma_luong'">
                                    </div>
                                    <div class="col-md-5">
                                        <br>
                                        <span id="TongSoNgayTT" style="color:Blue;">Tổng số ngày của thủ tục: 0 Ngày</span>
                                        <br>
                                        <span id="TongSoNgayXL" style="color:Blue;">Tổng số ngày của quy trình: 0 Ngày</span>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                            </form><!-- End Horizontal Form -->
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>

<div class="modal fade" id="ModalBXL" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header widgettitle">
                <h5 class="modal-title">Danh sách bước xử lý</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div><!-- End Basic Modal-->


<div class="modal fade" id="myModalUser">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header widgettitle">
                <h5 class="modal-title">Danh sách</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="padding-bottom: 0;">
                <div class="widget">
                    <h4 class="widgettitle">Chọn cán bộ</h4>
                    <div class="widgetcontent">
                        <div class="form-group">
                            <select onchange="getUserByPb(this);" name="" id="ddlPhongBan1" class="form-control input-default">
                                <option value="0">------------ Toàn bộ phòng ban ------------</option>
                                @if (PhongBan != null)
                                {
                                    foreach (var item in PhongBan)
                                    {
                                        <option value="@item.ma_phong_ban">@item.ten_phong_ban</option>
                                    }
                                }

                            </select>
                        </div>
                        <div class="form-group">
                            <span id="singleselect" class="">

                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script>
    function GetListByCurrentPage(id) {
        var pageSize = $("#lstPageSize").val();
        $.ajax({
            type: "GET",
            url: "../Luong/LuongXuLyPaging?currentPage=" + id + "&pageSize=" + pageSize + "&tu_khoa=",
            data: "",
            contentType: 'application/json; charset=utf-8',
            success: function(data) {
                //console.log(data);
                $("#dataTable").html(data);
            }
        });
    }
    function changePageSize(data) {
        $("#lstPageSize").val(data.value);
        $.ajax({
            type: "GET",
            url: "../Luong/LuongXuLyPaging?currentPage=" + 1 + "&pageSize=" + data.value + "&tu_khoa=",
            data: "",
            contentType: 'application/json; charset=utf-8',
            success: function(data) {
                //console.log(data);
                $("#dataTable").html(data);
            }
        });
    }

    function DeleteMultiple() {
        var listData = $("#lstCode").val();
        confirm.BeforDeletePost('/Luong/XoaLuongXuLy?code=' + listData)
    }

    $(function() {
        $('#selectAll').click(function() {
            var val = [];
            if ($(this).is(':checked')) {
                $(".ads_Checkbox").prop("checked", true);
                $(':checkbox:checked').each(function(i) {
                    if (i > 0) {
                        val[i - 1] = $(this).val();
                    }
                });
            }
            else {
                $(".ads_Checkbox").prop("checked", false);
                val = [];
            }
            $("#lstCode").val(val);
        });


        $('.ads_Checkbox_cn').click(function() {
            var val = [];
            $(':checkbox:checked').each(function(i) {
                val[i] = $(this).val();
            });
            $("#chuc_nang").val(val);
        });

    });
    var Arr = [];
    var Arr2 = [];
    $(document).ready(function() {

        $('.select2').select2({
            closeOnSelect: false
        });
        var val = [];
        $(':checkbox:checked').each(function(i) {
            val[i] = $(this).val();
        });
        $("#chuc_nang").val(val);

        $("#buoc_xl_chinh").val($("#buoc_xl_chinh").is(':checked'));

        $('#buoc_xl_chinh').change(function() {
            $('#buoc_xl_chinh').val($(this).is(':checked'));
        });

        var ngctxl = "@Model.quyTrinhXuLy.nguoi_co_the_xl";
        var arrNgctxl = ngctxl.split(",");
        if (arrNgctxl != "") {
            arrNgctxl.forEach(function(i) {
                //console.log(i);
                Arr.push(i);
                $("#nguoi_co_the_xl").val(Arr.join(","));
            });
        }
        $("#multiselect").val(arrNgctxl).trigger('change');


        $('#multiselect').on('select2:select', function(e) {
            Arr.push(e.params.data.id);
            $("#nguoi_co_the_xl").val(Arr.join(","));
        });

        $('#multiselect').on("select2:unselect", function(e) {
            Arr.pop(e.params.data.id);
            $("#nguoi_co_the_xl").val(Arr.join(","));
        });


        var ngphxl = "@Model.quyTrinhXuLy.nguoi_phoi_hop_xl";
        var arrNgphxl = ngphxl.split(",");
        if (arrNgphxl != "") {
            arrNgphxl.forEach(function(i) {
                Arr2.push(i);
                $("#nguoi_phoi_hop_xl").val(Arr2.join(","));
            });
        }
        $("#multiselect2").val(arrNgphxl).trigger('change');


        $('#multiselect2').on('select2:select', function(e) {
            Arr2.push(e.params.data.id);
            $("#nguoi_phoi_hop_xl").val(Arr2.join(","));
        });

        $('#multiselect2').on("select2:unselect", function(e) {
            Arr2.pop(e.params.data.id);
            $("#nguoi_phoi_hop_xl").val(Arr2.join(","));
        });
    });
</script>
