@using HG.Entities.Entities.ThuTuc
@using HG.WebApp
@*@using AspNetCore.Unobtrusive.Ajax;*@
@{
    ViewData["Title"] = "Thủ tục hành chính";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var LstPhongBan = ViewBag.LstPhongBan as List<ThuTucPhongBan>;
    var LstLinhVuc = ViewBag.LstLinhVuc as List<ThuTucLinhVuc>;
    var LstBieuMau = ViewBag.lstBieuMau as List<HG.Entities.DanhMuc.dm_bieu_mau>;
    var CurrentPage = (int)ViewBag.CurrentPage;
    var TotalPage = (int)ViewBag.TotalPage;
}
@model HG.Entities.Entities.ThuTuc.ThuTucPaging
<style>
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        color: #333;
        background: #fff;
        font-size: 14px;
        border-radius: 0;
        font-weight: bold;
    }

    .nav-pills {
        background-color: #0866c6;
    }

    .nav-link {
        color: #fff;
    }

        .nav-link:focus, .nav-link:hover {
            color: #fff;
            font-weight: bold;
        }

    .btn-search {
        border: 0;
        padding: 0;
        margin-left: -30px;
        background: none;
    }

    .search-form input {
        width: 240px;
        padding: 10px;
        font-size: 12px;
        border: 1px solid #ddd;
        height: auto;
    }

    .search-form {
        position: absolute;
        top: 33%;
        right: 20px;
    }
</style>
<script src="/BackEnd/Admin/plugin/ckeditor/ckeditor.js"></script>

@if (ViewBag.BieuMau == 1)
{
    <script>
        $(document).ready(function() {
            $('#pills-home-tab').removeClass('active');
            $('#pills-home').removeClass('show');
            $('#pills-home').removeClass('active');
            $("#pills-profile-tab").addClass('active');
            $("#pills-profile").addClass('show');
            $("#pills-profile").addClass('active');
            $("#Notifyeform").modal("show");
        });
    </script>
};
@if (ViewBag.BieuMau == 2)
{
    <script>
        $(document).ready(function() {
            $('#pills-home-tab').removeClass('active');
            $('#pills-home').removeClass('show');
            $('#pills-home').removeClass('active');
            $("#pills-profile-tab").addClass('active');
            $("#pills-profile").addClass('show');
            $("#pills-profile").addClass('active');
        });
    </script>
};

<div class="card">
    <div class="card-body">
        <div class="pageheader">
            <div class="search-form d-flex align-items-center">
                <input type="text" name="tu_khoa" id="tu_khoa" placeholder="Nhập từ khóa tìm kiếm..">
                <button class="btn-search" type="button" onclick="searchForm()" id="searchForm" title="Search"><i class="bi bi-search"></i></button>
            </div>
            <div class="pageicon"><span class="iconfa-table"></span></div>
            <div class="pagetitle">
                <h5>Danh sách</h5>
                <h1>Thủ tục hành chính</h1>
            </div>
        </div>
        <div class="maincontent" style="border: 2px solid #0866c6;">
            <!-- Pills Tabs -->
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Quản lý thủ tục hành chính</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Quản lý biểu mẫu</button>
                </li>
            </ul>

            <div class="tab-content pt-2" id="myTabContent" style="padding: 15px;">
                @*TAB Quản lý thủ tục hành chính*@
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="home-tab">
                    <p class="stdformbutton" style="margin-bottom: 10px;">
                        <input type="submit" name="" value="Thêm" id="" onclick="window.location.href = '/ThuTuc/ThemThuTuc';" class="btn btn-primary" style="width:100px;" />

                        <input type="button" value="Xóa" onclick="DeleteMultiple()" class="btn btn-primary" style="width:100px;" />
                        <input hidden id="lstCode" />
                    </p>
                    <div class="widget">
                        <h4 class="widgettitle">Lọc danh sách theo</h4>
                        <div class="widgetcontent">
                            <div class="row mb-3">
                                <label for="" class="col-md-2 control-label" style="text-align: right">Phòng ban</label>
                                <div class="col-md-10">
                                    <select onchange="ChangePhongBan(this)" id="ma_pb" class="form-control input-default">
                                        <option selected="selected" value="">------- Chọn phòng ban -------</option>
                                        @if (LstPhongBan != null)
                                        {
                                            foreach (var item in LstPhongBan)
                                            {
                                                <option value="@item.ma_phong_ban">@item.ten_phong_ban</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <label for="" class="col-md-2 control-label" style="text-align: right">Lĩnh vực</label>
                                <div class="col-md-10">
                                    <select name="" onchange="ChangeLinhVuc(this)" id="ma_lv" class="form-control input-default">
                                        <option selected="selected" value="">------- Chọn lĩnh vực -------</option>
                                        @if (LstLinhVuc != null)
                                        {
                                            foreach (var item in LstLinhVuc)
                                            {
                                                <option value="@item.ma_linh_vuc">@item.ten_linh_vuc</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="dyntable_wrapper" class="dataTables_wrapper" role="grid">
                        <div id="dyntable_length" class="dataTables_length">
                            <label>
                                Hiển thị
                                <select size="1" name="dyntable_length" aria-controls="dyntable" id="lstPageSize" onchange="changePageSize(this);">
                                    <option value="10">10</option>
                                    <option value="25" selected="selected">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select> bản ghi
                            </label>
                        </div>
                        <div id="dataTable">
                            <div class="dataTable-container">
                                <table class="table table-bordered responsive">
                                    <thead class="widgettitle">
                                        <tr>
                                            <th class="head0 nosort" scope="col" data-sortable="" style="width: 5%;">
                                                <input type="checkbox" name="" id="selectAll" />
                                            </th>

                                            <th class="head0" scope="col" data-sortable="" style="width: 5%;">STT</th>
                                            <th class="head1" scope="col" data-sortable="" style="width: 45%;">TÊN</th>
                                            <th class="head0" scope="col" data-sortable="" style="width: 20%;">LĨNH VỰC</th>
                                            <th class="head1" scope="col" data-sortable="" style="width: 5%;">LUỒNG</th>
                                            <th class="head0" scope="col" data-sortable="" style="width: 5%;">OL</th>
                                            <th class="head1" scope="col" data-sortable="" style="width: 5%;">LT</th>
                                            <th class="head0" scope="col" data-sortable="" style="width: 5%;">#</th>
                                            <th class="head1" scope="col" data-sortable="" style="width: 5%;">#</th>
                                            <th class="head0" scope="col" data-sortable="" style="width: 5%;">#</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.lstThuTuc != null)
                                        {
                                            var stt = 1;
                                            foreach (var item in Model.lstThuTuc)
                                            {
                                                <tr>
                                                    <td><input type="checkbox" class="ads_Checkbox" value="@item.ma_thu_tuc" data-id="@item.ma_thu_tuc_old" /></td>
                                                    <td scope="row">
                                                        @(stt)
                                                        <input type="hidden" name="" id="" value="@item.ma_thu_tuc" />
                                                    </td>
                                                    <td><a href="/ThuTuc/SuaThuTuc?code_key=@item.ma_thu_tuc_old&code=@item.ma_thu_tuc&type=@(StatusAction.View.ToString())&active=@(ActionThuTuc.ThuTuc.ToString())">@item.ten_thu_tuc</a></td>

                                                    <td>@item.ten_linh_vuc</td>
                                                    <td>@(item.luong?"có":"")</td>
                                                    <td>@(item.nop_online?"có":"")</td>
                                                    <td>@(item.cho_phep_lien_thong?"có":"")</td>
                                                    <td>
                                                        <a id="" title="" data-placement="top" data-toggle="tooltip" data-original-title="Xem" href="/ThuTuc/SuaThuTuc?code_key=@item.ma_thu_tuc_old&code=@item.ma_thu_tuc&type=@(StatusAction.View.ToString())&active=@(ActionThuTuc.ThuTuc.ToString())">
                                                            <span class="glyphicon glyphicon-list-alt">Xem</span>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a id="" title="" data-placement="top" data-toggle="tooltip" data-original-title="Sửa" href="/ThuTuc/SuaThuTuc?code_key=@item.ma_thu_tuc_old&code=@item.ma_thu_tuc&type=@(StatusAction.Edit.ToString())&active=@(ActionThuTuc.ThuTuc.ToString())">
                                                            <span class="glyphicon glyphicon-edit">Sửa</span>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a onclick="confirm.BeforDeletePost('/ThuTuc/XoaThuTuc?code=@(item.ma_thu_tuc+'|'+item.ma_thu_tuc_old)')"
                                                   title=""
                                                   data-placement="top"
                                                   data-toggle="tooltip"
                                                   data-original-title="Xóa"
                                                   href="#">
                                                            <span class="glyphicon glyphicon-trash">Xóa</span>
                                                        </a>
                                                    </td>
                                                </tr>
                                                stt++;
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>

                            <div class="dataTables_info" id="dyntable_info">Hiển thị @ViewBag.RecoredFrom đến  @ViewBag.RecoredTo của @Model.Pagelist.TotalRecords bản ghi</div>
                            <div class="dataTables_paginate paging_full_numbers" id="dyntable_paginate">
                                @{


                                    if (TotalPage > 5)
                                    {
                                        if (CurrentPage > CurrentPage + 2)
                                        {
                                            <span><a class="first paginate_button paginate_button_disabled" onclick="GetListByCurrentPage(1)">Đầu</a></span>
                                            <span><a class="first paginate_button paginate_button_disabled" onclick="GetListByCurrentPage(@CurrentPage - 1)">Trước</a></span>
                                        };
                                        if (CurrentPage > 3)
                                        {
                                            for (int i = CurrentPage - 2; i < CurrentPage + 2; i++)
                                            {
                                                if (i == CurrentPage)
                                                {
                                                    <span><a tabindex="0" class="active paginate_active" onclick="GetListByCurrentPage(@i)">@i</a></span>
                                                }
                                                else
                                                {
                                                    <span><a tabindex="0" class=" paginate_active" onclick="GetListByCurrentPage(@i)">@i</a></span>
                                                }
                                            }
                                        }
                                        else
                                        {
                                            for (int i = 1; i <= 5; i++)
                                            {
                                                if (i == CurrentPage)
                                                {
                                                    <span><a tabindex="0" class="active paginate_active" onclick="GetListByCurrentPage(@i)">@i</a></span>
                                                }
                                                else
                                                {
                                                    <span><a tabindex="0" class=" paginate_active" onclick="GetListByCurrentPage(@i)">@i</a></span>
                                                }
                                            }

                                        }

                                        if (CurrentPage < CurrentPage + 2)
                                        {
                                            <span> <a class="first paginate_button paginate_button_disabled" onclick="GetListByCurrentPage(@CurrentPage + 1)">Trước</a></span>
                                            <span><a class="first paginate_button paginate_button_disabled" onclick="GetListByCurrentPage(@TotalPage)">Cuối</a></span>
                                        };
                                    }
                                    else
                                    {
                                        for (int i = 1; i <= TotalPage; i++)
                                        {
                                            if (i == CurrentPage)
                                            {
                                                <span><a tabindex="0" class="active paginate_active" onclick="GetListByCurrentPage(@i)">@i</a></span>
                                            }
                                            else
                                            {
                                                <span><a tabindex="0" class=" paginate_active" onclick="GetListByCurrentPage(@i)">@i</a></span>
                                            }
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <p class="stdformbutton" style="margin-bottom: 10px;">
                        <input type="submit" name="" value="Thêm" id="" onclick="window.location.href = '/ThuTuc/ThemThuTuc';" class="btn btn-primary" style="width:100px;" />

                        <input type="button" value="Xóa" onclick="DeleteMultiple()" class="btn btn-primary" style="width:100px;" />

                    </p>
                </div>
                @*TAB Quản lý biểu mẫu*@
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="profile-tab">
                    @* <p class="stdformbutton" style="margin-bottom: 10px;">
                    <input type="submit" name="ctl08$BtnAdd" value="Thêm" id="" class="btn btn-primary" style="width:100px;" />
                    </p>*@
                    <div id="thembieumau">
                        @using (Html.BeginForm("ThemBieuMau", "ThuTuc", FormMethod.Post, new { @class = "", enctype = "multipart/form-data", id = "form_pb" }))
                        {
                            <div class="row mb-3">
                                <div class="col-sm-12">
                                    <textarea id="ckedit1" class="form-control input-default" placeholder="Mô tả" name="ckedit1"></textarea>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-1 control-label" for="stt" style="padding: 10px;">Tên file</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control input-default" name="ten_bieu_mau" id="ten_bieu_mau" value="" placeholder="Tên file">
                                </div>
                                <div class="col-sm-1">
                                    <button class="control-label btn btn-primary" type="submit" style="float:right;width:100%;height:100%">Lưu</button>
                                </div>
                                <div class="col-sm-5">
                                    <button class="control-label btn btn-primary" style="float:right;height:100%">Đóng</button>
                                </div>
                            </div>
                        }
                    </div>

                    <table class="table table-bordered responsive">
                        <thead class="widgettitle">
                            <tr>
                                <th class="head0">#</th>
                                <th class="head0">#</th>
                                <th class="head0">Xem biểu mãu HTML</th>
                                <th class="head0">Đường dẫn</th>
                                <th class="head0">Xem biểu mẫu</th>
                            </tr>
                        </thead>

                        @if (LstBieuMau != null)
                        {
                            foreach (var item in LstBieuMau)
                            {
                                <tr>
                                    <td> <a onclick="SuaBieuMau(@item.Id)" href="#">Sửa</a></td>
                                    <td> <a onclick="XoaBieuMau(@item.Id)" href="#">Xóa</a></td>
                                    <td> <a target="_blank" href="/ThuTuc/ViewBieuMau?Id=@item.Id&type=@StatusAction.Edit.ToString()">@item.ten_bieu_mau</a></td>
                                    <td> <a target="_blank" href="/ThuTuc/ViewBieuMau?Id=@item.Id&type=@StatusAction.Edit.ToString()">@item.url_bieu_mau</a></td>
                                    <td> <a target="_blank" href="/ThuTuc/ViewBieuMau?Id=@item.Id&type=@StatusAction.View.ToString()">Xem</a></td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td> <a href="#">Sửa</a></td>
                                <td> <a href="#">Xóa</a></td>
                                <td> <a href="#">fileNam</a></td>
                                <td> <a href="#">UrlFile</a></td>
                                <td> <a href="#">Xem</a></td>
                            </tr>
                        }


                    </table>

                </div>
            </div>


        </div><!-- End Pills Tabs -->

    </div>
</div>
<script>
    function saveBieuMau() {        
        var data = $("#form_pb").serialize();
        var value = CKEDITOR.instances['ckedit1'].getData();
        if ($("#ten_bieu_mau").val() == "" || $("#ten_bieu_mau").val() == undefined || $("#ten_bieu_mau").val() == null) {
            $("#TitleEform").html("Bạn chưa nhập tên biểu mẫu!");
            $("#Notifyeform").modal("show");
            return;
        };
        if (value == "" || value == undefined || value == null) {
            $("#TitleEform").html("Bạn chưa nhập biểu mẫu!");
            $("#Notifyeform").modal("show");
            return;
        };
        $.ajax({
            type: "Get",
            url: "../ThuTuc/ThemBieuMau?ten_bieu_mau=" + $("#ten_bieu_mau").val() + "&ckedit1=" + JSON.stringify(value),
            data: "",
            contentType: 'application/json; charset=utf-8',
            //data: data,
            //contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function(data) {
                $("#TitleEform").html(data);
                $("#Notifyeform").modal("show");

            }
        });
    }
    function XoaBieuMau(id) {
        $.ajax({
            type: "GET",
            url: "../ThuTuc/XoaBieuMau?Id=" + id,
            data: "",
            contentType: 'application/json; charset=utf-8',
            success: function(data) {
                $("#TitleEform").html(data);
                $("#Notifyeform").modal("show");
                setTimeout(window.location.href = "/ThuTuc/QuanLy?tabbieumau=2", 3000)

            }
        });
    }
    function SuaBieuMau(id) {
        $.ajax({
            type: "GET",
            url: "../ThuTuc/SuaBieuMau?Id=" + id,
            data: "",
            contentType: 'application/json; charset=utf-8',
            success: function(data) {
                $("#thembieumau").html(data);
            }
        });
    }

    var input = document.getElementById("tu_khoa");
    input.addEventListener("keypress", function(event) {
        if (event.key === "Enter") {
            event.preventDefault();
            document.getElementById("searchForm").click();
        }
    });
    function searchForm() {
        $("#lstCode").val("");
        var pageSize = $("#lstPageSize").val();
        var ma_lv = $("#ma_lv").val();
        var ma_pb = $("#ma_pb").val();
        var tuKhoa = $("#tu_khoa").val();
        $.ajax({
            type: "GET",
            url: "../ThuTuc/QuanLyPaging?currentPage=" + 1 + "&pageSize=" + pageSize + "&ma_pb=" + ma_pb + "&ma_lv=" + ma_lv + "&tu_khoa=" + tuKhoa,
            data: "",
            contentType: 'application/json; charset=utf-8',
            success: function(data) {
                $("#dataTable").html(data);
            }
        });
    }


    function ChangePhongBan(data) {
        $("#lstCode").val("");
        $("#ma_pb").val(data.value);
        var ma_lv = $("#ma_lv").val();
        var pageSize = $("#lstPageSize").val();
        $.ajax({
            type: "GET",
            url: "../ThuTuc/QuanLyPaging?currentPage=" + 1 + "&pageSize=" + pageSize + "&ma_pb=" + data.value + "&ma_lv=" + ma_lv + "&tu_khoa=",
            data: "",
            contentType: 'application/json; charset=utf-8',
            success: function(data) {
                console.log(data);
                $("#dataTable").html(data);
            }
        });
    }

    function ChangeLinhVuc(data) {
        $("#lstCode").val("");
        $("#ma_lv").val(data.value);
        var ma_pb = $("#ma_pb").val();
        var pageSize = $("#lstPageSize").val();
        $.ajax({
            type: "GET",
            url: "../ThuTuc/QuanLyPaging?currentPage=" + 1 + "&pageSize=" + pageSize + "&ma_pb=" + ma_pb + "&ma_lv=" + data.value + "&tu_khoa=",
            data: "",
            contentType: 'application/json; charset=utf-8',
            success: function(data) {
                //console.log(data);
                $("#dataTable").html(data);
            }
        });
    }
    function GetListByCurrentPage(id) {
        $("#lstCode").val("");
        var pageSize = $("#lstPageSize").val();
        var ma_pb = $("#ma_pb").val();
        var ma_lv = $("#ma_lv").val();
        $.ajax({
            type: "GET",
            url: "../ThuTuc/QuanLyPaging?currentPage=" + id + "&pageSize=" + pageSize + "&ma_pb=" + ma_pb + "&ma_lv=" + ma_lv + "&tu_khoa=",
            data: "",
            contentType: 'application/json; charset=utf-8',
            success: function(data) {
                //console.log(data);
                $("#dataTable").html(data);
            }
        });
    }
    function changePageSize(data) {
        $("#lstCode").val("");
        $("#lstPageSize").val(data.value);
        var ma_pb = $("#ma_pb").val();
        var ma_lv = $("#ma_lv").val();
        $.ajax({
            type: "GET",
            url: "../ThuTuc/QuanLyPaging?currentPage=" + 1 + "&pageSize=" + data.value + "&ma_pb=" + ma_pb + "&ma_lv=" + ma_lv + "&tu_khoa=",
            data: "",
            contentType: 'application/json; charset=utf-8',
            success: function(data) {
                //console.log(data);
                $("#dataTable").html(data);
            }
        });
    }
    function DeleteMultiple() {
        var listData = $("#lstCode").val();
        confirm.BeforDeletePost('/ThuTuc/XoaThuTuc?code=' + listData + "&type=0")
    }

    $(function() {
        $('#selectAll').click(function() {
            var val = [];
            if ($(this).is(':checked')) {
                $(".ads_Checkbox").prop("checked", true);
                $('.ads_Checkbox:checked').each(function(i) {
                    val[i] = $(this).val() + '|' + $(this).data("id");
                });
            }
            else {
                $(".ads_Checkbox").prop("checked", false);
                val = [];
            }
            $("#lstCode").val(val);
            //console.log(val);
        });

        $('.ads_Checkbox').click(function() {
            var val = [];
            $('.ads_Checkbox:checked').each(function(i) {
                val[i] = $(this).val() + '|' + $(this).data("id");
            });
            $("#lstCode").val(val);
            //  console.log(val);
        });
        $('#ten_bieu_mau').on('keypress', function(e) {
            if (e.which == 32 || e.which > 200) {
                return false;
            }
        });
    });
    CKEDITOR.replace('ckedit1');

</script>
<div class="modal fade" id="Notifyeform" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="border: 2px solid #0866c6;">
            <div class="modal-header" style="background-color: #0866c6;">
                <h5 class="modal-title" style="color:white" id="exampleModalLabel">Thông báo</h5>
            </div>
            <div class="modal-body" id="TitleEform">
                Lưu biểu mẫu thành công !!!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary modal-footer-btnclose" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>