@using HG.WebApp
@{
    ViewData["Title"] = "Sổ Hồ Sơ";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var LstPhongBan = ViewBag.LstPhongBan as List<HG.Entities.Dm_Phong_Ban>;
    var LstLinhVuc = ViewBag.LstLinhVuc as List<HG.Entities.Dm_Linh_Vuc>;
    var LstDonViLienThong = ViewBag.LstDonViLienThong as List<HG.Entities.Dm_Don_Vi_Lien_Thong>;
    var LstMucDoThucHien = ViewBag.LstMucDoThucHien as List<HG.Entities.Dm_Muc_Do_Thuc_Hien>;
}

@model HG.Entities.Entities.ThuTuc.ThuTucModel

<script src="/BackEnd/Admin/plugin/ckeditor/ckeditor.js"></script>
<style>
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        background: #fff;
        border-bottom: 1px solid #fff;
        color: #333;
    }

    .nav-pills .nav-link, .nav-pills .show > .nav-link {
        background: rgba(255,255,255,0.1);
        color: #fff;
        border: 0;
    }


    .nav-pills .nav-link {
        background: 0 0;
        border: 0;
        border-radius: 0;
    }

</style>
<script>
    var Arr = [];
    var Arr2 = [];
    $(document).ready(function() {

        jQuery.validator.addMethod("ma_thu_tuc_vaild", function(value, element) {
            if (/[ `!#$%^&*()_+\-=\[\]{};':"\\|,<>\/?~]/.test(value)) {
                return false;
            } else {
                return true;
            };
        }, "Mã thử tục không nhập các kí tự đặc biệt [ `!#$%^&*()_+\-=\[\]{};':\\|,<>\/?~]");

        $('#form_pb').submit(function() {
            if ($("#cho_phep_lien_thong").is(':checked')) {
                if (($("#don_vi_ltxl").val() == '') && ($("#don_vi_ltph").val() == '')) {
                    alert('Chưa chọn đơn vị liên thông phối hợp hoặc xử lý.');
                    return false;
                }
                  if (($("#cho_phep_gui_lien_thong").val() == 'false') && ($("#cho_phep_nhan_lien_thong").val() == 'false')) {
                    alert('Chưa chọn cho phép gửi liên thông hoặc Cho phép nhận liên thông.');
                    return false;
                }
            }
            $("#form_pb").valid();
        });

        $('#form_pb').validate({
            rules: {
                ma_thu_tuc: {
                    required: true,
                    ma_thu_tuc_vaild: true
                },
                ma_quoc_gia: {
                    ma_thu_tuc_vaild: true
                },
                ten_thu_tuc: "required",
                ma_linh_vuc: "required",
                ma_phong_ban: "required",
                so_ngay_xl: "required",
                so_bo_hs: "required",
            },
            messages: {
                ma_thu_tuc: {
                    required: "Bạn cần nhập mã thủ tục!",
                },
                ten_thu_tuc: "Bạn cần nhập tên thủ tục!",
                ma_linh_vuc: "Bạn cần nhập lĩnh vực",
                ma_phong_ban: "Bạn cần nhập phòng ban",
                so_ngay_xl: "Bạn cần nhập số ngày xử lý",
                so_bo_hs: "Bạn cần nhập số bộ hồ sơ"
            }
        });
        function hideSelected(value) {
            if (value && !value.selected) {
                return $('<span>' + value.text + '</span>');
            }
        }

        $('.select2').select2({
            allowClear: true,
            templateResult: hideSelected
        });

        $("#nop_online").val($("#nop_online").is(':checked'));
        $('#nop_online').change(function() {
            if ($(this).is(':checked')) {
                $(".tab_thuc_hien").attr("style", "display:flex")
            } else {
                $(".tab_thuc_hien").attr("style", "display:none")
            }
            $('#nop_online').val($(this).is(':checked'));
        });

        $("#hd_online").val($("#hd_online").is(':checked'));
        $('#hd_online').change(function() {
            $('#hd_online').val($(this).is(':checked'));
        });

        $("#tthcc").val($("#tthcc").is(':checked'));
        $('#tthcc').change(function() {
            $('#tthcc').val($(this).is(':checked'));
        });

        $("#tthtks").val($("#tthtks").is(':checked'));
        $('#tthtks').change(function() {
            $('#tthtks').val($(this).is(':checked'));
        });

        $("#thu_le_phi_knhs").val($("#thu_le_phi_knhs").is(':checked'));
        $('#thu_le_phi_knhs').change(function() {
            $('#thu_le_phi_knhs').val($(this).is(':checked'));
        });

        $("#thu_le_phi_kckq").val($("#thu_le_phi_kckq").is(':checked'));
        $('#thu_le_phi_kckq').change(function() {
            $('#thu_le_phi_kckq').val($(this).is(':checked'));
        });

        $("#thuc_hien_hai_gd").val($("#thuc_hien_hai_gd").is(':checked'));
        $('#thuc_hien_hai_gd').change(function() {
            $('#thuc_hien_hai_gd').val($(this).is(':checked'));
        });

        $("#tra_kq_ktn").val($("#tra_kq_ktn").is(':checked'));
        $('#tra_kq_ktn').change(function() {
            $('#tra_kq_ktn').val($(this).is(':checked'));
        });

        $("#cho_phep_lien_thong").val($("#cho_phep_lien_thong").is(':checked'));
        $('#cho_phep_lien_thong').change(function() {
            if ($(this).is(':checked')) {
                $(".tab_lienthong").attr("style", "display:block")
            } else {
                $(".tab_lienthong").attr("style", "display:none")
            }
            $('#cho_phep_lien_thong').val($(this).is(':checked'));
        });

        $("#cho_phep_gui_lien_thong").val($("#cho_phep_gui_lien_thong").is(':checked'));
        $('#cho_phep_gui_lien_thong').change(function() {
            $('#cho_phep_gui_lien_thong').val($(this).is(':checked'));
        });

        $("#cho_phep_nhan_lien_thong").val($("#cho_phep_nhan_lien_thong").is(':checked'));
        $('#cho_phep_nhan_lien_thong').change(function() {
            $('#cho_phep_nhan_lien_thong').val($(this).is(':checked'));
        });

        $("#gui_lt_kem_kq_xl").val($("#gui_lt_kem_kq_xl").is(':checked'));
        $('#gui_lt_kem_kq_xl').change(function() {
            $('#gui_lt_kem_kq_xl').val($(this).is(':checked'));
        });

        $("#chi_tra_kq_kckqlt").val($("#chi_tra_kq_kckqlt").is(':checked'));
        $('#chi_tra_kq_kckqlt').change(function() {
            $('#chi_tra_kq_kckqlt').val($(this).is(':checked'));
        });

        $('#multiselect').on('select2:select', function(e) {
            Arr.push(e.params.data.id);
            $("#don_vi_ltxl").val(Arr.join(","));
            $('#multiselect2 option[value="' + e.params.data.id + '"]').remove();
        });

        $('#multiselect').on("select2:unselect", function(e) {
            Arr.pop(e.params.data.id);
            $("#don_vi_ltxl").val(Arr.join(","));
            $("#multiselect2").append($('<option>', { value: e.params.data.id, text: e.params.data.text }));
        });

        $('#multiselect2').on('select2:select', function(e) {
            Arr2.push(e.params.data.id);
            $("#don_vi_ltph").val(Arr2.join(","));
            $('#multiselect option[value="' + e.params.data.id + '"]').remove();
        });

        $('#multiselect2').on("select2:unselect", function(e) {
            Arr2.pop(e.params.data.id);
            $("#don_vi_ltph").val(Arr2.join(","));
            $("#multiselect").append($('<option>', { value: e.params.data.id, text: e.params.data.text }));
        });
    });
</script>
<div class="card">
    <div class="card-body">
        <div class="pageheader">
            <div class="pageicon"><span class="iconfa-pencil"></span></div>
            <div class="pagetitle">
                <h5>Thông tin</h5>
                <h1>Thủ tục hành chính</h1>
            </div>
        </div>
        <div class="maincontent">
            <div class="maincontentinner">
                <!-- Pills Tabs -->
                <div class="tab-primary" style="border: 2px solid #0866c6;">
                    <ul class="nav nav-pills" id="pills-tab" role="tablist" style="background: #0866c6;">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-tthc" role="tab" aria-controls="pills-home" aria-selected="true">Thủ tục hành chính</button>
                        </li>
                        <li class="nav-item ui-state-default ui-corner-top" role="presentation">
                            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-tp" role="tab" aria-controls="pills-profile" aria-selected="false" disabled>Thành phần</button>
                        </li>
                        <li class="nav-item ui-state-default ui-corner-top" role="presentation">
                            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-vblq" role="tab" aria-controls="pills-profile" aria-selected="false" disabled>Văn bản liên quan</button>
                        </li>
                        <li class="nav-item ui-state-default ui-corner-top" role="presentation">
                            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-ntp" role="tab" aria-controls="pills-profile" aria-selected="false" disabled>Nhóm thành phần</button>
                        </li>
                        <li class="nav-item ui-state-default ui-corner-top" role="presentation">
                            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-tpxlkq" role="tab" aria-controls="pills-profile" aria-selected="false" disabled>Thành phần xử lý kết quả</button>
                        </li>
                    </ul>

                    <div class="tab-content" id="myTabContent" style="padding: 15px;">
                        @*TAB Thủ tục hành chính*@
                        <div class="tab-pane fade show active" id="pills-tthc" role="tabpanel" aria-labelledby="home-tab">
                            <div class="">
                                <div class="form-horizontal">
                                    <!-- Horizontal Form -->
                                    <form id="form_pb" action="/ThuTuc/ThemThuTuc" method="post" enctype="multipart/form-data">
                                        <div class="row mb-3">
                                            <label for="ma_pb" class="col-sm-2 control-label">Mã thủ tục <span style="color:red">(*)</span></label>
                                            <div class="col-sm-8">
                                                <input onfocusout="CheckMa(this)" type="text" class="form-control input-default" placeholder="Mã thủ tục" name="ma_thu_tuc" value="@ViewBag.code">
                                            </div>
                                            <div class="col-sm-1">
                                                <button type="button" class="btn btn-primary" onclick="myModalPopup()" data-bs-toggle="modal" data-bs-target="#basicModal">
                                                    Chọn
                                                </button>

                                                <script>
                                                    function myModalPopup() {
                                                        $.ajax({
                                                            type: "GET",
                                                            url: "../ThuTuc/RenderViewThuTuc",
                                                            data: "",
                                                            contentType: 'application/json; charset=utf-8',
                                                            success: function(data) {
                                                                console.log(data);
                                                                $("#basicModal .modal-body").html(data);
                                                            }
                                                        });
                                                    }

                                                </script>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="ten_pb" class="col-sm-2 control-label">Mã quốc gia</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control input-default" placeholder="Mã chuẩn quốc gia" name="ma_quoc_gia" value="@ViewBag.code">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="ten_pb" class="col-sm-2 control-label">Tên thủ tục <span style="color:red">(*)</span></label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control input-default" placeholder="Tên thủ tục" name="ten_thu_tuc" value="">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="mota" class="col-sm-2 control-label">Mô tả</label>
                                            <div class="col-sm-8">
                                                <textarea class="form-control input-default" placeholder="Mô tả" name="mo_ta"></textarea>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="nop_online" class="col-sm-2 control-label"></label>
                                            <div class="col-sm-2">
                                                <input type="checkbox" id="nop_online" name="nop_online" value="0">
                                                <label for="nop_online">Nộp Online</label>

                                            </div>
                                            <div class="col-sm-4">
                                                <input type="checkbox" id="hd_online" name="hd_online" value="true" checked>
                                                <label for="hd_online">Hướng dẫn Online</label>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="tthcc" class="col-sm-2 control-label"></label>
                                            <div class="col-sm-2">
                                                <input type="checkbox" id="tthcc" name="tthcc" value="true" checked>
                                                <label for="tthcc">TN tại TTHCC</label>

                                            </div>
                                            <div class="col-sm-4">
                                                <input type="checkbox" id="tthtks" name="tthtks" value="0">
                                                <label for="tthtks">Thủ tục hộ tịch khai sinh</label>

                                            </div>
                                        </div>
                                        <div class="row mb-3 tab_thuc_hien" style="display:none">
                                            <label for="ten_pb" class="col-sm-2 control-label">Thực hiện</label>
                                            <div class="col-sm-8">
                                                <select class="form-select form-control input-default" name="thuc_hien">
                                                    @if (LstMucDoThucHien != null)
                                                    {
                                                        foreach (var item in LstMucDoThucHien)
                                                        {
                                                            <option value="@item.ma_thuc_hien">@item.ten_thuc_hien</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="ten_pb" class="col-sm-2 control-label">Lĩnh vực <span style="color:red">(*)</span></label>
                                            <div class="col-sm-8">
                                                <select class="form-select form-control input-default" name="ma_linh_vuc">
                                                    <option selected="selected" value="">---- Chọn lĩnh vực ----</option>
                                                    @if (LstLinhVuc != null)
                                                    {
                                                        foreach (var item in LstLinhVuc)
                                                        {
                                                            <option value="@item.ma_linh_vuc">@item.ten_linh_vuc</option>
                                                        }
                                                    }

                                                </select>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="ten_pb" class="col-sm-2 control-label">Phòng Ban <span style="color:red">(*)</span></label>
                                            <div class="col-sm-8">
                                                <select class="form-select form-control input-default" name="ma_phong_ban">
                                                    <option selected="selected" value="">---- Chọn phòng ban ----</option>
                                                    @if (LstPhongBan != null)
                                                    {
                                                        foreach (var item in LstPhongBan)
                                                        {
                                                            <option value="@item.ma_phong_ban">@item.ten_phong_ban</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="so_ngay_xl" class="col-sm-2 control-label">Số ngày xử lý <span style="color:red">(*)</span></label>
                                            <div class="col-sm-8">
                                                <input type="number" class="form-control input-default" placeholder="Số ngày xử lý" name="so_ngay_xl" value="">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="le_phi_truoc" class="col-sm-2 control-label">Lệ phí trước</label>
                                            <div class="col-sm-8">
                                                <input type="number" class="form-control input-default" placeholder="Lệ phí" name="le_phi_truoc" value="">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="le_phi_sau" class="col-sm-2 control-label">Lệ phí sau</label>
                                            <div class="col-sm-8">
                                                <input type="number" class="form-control input-default" placeholder="Lệ phí" name="le_phi_sau" value="">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="so_bo_hs" class="col-sm-2 control-label">Số bộ hồ sơ <span style="color:red">(*)</span></label>
                                            <div class="col-sm-8">
                                                <input type="number" class="form-control input-default" placeholder="Số bộ hồ sơ" name="so_bo_hs" value="1">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="ten_pb" class="col-sm-2 control-label">Đường dẫn phôi KQ</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control input-default" placeholder="Đường dẫn phôi kết quả" name="duong_dan_kq" value="">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="ten_pb" class="col-sm-2 control-label">Thông tin mở rộng</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control input-default" placeholder="Thông tin mở rộng" name="thong_tin_mo_rong" value="">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="ten_pb" class="col-sm-2 control-label">Nội dung hướng dẫn</label>
                                            <div class="col-sm-8">
                                                <textarea id="ckedit2" class="form-control input-default" placeholder="Nội dung hướng dẫn" name="noi_dung_hd"></textarea>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="stt" class="col-sm-2 control-label">Thứ tự</label>
                                            <div class="col-sm-8">
                                                <input type="number" class="form-control input-default" placeholder="Thứ thự" name="stt" value="">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="thu_le_phi_knhs" class="col-sm-2 control-label"></label>
                                            <div class="col-sm-3">
                                                <input type="checkbox" id="thu_le_phi_knhs" name="thu_le_phi_knhs" value="0">
                                                <label for="thu_le_phi_knhs">Thu lệ phí khi nhận hồ sơ</label>

                                            </div>
                                            <div class="col-sm-3">
                                                <input type="checkbox" id="thu_le_phi_kckq" name="thu_le_phi_kckq" value="0">
                                                <label for="thu_le_phi_kckq">Thu lệ phí khi có kết quả</label>

                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="thu_le_phi_knhs" class="col-sm-2 control-label"></label>
                                            <div class="col-sm-3">
                                                <input type="checkbox" id="thuc_hien_hai_gd" name="thuc_hien_hai_gd" value="0">
                                                <label for="thuc_hien_hai_gd">Thực hiện hai giai đoạn</label>

                                            </div>
                                            <div class="col-sm-3">
                                                <input type="checkbox" id="tra_kq_ktn" name="tra_kq_ktn" value="0">
                                                <label for="tra_kq_ktn">Trả kết quả khi tiếp nhận</label>

                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="cho_phep_lien_thong" class="col-sm-2 control-label">Cho phép liên thông</label>
                                            <div class="col-sm-8">
                                                <input type="checkbox" id="cho_phep_lien_thong" name="cho_phep_lien_thong">
                                            </div>
                                        </div>
                                        <div class="tab_lienthong" style="display:none">
                                            <div class="row mb-3">
                                                <label for="cho_phep_gui_lien_thong" class="col-sm-2 control-label"></label>
                                                <div class="col-sm-3">
                                                    <input type="checkbox" id="cho_phep_gui_lien_thong" name="cho_phep_gui_lien_thong" value="0">
                                                    <label for="cho_phep_gui_lien_thong">Cho phép gửi liên thông</label>
                                                </div>
                                                <div class="col-sm-3">
                                                    <input id="cho_phep_nhan_lien_thong" type="checkbox" name="cho_phep_nhan_lien_thong" value="0">
                                                    <label for="cho_phep_nhan_lien_thong">Cho phép nhận liên thông</label>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <label for="don_vi_ltxl" class="col-sm-2 control-label">Đơn vị liên thông XL</label>
                                                <div class="col-sm-8">
                                                    <select id="multiselect" class="select2 form-select form-control input-default" multiple data-placeholder="Chọn đơn vị liên thông xử lý" style="width: 100%;" tabindex="-1" aria-hidden="true">
                                                        @if (LstDonViLienThong != null)
                                                        {
                                                            foreach (var item in LstDonViLienThong)
                                                            {
                                                                <option value="@item.ma_don_vi">@item.ten_don_vi</option>
                                                            }
                                                        }
                                                    </select>
                                                    <input name="don_vi_ltxl" type="text" id="don_vi_ltxl" class="form-control input-default" hidden>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <label for="don_vi_ltph" class="col-sm-2 control-label">Đơn vị liên thông PH</label>
                                                <div class="col-sm-8">
                                                    <select id="multiselect2" class="select2 form-select form-control input-default" multiple data-placeholder="Chọn đơn vị liên thông phối hợp" style="width: 100%;" tabindex="-1" aria-hidden="true">
                                                        @if (LstDonViLienThong != null)
                                                        {
                                                            foreach (var item in LstDonViLienThong)
                                                            {
                                                                <option value="@item.ma_don_vi">@item.ten_don_vi</option>
                                                            }
                                                        }
                                                    </select>
                                                    <input name="don_vi_ltph" type="text" id="don_vi_ltph" class="form-control input-default" hidden>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <label for="gui_lt_kem_kq_xl" class="col-sm-2 control-label"></label>
                                                <div class="col-sm-4">
                                                    <input type="checkbox" id="gui_lt_kem_kq_xl" name="gui_lt_kem_kq_xl" value="0">
                                                    <label for="gui_lt_kem_kq_xl">Gửi liên thông kèm kết quả xử lý</label>
                                                </div>
                                                <div class="col-sm-5">
                                                    <input type="checkbox" id="chi_tra_kq_kckqlt" name="chi_tra_kq_kckqlt" value="0">
                                                    <label for="chi_tra_kq_kckqlt">Chỉ trả kết quả khi có kết quả liên thông</label>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary" name="type_view" value="@(StatusAction.View.ToString())">Lưu</button>
                                            <button type="button" class="btn btn-secondary" onclick="window.location.href='/Thutuc/QuanLy';">Đóng</button>
                                        </div>
                                    </form><!-- End Horizontal Form -->
                                </div>
                            </div>
                        </div>
                        @*TAB thành phần *@
                        <div class="tab-pane fade" id="pills-tp" role="tabpanel" aria-labelledby="profile-tab">
                            <p class="stdformbutton" style="margin-bottom: 10px;">
                                <input type="button" name="" value="Thêm" id="" class="btn btn-primary" style="width:100px;" />
                                <input type="button" name="" value="Xóa" id="" class="btn btn-primary" style="width:100px;" />
                            </p>
                            <select name="ctl08$ctl00$ctl02$MaNhomTT" onchange="javascript:setTimeout('__doPostBack(\'ctl08$ctl00$ctl02$MaNhomTT\',\'\')', 0)" id="MaNhomTT" class="form-control input-default form-nhom" placeholder="Chọn nhóm...">
                                <option selected="selected" value="0">------------- Chọn nhóm thành phần hồ sơ -------------</option>
                            </select>
                            <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
                                <div class="dataTable-container">
                                    <table class="table table-bordered responsive">
                                        <thead class="widgettitle">
                                            <tr>
                                                <th class="head0 nosort" scope="col" data-sortable="" style="width: 5%;">
                                                    <input type="checkbox" name="" id="selectAll" />
                                                </th>
                                                <th class="head0" scope="col" data-sortable="" style="width: 5%;">STT</th>
                                                <th class="head1" scope="col" data-sortable="" style="width: 20%;">TÊN</th>
                                                <th class="head0" scope="col" data-sortable="" style="width: 30%;">MÔ TẢ</th>
                                                <th class="head1" scope="col" data-sortable="" style="width: 5%;">#</th>
                                                <th class="head0" scope="col" data-sortable="" style="width: 5%;">#</th>
                                                <th class="head1" scope="col" data-sortable="" style="width: 5%;">#</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.lstThanhPhan != null)
                                            {
                                                foreach (var item in Model.lstThanhPhan)
                                                {
                                                    <tr>
                                                        <td><input type="checkbox" class="ads_Checkbox_tp" value="@item.ma_thanh_phan" /></td>
                                                        <td scope="row">
                                                            1
                                                            <input type="hidden" value="@item.ma_thanh_phan" />
                                                        </td>
                                                        <td><a href="#">@item.ten_thanh_phan</a></td>

                                                        <td>@item.mo_ta</td>
                                                        <td>
                                                            <a id="" title="" data-placement="top" data-toggle="tooltip" data-original-title="Xem" href="#">
                                                                <span class="glyphicon glyphicon-list-alt">Xem</span>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a id="" title="" data-placement="top" data-toggle="tooltip" data-original-title="Sửa" href="#">
                                                                <span class="glyphicon glyphicon-edit">Sửa</span>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a onclick=""
                                                       title=""
                                                       data-placement="top"
                                                       data-toggle="tooltip"
                                                       data-original-title="Xóa"
                                                       href="#">
                                                                <span class="glyphicon glyphicon-trash">Xóa</span>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                }

                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="dataTables_info" id="dyntable_info">Hiển thị @Model.PagelistThanhPhan.RecoredFrom đến  @Model.PagelistThanhPhan.RecoredTo của @Model.PagelistThanhPhan.TotalRecords bản ghi</div>
                                <div class="dataTables_paginate paging_full_numbers" id="dyntable_paginate">
                                    @{
                                        var TotalPage = Model.PagelistThanhPhan.TotalPage;
                                        var CurrentPage = Model.PagelistThanhPhan.CurrentPage;
                                        if (TotalPage > 5)
                                        {
                                            if (CurrentPage > CurrentPage + 2)
                                            {
                                                <span><a class="first paginate_button paginate_button_disabled" onclick="GetListByCurrentPage(1)">Đầu</a></span>
                                                <span><a class="first paginate_button paginate_button_disabled" onclick="GetListByCurrentPage(@CurrentPage - 1)">Trước</a></span>
                                            };
                                            if (CurrentPage > 3)
                                            {
                                                for (int i = CurrentPage - 2; i < CurrentPage + 2; i++)
                                                {
                                                    if (i == CurrentPage)
                                                    {
                                                        <span><a tabindex="0" class="active paginate_active" onclick="GetListByCurrentPage(@i)">@i</a></span>
                                                    }
                                                    else
                                                    {
                                                        <span><a tabindex="0" class=" paginate_active" onclick="GetListByCurrentPage(@i)">@i</a></span>
                                                    }
                                                }
                                            }
                                            else
                                            {
                                                for (int i = 1; i <= 5; i++)
                                                {
                                                    if (i == CurrentPage)
                                                    {
                                                        <span><a tabindex="0" class="active paginate_active" onclick="GetListByCurrentPage(@i)">@i</a></span>
                                                    }
                                                    else
                                                    {
                                                        <span><a tabindex="0" class=" paginate_active" onclick="GetListByCurrentPage(@i)">@i</a></span>
                                                    }
                                                }

                                            }

                                            if (CurrentPage < CurrentPage + 2)
                                            {
                                                <span> <a class="first paginate_button paginate_button_disabled" onclick="GetListByCurrentPage(@CurrentPage + 1)">Trước</a></span>
                                                <span><a class="first paginate_button paginate_button_disabled" onclick="GetListByCurrentPage(@TotalPage)">Cuối</a></span>
                                            };
                                        }
                                        else
                                        {
                                            for (int i = 1; i <= TotalPage; i++)
                                            {
                                                if (i == CurrentPage)
                                                {
                                                    <span><a tabindex="0" class="active paginate_active" onclick="GetListByCurrentPage(@i)">@i</a></span>
                                                }
                                                else
                                                {
                                                    <span><a tabindex="0" class=" paginate_active" onclick="GetListByCurrentPage(@i)">@i</a></span>
                                                }
                                            }
                                        }
                                    }
                                </div>

                                <!-- End Table with stripped rows -->

                            </div>
                        </div>
                        @*TAB Văn bản liên quan *@
                        <div class="tab-pane fade" id="pills-vblq" role="tabpanel" aria-labelledby="profile-tab">
                            <p class="stdformbutton" style="margin-bottom: 10px;">
                                <input type="submit" name="" value="Thêm" id="" class="btn btn-primary" style="width:100px;" />
                                <input type="submit" name="" value="Xóa" id="" class="btn btn-primary" style="width:100px;" />
                            </p>
                            <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
                                <div class="dataTable-container">
                                    <table class="table table-bordered responsive">
                                        <thead class="widgettitle">
                                            <tr>
                                                <th class="head0 nosort" scope="col" data-sortable="" style="width: 5%;">
                                                    <input type="checkbox" name="" id="selectAll" />
                                                </th>
                                                <th class="head0" scope="col" data-sortable="" style="width: 5%;">STT</th>
                                                <th class="head1" scope="col" data-sortable="" style="width: 45%;">TÊN</th>
                                                <th class="head1" scope="col" data-sortable="" style="width: 5%;">#</th>
                                                <th class="head1" scope="col" data-sortable="" style="width: 5%;">#</th>
                                                <th class="head0" scope="col" data-sortable="" style="width: 5%;">#</th>
                                                <th class="head1" scope="col" data-sortable="" style="width: 5%;">#</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.lstVanBanLQ != null)
                                            {
                                                foreach (var item in Model.lstVanBanLQ)
                                                {
                                                    <tr>
                                                        <td><input type="checkbox" class="ads_Checkbox_vplq" value="@item.ma_van_ban" /></td>
                                                        <td scope="row">
                                                            1
                                                            <input type="hidden" value="@item.ma_van_ban" />
                                                        </td>
                                                        <td><a href="#">@item.ten_van_ban</a></td>

                                                        <td>@item.file_dinh_kem</td>
                                                        <td>
                                                            <a id="" title="" data-placement="top" data-toggle="tooltip" data-original-title="Xem" href="#">
                                                                <span class="glyphicon glyphicon-list-alt">Xem</span>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a id="" title="" data-placement="top" data-toggle="tooltip" data-original-title="Sửa" href="#">
                                                                <span class="glyphicon glyphicon-edit">Sửa</span>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a onclick=""
                                                       title=""
                                                       data-placement="top"
                                                       data-toggle="tooltip"
                                                       data-original-title="Xóa"
                                                       href="#">
                                                                <span class="glyphicon glyphicon-trash">Xóa</span>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                }
                                            }

                                        </tbody>
                                    </table>
                                </div>
                                <div class="dataTables_info" id="dyntable_info">Hiển thị @Model.PagelistVanBanLQ.RecoredFrom đến  @Model.PagelistVanBanLQ.RecoredTo của @Model.PagelistThanhPhan.TotalRecords bản ghi</div>
                                <div class="dataTables_paginate paging_full_numbers" id="dyntable_paginate">
                                    @{
                                        var TotalPageVblq = Model.PagelistVanBanLQ.TotalPage;
                                        var CurrentPageVblq = Model.PagelistVanBanLQ.CurrentPage;
                                        if (TotalPageVblq > 5)
                                        {
                                            if (CurrentPageVblq > CurrentPageVblq + 2)
                                            {
                                                <span><a class="first paginate_button paginate_button_disabled" onclick="GetListByCurrentPage(1)">Đầu</a></span>
                                                <span><a class="first paginate_button paginate_button_disabled" onclick="GetListByCurrentPage(@CurrentPageVblq - 1)">Trước</a></span>
                                            };
                                            if (CurrentPageVblq > 3)
                                            {
                                                for (int i = CurrentPageVblq - 2; i < CurrentPageVblq + 2; i++)
                                                {
                                                    if (i == CurrentPageVblq)
                                                    {
                                                        <span><a tabindex="0" class="active paginate_active" onclick="GetListByCurrentPage(@i)">@i</a></span>
                                                    }
                                                    else
                                                    {
                                                        <span><a tabindex="0" class=" paginate_active" onclick="GetListByCurrentPage(@i)">@i</a></span>
                                                    }
                                                }
                                            }
                                            else
                                            {
                                                for (int i = 1; i <= 5; i++)
                                                {
                                                    if (i == CurrentPageVblq)
                                                    {
                                                        <span><a tabindex="0" class="active paginate_active" onclick="GetListByCurrentPage(@i)">@i</a></span>
                                                    }
                                                    else
                                                    {
                                                        <span><a tabindex="0" class=" paginate_active" onclick="GetListByCurrentPage(@i)">@i</a></span>
                                                    }
                                                }

                                            }

                                            if (CurrentPageVblq < CurrentPageVblq + 2)
                                            {
                                                <span> <a class="first paginate_button paginate_button_disabled" onclick="GetListByCurrentPage(@CurrentPageVblq + 1)">Trước</a></span>
                                                <span><a class="first paginate_button paginate_button_disabled" onclick="GetListByCurrentPage(@TotalPageVblq)">Cuối</a></span>
                                            };
                                        }
                                        else
                                        {
                                            for (int i = 1; i <= TotalPageVblq; i++)
                                            {
                                                if (i == CurrentPageVblq)
                                                {
                                                    <span><a tabindex="0" class="active paginate_active" onclick="GetListByCurrentPage(@i)">@i</a></span>
                                                }
                                                else
                                                {
                                                    <span><a tabindex="0" class=" paginate_active" onclick="GetListByCurrentPage(@i)">@i</a></span>
                                                }
                                            }
                                        }
                                    }
                                </div>

                                <!-- End Table with stripped rows -->

                            </div>
                        </div>
                        @*TAB Nhóm thành phần *@
                        <div class="tab-pane fade" id="pills-ntp" role="tabpanel" aria-labelledby="profile-tab">
                            <p class="stdformbutton" style="margin-bottom: 10px;">
                                <input type="submit" name="ctl08$BtnAdd" value="Thêm" id="" class="btn btn-primary" style="width:100px;" />
                                <input type="submit" name="ctl08$BtnAdd" value="Xóa" id="" class="btn btn-primary" style="width:100px;" />
                            </p>
                            <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">

                                <div class="dataTable-container">
                                    <table class="table table-bordered responsive">
                                        <thead class="widgettitle">
                                            <tr>
                                                <th class="head0 nosort" scope="col" data-sortable="" style="width: 5%;">
                                                    <input type="checkbox" name="" id="selectAll" />
                                                </th>
                                                <th class="head0" scope="col" data-sortable="" style="width: 5%;">STT</th>
                                                <th class="head1" scope="col" data-sortable="" style="width: 80%;">TÊN NHÓM</th>
                                                <th class="head1" scope="col" data-sortable="" style="width: 5%;">#</th>
                                                <th class="head0" scope="col" data-sortable="" style="width: 5%;">#</th>
                                                <th class="head1" scope="col" data-sortable="" style="width: 5%;">#</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.lstNhomTP != null)
                                            {
                                                foreach (var item in Model.lstNhomTP)
                                                {
                                                    <tr>
                                                        <td><input type="checkbox" class="ads_Checkbox_ntp" value="@item.ma_mhom" /></td>
                                                        <td scope="row">
                                                            1
                                                            <input type="hidden" value="@item.ma_mhom" />
                                                        </td>
                                                        <td><a href="#">@item.ten_nhom</a></td>
                                                        <td>
                                                            <a id="" title="" data-placement="top" data-toggle="tooltip" data-original-title="Xem" href="#">
                                                                <span class="glyphicon glyphicon-list-alt">Xem</span>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a id="" title="" data-placement="top" data-toggle="tooltip" data-original-title="Sửa" href="#">
                                                                <span class="glyphicon glyphicon-edit">Sửa</span>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a onclick=""
                                                       title=""
                                                       data-placement="top"
                                                       data-toggle="tooltip"
                                                       data-original-title="Xóa"
                                                       href="#">
                                                                <span class="glyphicon glyphicon-trash">Xóa</span>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                }
                                            }

                                        </tbody>
                                    </table>
                                </div>
                                <div class="dataTables_info" id="dyntable_info">Hiển thị @Model.PagelistNhomTP.RecoredFrom đến  @Model.PagelistNhomTP.RecoredTo của @Model.PagelistThanhPhan.TotalRecords bản ghi</div>
                                <div class="dataTables_paginate paging_full_numbers" id="dyntable_paginate">
                                    @{
                                        var TotalPageNtp = Model.PagelistNhomTP.TotalPage;
                                        var CurrentPageNtp = Model.PagelistNhomTP.CurrentPage;
                                        if (TotalPageNtp > 5)
                                        {
                                            if (CurrentPageNtp > CurrentPageNtp + 2)
                                            {
                                                <span><a class="first paginate_button paginate_button_disabled" onclick="GetListByCurrentPage(1)">Đầu</a></span>
                                                <span><a class="first paginate_button paginate_button_disabled" onclick="GetListByCurrentPage(@CurrentPageNtp - 1)">Trước</a></span>
                                            };
                                            if (CurrentPageNtp > 3)
                                            {
                                                for (int i = CurrentPageNtp - 2; i < CurrentPageNtp + 2; i++)
                                                {
                                                    if (i == CurrentPageNtp)
                                                    {
                                                        <span><a tabindex="0" class="active paginate_active" onclick="GetListByCurrentPage(@i)">@i</a></span>
                                                    }
                                                    else
                                                    {
                                                        <span><a tabindex="0" class=" paginate_active" onclick="GetListByCurrentPage(@i)">@i</a></span>
                                                    }
                                                }
                                            }
                                            else
                                            {
                                                for (int i = 1; i <= 5; i++)
                                                {
                                                    if (i == CurrentPageNtp)
                                                    {
                                                        <span><a tabindex="0" class="active paginate_active" onclick="GetListByCurrentPage(@i)">@i</a></span>
                                                    }
                                                    else
                                                    {
                                                        <span><a tabindex="0" class=" paginate_active" onclick="GetListByCurrentPage(@i)">@i</a></span>
                                                    }
                                                }

                                            }

                                            if (CurrentPageNtp < CurrentPageNtp + 2)
                                            {
                                                <span> <a class="first paginate_button paginate_button_disabled" onclick="GetListByCurrentPage(@CurrentPageNtp + 1)">Trước</a></span>
                                                <span><a class="first paginate_button paginate_button_disabled" onclick="GetListByCurrentPage(@TotalPageNtp)">Cuối</a></span>
                                            };
                                        }
                                        else
                                        {
                                            for (int i = 1; i <= TotalPageNtp; i++)
                                            {
                                                if (i == CurrentPageNtp)
                                                {
                                                    <span><a tabindex="0" class="active paginate_active" onclick="GetListByCurrentPage(@i)">@i</a></span>
                                                }
                                                else
                                                {
                                                    <span><a tabindex="0" class=" paginate_active" onclick="GetListByCurrentPage(@i)">@i</a></span>
                                                }
                                            }
                                        }
                                    }
                                </div>

                                <!-- End Table with stripped rows -->

                            </div>
                        </div>
                        @*TAB Thành phần kết quả xử lý *@
                        <div class="tab-pane fade" id="pills-tpxlkq" role="tabpanel" aria-labelledby="profile-tab">
                            <p class="stdformbutton" style="margin-bottom: 10px;">
                                <input type="submit" name="ctl08$BtnAdd" value="Thêm" id="" class="btn btn-primary" style="width:100px;" />
                                <input type="submit" name="ctl08$BtnAdd" value="Xóa" id="" class="btn btn-primary" style="width:100px;" />
                            </p>
                            <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
                                <div class="dataTable-container">
                                    <table class="table table-bordered responsive">
                                        <thead class="widgettitle">
                                            <tr>
                                                <th class="head0 nosort" scope="col" data-sortable="" style="width: 5%;">
                                                    <input type="checkbox" name="" id="selectAll" />
                                                </th>
                                                <th class="head0" scope="col" data-sortable="" style="width: 5%;">STT</th>
                                                <th class="head1" scope="col" data-sortable="" style="width: 20%;">TÊN</th>
                                                <th class="head0" scope="col" data-sortable="" style="width: 30%;">MÔ TẢ</th>
                                                <th class="head1" scope="col" data-sortable="" style="width: 5%;">#</th>
                                                <th class="head0" scope="col" data-sortable="" style="width: 5%;">#</th>
                                                <th class="head1" scope="col" data-sortable="" style="width: 5%;">#</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.lstThanhPhanKQXL != null)
                                            {
                                                foreach (var item in Model.lstThanhPhanKQXL)
                                                {
                                                    <tr>
                                                        <td><input type="checkbox" class="ads_Checkbox_Tpkqxl" value="@item.ma_tp_kq" /></td>
                                                        <td scope="row">
                                                            1
                                                            <input type="hidden" value="@item.ma_tp_kq" />
                                                        </td>
                                                        <td><a href="#">@item.ma_tp_kq</a></td>
                                                        <td>@item.mo_ta</td>
                                                        <td>
                                                            <a id="" title="" data-placement="top" data-toggle="tooltip" data-original-title="Xem" href="#">
                                                                <span class="glyphicon glyphicon-list-alt">Xem</span>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a id="" title="" data-placement="top" data-toggle="tooltip" data-original-title="Sửa" href="#">
                                                                <span class="glyphicon glyphicon-edit">Sửa</span>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a onclick=""
                                                       title=""
                                                       data-placement="top"
                                                       data-toggle="tooltip"
                                                       data-original-title="Xóa"
                                                       href="#">
                                                                <span class="glyphicon glyphicon-trash">Xóa</span>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                }
                                            }

                                        </tbody>
                                    </table>
                                </div>
                                <div class="dataTables_info" id="dyntable_info">Hiển thị @Model.PagelisthanhPhanKQXL.RecoredFrom đến  @Model.PagelisthanhPhanKQXL.RecoredTo của @Model.PagelistThanhPhan.TotalRecords bản ghi</div>
                                <div class="dataTables_paginate paging_full_numbers" id="dyntable_paginate">
                                    @{
                                        var TotalPageTpkqxl = Model.PagelisthanhPhanKQXL.TotalPage;
                                        var CurrentPageTpkqxl = Model.PagelisthanhPhanKQXL.CurrentPage;
                                        if (TotalPageTpkqxl > 5)
                                        {
                                            if (CurrentPageTpkqxl > CurrentPageTpkqxl + 2)
                                            {
                                                <span><a class="first paginate_button paginate_button_disabled" onclick="GetListByCurrentPage(1)">Đầu</a></span>
                                                <span><a class="first paginate_button paginate_button_disabled" onclick="GetListByCurrentPage(@CurrentPageTpkqxl - 1)">Trước</a></span>
                                            };
                                            if (CurrentPageTpkqxl > 3)
                                            {
                                                for (int i = CurrentPageTpkqxl - 2; i < CurrentPageTpkqxl + 2; i++)
                                                {
                                                    if (i == CurrentPageTpkqxl)
                                                    {
                                                        <span><a tabindex="0" class="active paginate_active" onclick="GetListByCurrentPage(@i)">@i</a></span>
                                                    }
                                                    else
                                                    {
                                                        <span><a tabindex="0" class=" paginate_active" onclick="GetListByCurrentPage(@i)">@i</a></span>
                                                    }
                                                }
                                            }
                                            else
                                            {
                                                for (int i = 1; i <= 5; i++)
                                                {
                                                    if (i == CurrentPageTpkqxl)
                                                    {
                                                        <span><a tabindex="0" class="active paginate_active" onclick="GetListByCurrentPage(@i)">@i</a></span>
                                                    }
                                                    else
                                                    {
                                                        <span><a tabindex="0" class=" paginate_active" onclick="GetListByCurrentPage(@i)">@i</a></span>
                                                    }
                                                }

                                            }

                                            if (CurrentPageTpkqxl < CurrentPageTpkqxl + 2)
                                            {
                                                <span> <a class="first paginate_button paginate_button_disabled" onclick="GetListByCurrentPage(@CurrentPageTpkqxl + 1)">Trước</a></span>
                                                <span><a class="first paginate_button paginate_button_disabled" onclick="GetListByCurrentPage(@TotalPageTpkqxl)">Cuối</a></span>
                                            };
                                        }
                                        else
                                        {
                                            for (int i = 1; i <= TotalPageTpkqxl; i++)
                                            {
                                                if (i == CurrentPageTpkqxl)
                                                {
                                                    <span><a tabindex="0" class="active paginate_active" onclick="GetListByCurrentPage(@i)">@i</a></span>
                                                }
                                                else
                                                {
                                                    <span><a tabindex="0" class=" paginate_active" onclick="GetListByCurrentPage(@i)">@i</a></span>
                                                }
                                            }
                                        }
                                    }
                                </div>


                                <!-- End Table with stripped rows -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End Pills Tabs -->

    </div>
</div>
<!-- Basic Modal -->

<div class="modal fade" id="basicModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header widgettitle">
                <h5 class="modal-title">Danh sách</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div><!-- End Basic Modal-->

<script>

    CKEDITOR.replace('ckedit2');

    function CheckMa(data) {
        if (data.value != "") {
            var dataPost = { code: data.value };
            $.ajax({
                url: "/ThuTuc/CheckMaTTHC",
                type: "post",
                contentType: 'application/x-www-form-urlencoded',
                data: dataPost,
                success: function(result) {
                    window.location.href = result.href;
                }
            });
        }

    };

</script>  