
@{
    ViewData["Title"] = "Chỉnh sửa Listing";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model HG.WebApp.Dto.ListtingDTO
<style>
    .titleNotify{
        font-size: 14px;
        margin-left: 150px;
    }
</style>
<script src="~/BackEnd/ckeditor/ckeditor.js"></script>
<script src="~/BackEnd/ckfinder/ckfinder.js"></script>
<script src="~/BackEnd/ckeditor/config.js"></script>

<script>
    $(document).ready(function () {
        $('#publicdate').datepicker({
            autoclose: true
        });
        CKEDITOR.replace("Description", {
            language: 'vi',
            filebrowserBrowseUrl: "/BackEnd/ckfinder/ckfinder.html",
            filebrowserImageBrowseUrl: '/BackEnd/ckfinder/ckfinder.html?Type=Images',
            filebrowserFlashBrowseUrl: '/BackEnd/ckfinder/ckfinder.html?Type=Flash',
            height: 350
        });
        $("#files").on('change', function () {
            // Checking whether FormData is available in browser
            if (window.FormData !== undefined) {
                var fileUpload = $(this).get(0);
                var files = fileUpload.files;
                // Create FormData object
                var fileData = new FormData();
                // Looping over all files and add it to FormData object
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }
                // Adding one more key to FormData object
                fileData.append('username', 'Manas');
                $.ajax({
                    url: '/Upload/UploadFiles?folder=news',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    success: function (result) {
                        console.log(result);
                        $(this).val('');
                        for (var i = 0; i < result.files.length; i++) {
                            //CKEDITOR.instances['Description'].insertHtml('<img src="' + result.files[i] + '">');
                              $('#view-card').attr('src', result.files[i]);
                              $('#ImagePath').val(""+result.files[i]+"");
                        }
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });
            } else {
                alert("FormData is not supported.");
            }
        });
        
                                                   
    });
    
                                          
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#view-card').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    };
    $("#files").change(function () {
        readURL(this);
    });

     
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSatBidg7orVIJ6rvmrCriN5VqMkLY9K4&callback"></script>
 <script src="~/BackEnd/Admin/Js/Validate/listting.js"></script>
<script type="text/javascript"> 
    
    $(document).ready(function () {
             listting.validateForm();
            //Set the Latitude and Longitude of the Map  
            var myAddress = new google.maps.LatLng(21.028511, 105.804817);  
              var geocoder = new google.maps.Geocoder();
            //Create Options or set different Characteristics of Google Map  
            var mapOptions = {  
                center: myAddress,  
                zoom: 15,  
                minZoom: 15,  
                mapTypeId: google.maps.MapTypeId.ROADMAP  
            };  
  
            //Display the Google map in the div control with the defined Options  
            var map = new google.maps.Map(document.getElementById("myDiv"), mapOptions);  
  
            //Set Marker on the Map  
            var marker = new google.maps.Marker({  
                position: myAddress,  
                animation: google.maps.Animation.BOUNCE,  
            });  
            google.maps.event.addListener(map, 'click', function(event) {
                      geocoder.geocode({
                        'latLng': event.latLng
                      }, function(results, status) {
                        if (status == google.maps.GeocoderStatus.OK) {
                          if (results[0]) {
                             $('#Locations_Address').val(results[0].formatted_address);
                             $('#Locations_Latitude').val(results[0].geometry.location.lat());
                             $('#Locations_Longitude').val(results[0].geometry.location.lng());
                          }
                        }
                      });
                   });
            marker.setMap(map);   
    })
    </script>  
<div class="container-fluid">
    <div class="">
            <div class="box-header with-border">
                <h3 class="box-title">Thêm mới Listting</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            @using (Html.BeginForm("Edit", "Admin", FormMethod.Post, new { @class = "row", enctype = "multipart/form-data", id = "formnews" }))
            {
                 <div class="col-md-6"> 
                                            <div class="card card-primary">
                         <div class="card-header">
                            <h3 class="card-title">Contact Info</h3>
                         </div>
                     <div class="card-body">
                                <div class="col-md-6 form-group">
                                <label><i class="fa fa-phone fa-fw"></i> Tiêu đề</label>
                                    <div class="col-sm-10">
                                         @Html.HiddenFor(g => g.Id)
                                        @Html.TextBoxFor(g => g.Title, new { @class = "form-control" })
                                    </div>
                                </div> 
                                  <div class="col-md-6 form-group">
                                <label><i class="fa fa-globe fa-fw"></i> Website</label>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(g => g.WebSite, new { @class = "form-control" })
                                    </div>
                                </div> 
                     </div>   </div>
                 </div>
                <div class="col-md-6">
                    <div class="card card-primary">
                         <div class="card-header">
                            <h3 class="card-title">Contact Info</h3>
                         </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                    <label><i class="fa fa-phone fa-fw"></i> Tiêu đề Seo</label>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(g => g.TitleSeo, new { @class = "form-control" })
                                    </div>
                                </div>
                                 <div class="col-md-6 form-group">
                                     <label><i class="fa fa-phone fa-fw"></i> Số điện thoại</label>
                                     <div class="col-sm-10">
                                        @Html.TextBoxFor(g => g.Phone, new { @class = "form-control" })
                                     </div>
                                </div>
                        </div>       
                    </div> </div> </div>
                <div class="col-md-6">
                       <div class="card card-success">
                         <div class="card-header">
                            <h3 class="card-title">Ceo Info</h3>
                         </div>
                        <div class="card-body">
                                <div class="form-group">
                                <label class="col-sm-2 control-label"><i class="fa fa-phone fa-fw"></i> Số điện thoại</label>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(g => g.customerCeo.Phone, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"> <i class="fa fa-mobile fa-fw"></i>  Mobile Number</label>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(g => g.customerCeo.MobileNumber, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"> <i class="fa fa-fax fa-fw"></i> Fax Number</label>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(g => g.customerCeo.FaxNumber, new { @class = "form-control" })
                                    </div>
                                    <!-- /.input group -->
                                </div>    
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"> <i class="fa fa-envelope fa-fw"></i>  E-mail</label>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(g => g.customerCeo.Gmail, new { @class = "form-control" })
                                    </div>
                                    <!-- /.input group -->
                                </div>    
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"> <i class="fa fa-globe fa-fw"></i> Website</label>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(g => g.customerCeo.WebUri, new { @class = "form-control" })
                                    </div>
                                </div>
                                 <div class="form-group">
                                    <label class="col-sm-2 control-label"> <i class="fa fa-globe fa-fw"></i> TaxCode</label>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(g => g.customerCeo.TaxNumber, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"> <i class="fa fa-globe fa-fw"></i> Địa chỉ</label>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(g => g.customerCeo.Address, new { @class = "form-control" })
                                    </div>
                                </div>
                                </div>
                    </div>
                </div>
                <div class="col-md-6">
                          <div class="card card-success">
                          <div class="card-header">
                            <h3 class="card-title">Social Accounts</h3>
                          </div>
                          <div class="card-body">
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><i class="fa fa-twitter-square fa-fw"></i>  Twitter</label>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(g => g.customerCeo.Tweit, new { @class = "form-control" })
                                    </div>
                            </div>
                             <div class="form-group">
                                <label class="col-sm-2 control-label"><i class="fa fa-facebook-square fa-fw"></i>  Facebook</label>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(g => g.customerCeo.Facebook, new { @class = "form-control" })
                                    </div>
                            </div>
                              <div class="form-group">
                                <label class="col-sm-2 control-label"><i class="fa fa-facebook-square fa-fw"></i>  Youtube</label>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(g => g.customerCeo.Youtube, new { @class = "form-control" })
                                    </div>
                            </div>

                            <div class="form-group">
                                    <label class="col-sm-2 control-label">Danh mục</label>
                                    <div class="col-sm-10">
                                         <div hidden>@Html.TextBoxFor(g => g.CategorysString, new { @class = "form-control hidden", @id = "CategorysString" }) </div>
                                       <select multiple name="CategorysID" id="CategorysID" class="filter-multi-select" onchange="HangleMultipleCheck()" >
                                            @{
                                                var lstCats = (List<HG.WebApp.Category>)ViewBag.ListCategories;
                                                foreach (var item in lstCats)
                                                {
                                                    //<option value="@item.Id" @((Model.CategorysString != null && Model.CategorysString.Contains(item.Name.ToString())) ? "selected": "" ) >@item.Name</option>
                                                }
                                            }
                                        </select>
                                        <script>
                                             $(function () {
                                                  
                                                    $(document).on("click",function() {
                                                      var dataList = $(".selected-items .item").map(function() {
                                                            return $(this).text().replace("×","") ;
                                                            }).get();
                                                            console.log(dataList.join(";"));
                                                            $('#CategorysString').val(dataList.join(";"))
                                                    });
                                             })
                                        </script>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Quốc gia</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="NationsID" id="NationsID">
                                          @{
                                                var lstnation = (List<HG.WebApp.Nation>)ViewBag.ListNations;
                                                foreach (var item in lstnation)
                                                {
                                                    //<option value="@item.Id" @(Model.NationsID == item.Id ? "Selected": "")>@item.Name</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                
                                <div class="form-group">
                                    <label class="col-xs-2 control-label">Trạng thái</label>
                                    <div class="col-xs-10">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <input type="radio" name="Status" @(Model.Status == 0 ? "Checked": "") value="0"> Ẩn
                                            </div>
                                            <div class="col-xs-6">
                                                <input type="radio" name="Status" @(Model.Status == 1 ? "Checked": "") value="1"> Hiện
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                   <div class="form-group">
                                    <label class="col-sm-2 control-label"> <i class="fa fa-globe fa-fw"></i> Ngày Công bố</label>
                                    <div class="col-sm-10">
                                          <input type="text" class="form-control" id="publicdate" name="Date" autocomplete="off" >
                                        @*@Html.TextBoxFor(g => g.Date, new { @class = "form-control" })*@
                                    </div>
                                </div>
                          </div></div>
                </div>
                <div class="col-md-12"> 
                   <div class="form-group">
                         <label class="col-sm-2 control-label">Nội dung</label>
                         <div class="">
                              @Html.TextAreaFor(g => g.Description, new { @class = "form-control" })
                         </div>
                   </div>
                   <div class="form-group">
                        <label class="col-sm-2 control-label">Thay đổi ảnh đại diện</label>
                        <div class="">
                             <input class="form-control hidden" id="ImagePath" name="ListtingImage.ImagePath"  value="@(Model.ListtingImage.ImagePath == null? "": Model.ListtingImage.ImagePath )" style="display: none">
                            <input type="file" id="files" name="files" multiple="" style="display: none">
                            <button type="button" onclick="$('#files').click();" class="btn btn-default"><i class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;Chọn File</button>
                            <img id="view-card" src="@Model.ListtingImage.ImagePath" style="margin-top: 10px;" width="100" />

                        </div>
                  </div>           
                </div>
                <div class="col-md-12">
                 <div id="myDiv" style="width:100%;height:400px;"></div>  
                </div>
                 <div class="col-md-12">
                   <div class="card card-success">
                         <div class="card-header">
                            <h3 class="card-title">Location</h3>
                         </div>
                         <div class ="row">
                             <div class='col-lg-6 col-sm-6'>
                                     <div class="form-group">
                                        <label class="col-sm-2 control-label">Địa chỉ</label>
                                        <div class="col-sm-10">
                                                @Html.TextBoxFor(g => g.Locations.Address, new { @class = "form-control" })
                                        </div>
                                    </div>
                              </div>
                               <div class='col-lg-6 col-sm-6'>
                                     <div class="form-group">
                                        <label class="col-sm-2 control-label">Thành phố</label>
                                        <div class="col-sm-10">
                                                @Html.TextBoxFor(g => g.Locations.City, new { @class = "form-control" })
                                        </div>
                                    </div>
                              </div>
                               <div class='col-lg-6 col-sm-6'>
                                     <div class="form-group">
                                        <label class="col-sm-2 control-label">Quận Huyện</label>
                                        <div class="col-sm-10">
                                                @Html.TextBoxFor(g => g.Locations.Province, new { @class = "form-control" })
                                        </div>
                                    </div>
                              </div>
                               <div class='col-lg-6 col-sm-6'>
                                     <div class="form-group">
                                        <label class="col-sm-2 control-label">Zipcode</label>
                                        <div class="col-sm-10">
                                                @Html.TextBoxFor(g => g.Locations.ZipCode, new { @class = "form-control" })
                                        </div>
                                    </div>
                              </div>
                               <div class='col-lg-6 col-sm-6'>
                                     <div class="form-group">
                                        <label class="col-sm-2 control-label">Latitude</label>
                                        <div class="col-sm-10">
                                                @Html.TextBoxFor(g => g.Locations.Latitude, new { @class = "form-control" })
                                        </div>
                                    </div>
                              </div>
                              <div class='col-lg-6 col-sm-6'>
                                     <div class="form-group">
                                        <label class="col-sm-2 control-label">Longitude</label>
                                        <div class="col-sm-10">
                                                @Html.TextBoxFor(g => g.Locations.Longitude, new { @class = "form-control" })
                                        </div>
                                    </div>
                              </div>
                        </div>

                   </div>
                </div>
                <div class="card-footer">
                          <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            }
    </div>
</div>


