@using HG.WebApp
@{
    ViewData["Title"] = "Danh mục chức vụ";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model HG.Entities.Dm_Chuc_Vu


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="border: 2px solid #0866c6;">
            <div class="modal-header" style="background-color: #0866c6;">
                <h5 class="modal-title" style="color:white" id="exampleModalLabel">Thông báo</h5>
            </div>
            <div class="modal-body">
                @ViewBag.msg
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary modal-footer-btnclose" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.error > 0)
{
    <script>
        $(document).ready(function() {
            $("#exampleModal").modal("show");
        });
    </script>
}

<div class="col-lg-12">
    <div class="pageheader">
        <div class="pageicon"><span class="iconfa-pencil"></span></div>
        <div class="pagetitle">
            <h5>Thông tin</h5>
            <h1>Chức vụ</h1>
        </div>
    </div>
    <div class="maincontent">
        <div class="maincontentinner">
            <h4 class="widgettitle">Cập nhật thông tin chức vụ</h4>
            <div class="widgetcontent">
                <div class="form-horizontal">
                    <!-- Horizontal Form -->
                    <form id="form_pb" action="/DanhMuc/SuaChucVu?code=@Model.ma_chuc_vu&type=@ViewBag.type_view" method="post" enctype="multipart/form-data">
                        <div class="row mb-3">
                            <label for="ma_pb" class="col-sm-2 control-label">Mã chức vụ <span style="color:red">(*)</span></label>
                            <div class="col-sm-8">
                                <input type="text" onfocusout="CheckMa(this)" class="form-control input-default" placeholder="Mã chức vụ" name="ma_chuc_vu" maxlength="25" value="@Model.ma_chuc_vu" @(ViewBag.type_view == StatusAction.View.ToString() ? "disabled" : "")>
                            </div>
                            <div class="col-sm-1">
                                <button type="button" class="btn btn-primary" onclick="myModalPopup()" data-bs-toggle="modal" data-bs-target="#basicModal">
                                    Chọn
                                </button>

                                <script>
                                    function myModalPopup() {
                                        $.ajax({
                                            type: "GET",
                                            url: "../DanhMuc/RenderViewChucVu",
                                            data: "",
                                            contentType: 'application/json; charset=utf-8',
                                            success: function(data) {
                                                console.log(data);
                                                $("#basicModal .modal-body").html(data);
                                            }
                                        });
                                    }

                                </script>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="ten_pb" class="col-sm-2 control-label">Tên chức vụ <span style="color:red">(*)</span></label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-default" placeholder="Tên chức vụ" name="ten_chuc_vu" maxlength="200" value="@Model.ten_chuc_vu" @(ViewBag.type_view == StatusAction.View.ToString() ? "disabled" : "")>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="mota" class="col-sm-2 control-label">Mô tả</label>
                            <div class="col-sm-8">
                                <textarea class="form-control input-default" placeholder="Mô tả" name="mo_ta" maxlength="500" @(ViewBag.type_view == StatusAction.View.ToString() ? "disabled" : "")>@Model.mo_ta</textarea>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="stt" class="col-sm-2 control-label">Thứ tự</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control input-default" placeholder="Số thứ tự" name="stt" value="@Model.Stt" maxlength="10" @(ViewBag.type_view == StatusAction.View.ToString() ? "disabled" : "")>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="nguoi_sua" class="col-sm-2 control-label">Người sửa</label>
                            <div class="col-sm-8">
                                <input disabled type="text" class="form-control input-default" value="@Model.UidName">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="ngay_sua" class="col-sm-2 control-label">Ngày sửa</label>
                            <div class="col-sm-8">
                                <input disabled type="text" class="form-control input-default" value="@Model.UpdatedDateUtc">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="ngay_tao" class="col-sm-2 control-label">Ngày tạo</label>
                            <div class="col-sm-8">
                                <input disabled type="text" class="form-control input-default" value="@Model.CreatedDateUtc">
                            </div>
                        </div>
                        @if (ViewBag.type_view == StatusAction.View.ToString())
                        {
                            <div class="text-center">
                                <button type="button" class="btn btn-primary" name="type" onclick="window.location.href='/Danhmuc/ThemChucVu';">Thêm</button>
                                <button type="button" class="btn btn-primary" name="type" onclick="window.location.href='/Danhmuc/SuaChucVu?code=@Model.ma_chuc_vu&type=@StatusAction.Edit.ToString()';">Sửa</button>
                                <button type="submit" class="btn btn-primary" onclick="confirm.BeforDeletePost('/Danhmuc/XoaChucVu?code=@Model.ma_chuc_vu')">Xóa</button>
                                <button type="button" class="btn btn-secondary" onclick="window.location.href='/Danhmuc/ChucVu';">Đóng</button>
                            </div>
                        }
                        @if (ViewBag.type_view == StatusAction.Edit.ToString())
                        {
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary" name="type_view" value="@(StatusAction.Add.ToString())">Lưu và Thêm</button>
                                <button type="submit" class="btn btn-primary" name="type_view" value="@(StatusAction.View.ToString())">Lưu</button>
                                <button type="button" class="btn btn-primary" onclick="confirm.BeforDeletePost('/DanhMuc/XoaChucVu?code=@Model.ma_chuc_vu')">Xóa</button>
                                <button type="button" class="btn btn-secondary" onclick="window.location.href='/Danhmuc/ChucVu';">Đóng</button>
                            </div>
                        }
                    </form><!-- End Horizontal Form -->
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Basic Modal -->

<div class="modal fade" id="basicModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header widgettitle">
                <h5 class="modal-title">Danh sách</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div><!-- End Basic Modal-->

<script>
    $(document).ready(function() {

        $('#form_pb').validate({
            rules: {
                ma_chuc_vu: "required",
                ten_chuc_vu: "required"
            },
            messages: {
                ma_chuc_vu: "Bạn cần nhập mã chức vụ!",
                ten_chuc_vu: "Bạn cần nhập tên chức vụ!"
            }
        });

    });

    function CheckMa(data) {
        var dataPost = { code: data.value };
        $.ajax({
            url: "/DanhMuc/CheckMaCv",
            type: "post",
            contentType: 'application/x-www-form-urlencoded',
            data: dataPost,
            success: function(result) {
                if (result.error == 0) {
                    window.location.href = result.href;
                }
            }
        });
    };
</script>



