@using HG.WebApp 
@model List<HG.Entities.HoSo.Ho_So>
<div class="dataTable-container">
      <table class="table table-bordered responsive">
          <thead class="widgettitle">
              <tr>
                  <th class="head0 nosort" scope="col" data-sortable="" style="width: 5%;">
                      <input type="checkbox" name="" id="selectAll" />
                  </th>
                  <th class="head0" scope="col" data-sortable="" style="width: 5%;">STT</th>
                  <th class="head1" scope="col" data-sortable="" style="width: 15%;">MÃ HỒ SƠ</th>
                  <th class="head0" scope="col" data-sortable="" style="width: 15%;">NGƯỜI NỘP</th>
                  <th class="head0" scope="col" data-sortable="" style="width: 15%;">THỦ TỤC HÀNH CHÍNH</th>
                  <th class="head0" scope="col" data-sortable="" style="width: 15%;">NGƯỜI XỬ LÝ</th>
                   <th class="head0" scope="col" data-sortable="" style="width: 15%;">NGÀY HẸN TRẢ</th>
                   <th class="head0" scope="col" data-sortable="" style="width: 15%;" @(ViewBag.trang_thai == 5 ? "" : "hidden")>#</th>
                    <th class="head0" scope="col" data-sortable="" style="width: 5%;">#</th>
              </tr>
          </thead>
          <tbody>
              @if (Model != null)
              {
                  var stt = 1;
                  foreach (var item in Model)
                  {
                      <tr>
                          <td><input type="checkbox" class="ads_Checkbox" value="@item.Id" /></td>
                          <td scope="row">
                              @stt
                              <input type="hidden" name="" id="" value="@item.Id" />
                          </td>
                          <td><a href="/XuLyHoSo/ViewHoSoDangXuLy?code=@item.Id&type=@(StatusAction.View.ToString())">@item.Id</a></td>
                          <td><a href="/XuLyHoSo/ViewHoSoDangXuLy?code=@item.Id&type=@(StatusAction.View.ToString())">@item.ho_ten </a></td>
                          <td><a href="/XuLyHoSo/ViewHoSoDangXuLy?code=@item.Id&type=@(StatusAction.View.ToString())">@item.ma_thu_tuc_hc </a></td>
                          <td><a href="/XuLyHoSo/ViewHoSoDangXuLy?code=@item.Id&type=@(StatusAction.View.ToString())">@item.nguoi_xu_ly </a></td>
                          <td><a href="/XuLyHoSo/ViewHoSoDangXuLy?code=@item.Id&type=@(StatusAction.View.ToString())">@HG.WebApp.Common.HelperDateTime.DateTimeToYYYYMMDD((DateTime)item.ngay_hen_tra)</a></td>
                          <td @(ViewBag.trang_thai == 5 ? "" : "hidden")><a href="#"><span class="glyphicon glyphicon-print" onclick="ChuyenCanBoXuLy(@item.Id)" >Chuyển CBXL</span> </a></td>
                          <td><a href="#"><span class="glyphicon glyphicon-print">Phiếu hẹn</span> </a></td>
                      </tr>
                      stt++;
                  }
              }
          </tbody>
      </table>
  </div>
  <div class="dataTables_info" id="dyntable_info">Hiển thị @ViewBag.RecoredFrom đến  @ViewBag.RecoredTo của @ViewBag.TotalRecored bản ghi</div>
  <div class="dataTables_paginate paging_full_numbers" id="dyntable_paginate">
      @{
          var TotalPage = (int)ViewBag.TotalPage;
          var CurrentPage = (int)ViewBag.CurrentPage;
          if (TotalPage > 5)
          {
              if (CurrentPage > CurrentPage + 2)
              {
                                              <span><a class="first paginate_button paginate_button_disabled" onclick="GetListByCurrentPage(1)">Đầu</a></span>
                                              <span><a class="first paginate_button paginate_button_disabled" onclick="GetListByCurrentPage(@CurrentPage - 1)">Trước</a></span>
              };
              if (CurrentPage > 3)
              {
                  for (int i = CurrentPage - 2; i < CurrentPage + 2; i++)
                  {
                      if (i == CurrentPage)
                      {
                                                      <span><a tabindex="0" class="active paginate_active" onclick="GetListByCurrentPage(@i)">@i</a></span>
                      }
                      else
                      {
                                                      <span><a tabindex="0" class=" paginate_active" onclick="GetListByCurrentPage(@i)">@i</a></span>
                      }
                  }
              }
              else
              {
                  for (int i = 1; i <= 5; i++)
                  {
                      if (i == CurrentPage)
                      {
                                                      <span><a tabindex="0" class="active paginate_active" onclick="GetListByCurrentPage(@i)">@i</a></span>
                      }
                      else
                      {
                                                      <span><a tabindex="0" class=" paginate_active" onclick="GetListByCurrentPage(@i)">@i</a></span>
                      }
                  }

              }

              if (CurrentPage < CurrentPage + 2)
              {
                                              <span> <a class="first paginate_button paginate_button_disabled" onclick="GetListByCurrentPage(@CurrentPage + 1)">Trước</a></span>
                                              <span><a class="first paginate_button paginate_button_disabled" onclick="GetListByCurrentPage(@TotalPage)">Cuối</a></span>
              };
          }
          else
          {
              for (int i = 1; i <= TotalPage; i++)
              {
                  if (i == CurrentPage)
                  {
                                                  <span><a tabindex="0" class="active paginate_active" onclick="GetListByCurrentPage(@i)">@i</a></span>
                  }
                  else
                  {
                                                  <span><a tabindex="0" class=" paginate_active" onclick="GetListByCurrentPage(@i)">@i</a></span>
                  }
              }
          }
      }
  </div>