@model HG.Entities.Entities.ThuTuc.DmThuTuc
@{
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
    var LstThanhPhan = ViewBag.ListThanhPhan as List<HG.Entities.Entities.DanhMuc.dm_thanh_phan>;
    var UserClient = ViewBag.UserClient as HG.Entities.Asp_user_client;
}

<script>
    $(document).ready(function () {
        $('#form_congdan').validate({
            rules: {
                thongtinchitiet: "required"
                //chiphidukien: "required"
            },
            messages: {
                thongtinchitiet: "Bạn cần nhập thông tin chi tiết!"
                //chiphidukien: "Bạn cần nhập chi phí dự kiến!"
            }
        });
        function convetArrayToObj(serialized) {
            var FormHelper = {};
            var s = '';
            var data = {};
            for (s in serialized) {
                if (serialized[s]['name'] != 'query')
                    data[serialized[s]['name']] = serialized[s]['value']
            }
            return JSON.parse(JSON.stringify(data));
        };
    });
</script>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="border: 2px solid #0866c6;">
            <div class="modal-header" style="background-color: #0866c6;">
                <h5 class="modal-title" style="color:white" id="exampleModalLabel">Thông báo</h5>
            </div>
            <div class="modal-body">
                @ViewBag.Message
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary modal-footer-btnclose" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.error == true)
{
    <script>
        $(document).ready(function () {
            $("#exampleModal").modal("show");
        });
    </script>
}
@if (ViewBag.Success == true)
{
    <script>
        $(document).ready(function () {
            $("#exampleModal").modal("show");
        });
    </script>
}
<div class="widgetcontent">
    <div class="form-horizontal">
        <!-- Horizontal Form -->
        <form id="form_congdan" action="/GuiHoSo/GuiHoSoMotCua" method="post" enctype="multipart/form-data">
            <input name="ma_thu_tuc_hc" value="@ViewBag.MaThuTuc" hidden />
            <input name="ma_khach_hang" value="@ViewBag.MaKH" hidden />
            <input name="ma_don_vi" value="@ViewBag.ma_don_vi" hidden />
            <div class="send-document-top top-title-frame">
                <p>THÔNG TIN HỒ SƠ (Mã khách hàng: @ViewBag.MaKH) <span style="color: red">@ViewBag.Message</span></p>
            </div>
            <div class="send-document-content gray-border">
                <div class="form-group form-group-new">
                    <span class="col-md-2 control-label" style="font-weight:bold;">
                        Cơ quan:
                    </span>
                    <div class="col-md-7" style="padding-left: 10px;padding-top: 5px;">
                        <span style="">@Model.ten_phong_ban</span>
                    </div>
                    <div class="col-md-3 col-sm-12" >
                        <a href="/User/ThongTinCaNhan?@User.Identity.Name" data-toggle="modal" data-target="#modalInput"
                           data-original-title="Thông tin chi tiết người nộp hồ sơ"
                           onclick="ShowModalUser()"
                           tooltip="Xem thông tin chi tiết người nộp"><b>Thông tin người nộp</b></a>
                    </div>
                </div>
                <div class="form-group form-group-new">
                    <span class="col-md-2 control-label" style="font-weight:bold;">
                        Linh vực:
                    </span>
                    <div class="col-md-7" style="padding-left: 10px;padding-top: 5px;">
                        <span>@Model.ten_linh_vuc</span>
                    </div>
                  
                </div>
                <div class="form-group form-group-new">
                    <span class="col-md-2 control-label" style="font-weight:bold;">
                        Thủ tục:
                    </span>
                    <div class="col-md-7" style="padding-left: 10px;padding-top: 5px;">
                        <span>@Model.ten_thu_tuc</span>
                    </div>
                
                </div>
                <div class="form-group form-group-new">
                    <span class="col-md-2 control-label" style="font-weight:bold;">
                        Thông tin chi tiết:
                        <p class="red-asterisk">(*)</p>
                    </span>
                    <div class="col-md-7">
                        <textarea rows="2" cols="20" id="thongtinchitiet"
                                  name="thongtinchitiet"
                                  class="Css_Mul"
                                  placeholder="Thông tin hồ sơ" style="width: 100%; height: 66px;"
                                  spellcheck="true"></textarea>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <a class="btn btn-info" tooltip="Xem Hướng dẫn Thủ tục hành chính">Hướng dẫn Thủ tục hành chính</a>
                    </div>
                </div>
                
                <div class="form-group form-group-new">
                    <span class="col-md-2 control-label" style="font-weight:bold;">
                        Hình thức nhận KQ:
                    </span>
                    <div class="col-md-3" style="padding-left: 10px;padding-top: 5px;">
                        <input value="0" type="checkbox" onclick="fnnhanquaemail()" id="nhanquaemail" name="nhanquaemail" />nhận kết quả qua Email
                        <script>
                            function fnnhanquaemail() {
                                if ($('#nhanquaemail').is(':checked')) {
                                    $("#nhanquaemail").val(1)
                                } else {
                                    $("#nhanquaemail").val(0)
                                }
                            }
                        </script>
                    </div>
                    <div class="col-md-3" style="padding-left: 10px;padding-top: 5px;">
                        <input  value="@User.Identity.Name"/>
                    </div>
                    <div class="col-md-3" style="padding-left: 10px;padding-top: 5px;">
                        <input type="checkbox" onclick="fnnhanquatnvatkq()" id="nhanquatnvatkq" name="nhanquatnvatkq" value="0" /> nhận kết quả tại bộ phân TN và TKQ
                        <script>
                            function fnnhanquatnvatkq() {
                                if ($('#nhanquatnvatkq').is(':checked')) {
                                    $("#nhanquatnvatkq").val(1)
                                } else {
                                    $("#nhanquatnvatkq").val(0)
                                }
                            }
                        </script>
                    </div>
                </div>
                <div class="form-group form-group-new">
                    <span class="col-md-2 control-label" style="font-weight:bold;">
                    </span>
                    <div class="col-md-3" style="padding-left: 10px;padding-top: 5px;">
                        <input type="checkbox" onclick="fnnhanquazalo()" id="nhanquazalo" name="nhanquazalo" value="0" /> nhận kết quả qua Zalo
                        <script>
                            function fnnhanquazalo() {
                                if ($('#nhanquazalo').is(':checked')) {
                                    $("#nhanquazalo").val(1)
                                } else {
                                    $("#nhanquazalo").val(0)
                                }
                            }
                        </script>
                    </div>
                    <div class="col-md-3" style="padding-left: 10px;padding-top: 5px;">
                        <input value="@ViewBag.sodienthoai"  />
                    </div>
                    <div class="col-md-3" style="padding-left: 10px;padding-top: 5px;">
                        <input type="checkbox" onclick="fnnhanquabuudien()" id="nhanquabuudien" name="nhanquabuudien" value="0" /> nhận kết quả qua bưu điện
                        <script>
                            function fnnhanquabuudien() {
                                if ($('#nhanquabuudien').is(':checked')) {
                                    $("#nhanquabuudien").val(1);
                                    $('#frmbuudien').css('display', 'block');
                                } else {
                                    $("#nhanquabuudien").val(0);
                                    $('#frmbuudien').css('display', 'none');
                                }
                            }
                        </script>
                    </div>
                </div>
                <div class="form-group form-group-new">
                    <span class="col-md-2 control-label" style="font-weight:bold;">
                        Nhận thông báo:
                    </span>
                    <div class="col-md-3" style="padding-left: 10px;padding-top: 5px;">
                        <input type="checkbox" onclick="fndatiepnhan()" id="datiepnhan" name="datiepnhan" value="0" /> đã tiếp nhận
                        <script>
                            function fndatiepnhan() {
                                if ($('#datiepnhan').is(':checked')) {
                                    $("#datiepnhan").val(1)
                                } else {
                                    $("#datiepnhan").val(0)
                                }
                            }
                        </script>
                    </div>
                    <div class="col-md-3" style="padding-left: 10px;padding-top: 5px;">
                        <input type="checkbox" onclick="fnyeucaubosung()" id="yeucaubosung" name="yeucaubosung" value="0" /> yêu cầu bổ sung, chỉnh sửa
                        <script>
                            function fnyeucaubosung() {
                                if ($('#yeucaubosung').is(':checked')) {
                                    $("#yeucaubosung").val(1)
                                } else {
                                    $("#yeucaubosung").val(0)
                                }
                            }
                        </script>
                    </div>
                    <div class="col-md-3" style="padding-left: 10px;padding-top: 5px;">
                        <input type="checkbox" onclick="fndacoketqua()" id="dacoketqua" name="dacoketqua" value="0" /> đã có kết quả
                        <script>
                            function fndacoketqua() {
                                if ($('#dacoketqua').is(':checked')) {
                                    $("#dacoketqua").val(1)
                                } else {
                                    $("#dacoketqua").val(0)
                                }
                            }
                        </script>
                    </div>
                </div>
                <div style="display:none" id="frmbuudien">
                    <div class="form-group form-group-new" >
                        <span class="col-md-2 control-label" style="font-weight:bold;">
                            Tên người nhận:
                        </span>
                        <div class="col-md-4" style="padding-left: 10px;padding-top: 5px;">
                            <input disabled value="@ViewBag.TenNguoiNhan" type="text" id="tennguoinhan" name="tennguoinhan" style="width:100%" />
                        </div>
                        <span class="col-md-2 control-label" style="font-weight:bold;">
                            Số điện thoại:
                        </span>
                        <div class="col-md-4" style="padding-left: 10px;padding-top: 5px;">
                            <input disabled value="@ViewBag.SoDienThoai" type="text" id="tennguoinhan" name="tennguoinhan" style="width:100%" />
                        </div>
                    </div>
                    <div class="form-group form-group-new">
                        <span class="col-md-2 control-label" style="font-weight:bold;">
                            Địa chỉ:
                        </span>
                        <div class="col-md-4" style="padding-left: 10px;padding-top: 5px;">
                            <input disabled value="@( UserClient == null? "" : UserClient.dia_chi )" type="text" id="diachi" name="diachi" style="width:100%"/>
                        </div>
                        <span class="col-md-2 control-label" style="font-weight:bold;">
                            Tỉnh thành:
                        </span>
                        <div class="col-md-4" style="padding-left: 10px;padding-top: 5px;">
                            <input disabled value="@(UserClient == null ? "": UserClient.ma_tinh_thanh )" type="text" id="tinhthanh" name="tinhthanh" style="width:100%" />
                        </div>
                    </div>
                    <div class="form-group form-group-new">
                        <span class="col-md-2 control-label" style="font-weight:bold;">
                            Ghi chú:
                        </span>
                        <div class="col-md-10" style="padding-left: 10px;padding-top: 5px;">
                            <input disabled value="@(UserClient == null ? "" : UserClient.dia_chi_co_quan)" type="text" id="ghichu" name="ghichu" style="width:100%" />
                        </div>
                    </div>
                    <div class="form-group form-group-new">
                        <span class="col-md-8 control-label" style="color:red;">
                            (Lưu ý: khách hàng trực tiếp thanh toán cho nhân viên bưu điện)
                        </span>
                    </div>
                </div>
                
                <a href="/News/HuongDanNhanThongBaoZalo" target="_blank">Hướng dẫn nhận thông báo qua Zalo</a>
            </div>

            <!-- DANH SACH CAC THANH PHAN -->
            <div class="result-area">
                <div class="result-top-title top-title-frame">
                    <p>DANH SÁCH THÀNH PHẦN HỒ SƠ</p>
                </div>
                <div class="result-content">
                    <table cellspacing="0" cellpadding="4" rules="all"
                           class="table table-bordered table-result">
                        <tbody>
                            <tr class="table-headline">
                                <th text-align="center" scope="col">STT</th>
                                <th scope="col" style="width: 45%;">Tên thành phần</th>
                                <th scope="col" style="width: 10%;">Tệp đính kèm</th>
                                <th scope="col" style="width: 10%;">Ký số</th>
                                <th scope="col">Biểu mẫu</th>
                            </tr>
                            @if (LstThanhPhan != null){
                                var stt = 1;
                                @foreach (var item in LstThanhPhan)
                                {
                                    <tr>
                                        <td text-align="center" style="width:2%;">
                                            @stt
                                        </td>
                                        <td text-align="justify">
                                            <p>
                                                @item.ten_thanh_phan
                                                @*<span class="important-box">
                                                    Bắt
                                                    buộc
                                                </span>*@
                                            </p>
                                        </td>

                                        <td text-align="justify">
                                            <input type="file" id="files_@stt" name="files_@stt" style="display: none">
                                            <input type="text" id="files_thanh_phan_@stt" name="files_thanh_phan_@stt" style="display: none">
                                            <input type="text" id="ma_thanh_phan_@stt" name="ma_thanh_phan_@stt" value="@item.ma_thanh_phan" style="display: none">
                                            <button type="button" onclick="$('#files_@stt').click();" class="btn btn-default">
                                            <i class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;Chọn File</button>
                                            <label type="text" id="tenfiledinhkem_@stt" name="tenfiledinhkem_@stt" readonly></label>
                                            <script>
                                                $(document).ready(function () {
                                                    $("#files_@stt").on('change', function () {
                                                        // Checking whether FormData is available in browser
                                                        if (window.FormData !== undefined) {
                                                            var fileUpload = $(this).get(0);
                                                            var files = fileUpload.files;
                                                            // Create FormData object
                                                            var fileData = new FormData();
                                                            // Looping over all files and add it to FormData object
                                                            for (var i = 0; i < files.length; i++) {
                                                                fileData.append(files[i].name, files[i]);
                                                            }
                                                            // Adding one more key to FormData object
                                                            fileData.append('username', 'Manas');
                                                            $.ajax({
                                                                url: '/Upload/UploadFilesTP?folder=ThanhPhanCongDan&Id=@item.ma_thanh_phan',
                                                                type: "POST",
                                                                contentType: false, // Not to set any content header
                                                                processData: false, // Not to process data
                                                                data: fileData,
                                                                success: function (result) {
                                                                    console.log(result);
                                                                    for (var i = 0; i < result.files.length; i++) {
                                                                        $('#files_thanh_phan_@stt').attr('value', result.files[i]);
                                                                        $('#tenfiledinhkem_@stt').html("" + result.names + "");
                                                                        $("#btnDelete_@stt").show();
                                                                    }
                                                                },
                                                                error: function (err) {
                                                                    alert(err.statusText);
                                                                }
                                                            });
                                                        } else {
                                                            alert("FormData is not supported.");
                                                        }
                                                    });
                                                });
                                            </script>
                                        </td>
                                      
                                        <td text-align="left" style="width:25%;"><button>Ký số</button></td>
                                        <td>@item.bieu_mau</td>
                                    </tr>
                                    stt++;
                                }
                            }
                           
                        </tbody>
                    </table>
                    <div class="form-group form-group-new">
                        <span class="col-md-2 control-label" style="font-weight:bold;">
                            Chi phí dự kiến
                        </span>
                        <div class="col-md-6">
                            <div class="" style="text-align: left; margin-top: 5px; margin-bottom: 5px">
                                <input type="text" style=" width: 100%;" id="chiphidukien" name="chiphidukien" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-5 pb-2">
                        </div>
                        <div class="col-md-6">
                            <input type="submit" name="type_view"
                                   value="Gửi"
                                   class="btn-search">
                            <input type="button" onclick="window.location.href='/GuiHoSo/MotCua'"  name="type_view"
                               value="Xóa"
                               class="btn-search">
                        </div>
                    </div>
                </div>
            </div>
            <a href="/GuiHoSo/LichSuNapHoSo" target="_blank">Lịch sử nạp hồ sơ</a>
        </form><!-- End Horizontal Form -->
    </div>

</div>
