@{
    ViewData["Title"] = "Gửi hồ sơ một cửa"; 
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
    var LstDonVi = ViewBag.ListDonVi as List<HG.Entities.DanhMuc.DonVi.dm_don_vi>;
    var LstLinhVuc = ViewBag.ListLinhVuc as List<HG.Entities.Dm_Linh_Vuc>;
    var LstMucDo = ViewBag.LstMucDo as List<HG.Entities.Dm_Muc_Do_Thuc_Hien>;
}
<script>
    function CheckSearchDV(){
        var donvi = document.getElementById("donvi").options[document.getElementById("donvi").selectedIndex].value;
        var linhvuc = document.getElementById("linhvuc").options[document.getElementById("linhvuc").selectedIndex].value;
        var mucdo = document.getElementById("mucdo").options[document.getElementById("mucdo").selectedIndex].value;
        var txtDichVu = $("#txtDichVu").val();
        var txtMaDichVu = $("#txtMaDichVu").val();
        $.ajax({
            type: "GET",
            url: "../GuiHoSo/CheckSearchDV?donvi=" + donvi + "&linhvuc=" + linhvuc + "&mucdo=" + mucdo + "&ten_thu_tuc" + txtDichVu + "&ma_thu_tuc=" +txtMaDichVu,
            data: "",
            contentType: 'application/json; charset=utf-8',
            success: function(data) {
                $("#dataTable").html(data);
            }
        });
    }
</script>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="border: 2px solid #0866c6;">
            <div class="modal-header" style="background-color: #0866c6;">
                <h5 class="modal-title" style="color:white" id="exampleModalLabel">Thông báo</h5>
            </div>
            <div class="modal-body">
                @ViewBag.Message
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary modal-footer-btnclose" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<div class="widgetcontent">
    <div class="form-horizontal">
        <div class="send-document-top top-title-frame">
            <p>THÔNG TIN HỒ SƠ</p>
        </div>
        <div class="send-document-content gray-border">
                    <div class="title-new">Tìm kiếm thủ tục hành chính</div>
                    <div class="form-horizontal">

                        <div class="form-group form-group-new">
                            <span id="ctl09_DV" class="col-md-4 control-label" style="font-weight:bold;">Chọn cơ quan:</span>
                            <div class="col-md-5">
                                <select name="donvi" id="donvi"  style="width:100%;">
			                        <option selected="selected" value="ALL">Toàn bộ cơ quan giải quyết</option>
                                    @if (LstDonVi != null){
                                        foreach (var item in LstDonVi)
                                        {
                                            <option  value="@item.Id">@item.ten_don_vi</option>
                                        }
                                    }
		                        </select>
                            </div>
                        </div>
                        

                        <div class="form-group form-group-new">
                            <label class="col-md-4 control-label">Lĩnh vực:</label>
                            <div class="col-md-5">
                            <select name="linhvuc" id="linhvuc" style="width:100%;">
			                        <option selected="selected" value="0">Toàn bộ lĩnh vực</option>
                                    @if (LstLinhVuc != null)
                                    {
                                        foreach (var item in LstLinhVuc)
                                        {
                                            <option value="@item.ma_linh_vuc">@item.ten_linh_vuc</option>
                                        }
                                    }
		                        </select>
                            </div>
                        </div>

                        <div class="form-group form-group-new">
                            <label class="col-md-4 control-label">Tên dịch vụ:</label>
                            <div class="col-md-5">
                                <input name="txtDichVu" type="text" id="txtDichVu" style="width:100%;">
                            </div>
                        </div>
                        <div class="form-group form-group-new">
                            <label class="col-md-4 control-label">Mã dịch vụ:</label>
                            <div class="col-md-5">
                                <input name="txtMaDichVu" type="text" id="txtMaDichVu" style="width:100%;">
                            </div>
                        </div>
                        <div class="form-group form-group-new">
                            <label class="col-md-4 control-label">Mức độ:</label>
                            <div class="col-md-5">
                                <select name="mucdo" id="mucdo" onchange="" style="width:100%;">
			                        <option selected="selected" value="All">----- Tất cả -----</option>
                                    @if (LstMucDo != null)
                                    {
                                        foreach (var item in LstMucDo)
                                        {
                                            <option value="@item.ma_thuc_hien">@item.ten_thuc_hien</option>
                                        }
                                    }

		                        </select>
                            </div>
                        </div>
                        <div class="form-group form-group-new">
                            <label class="col-md-4 control-label"></label>
                            <div class="col-md-5">
                                <input type="submit" name="" value="Tìm kiếm" onclick="CheckSearchDV();" id="TK" class="btn-search">
                            </div>
                        </div>

                    </div>
        </div>

    </div>
    <div id="dataTable">

    </div>
</div>