
@model List<HG.Entities.Entities.ds_nguoi_dung>
@{
    ViewData["Title"] = "Danh sách người dùng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var list_phong_ban = ViewBag.ListPhongBan as List<HG.Entities.Dm_Phong_Ban>;
    var phong_ban = ViewBag.ma_phong_ban as string;
}

<script>
    function NguoiDungAutoComplete(trang_thai,da_xoa){
       var ma_phong_ban = document.getElementById("ma_phong_ban_sl").options[document.getElementById("ma_phong_ban_sl").selectedIndex].value;
        window.location.href = "/QTNguoiDung/ListNguoiDung?ma_phong_ban=" + ma_phong_ban + "&trang_thai=" + trang_thai + "&da_xoa=" + da_xoa;

    }
    function PhongBanSearch() {
         var ma_phong_ban = document.getElementById("ma_phong_ban_sl").options[document.getElementById("ma_phong_ban_sl").selectedIndex].value;
               var trang_thai = 0;
               var da_xoa = 0;   
         if ($('input[name=Status]:checked').length > 0) {
                 trang_thai = 1;
                 da_xoa = 0;
            }else{
                if ($('input[name=Deleted]:checked').length > 0) {
                    da_xoa = 1;
                    trang_thai = 0;
                }
            };
          NguoiDungAutoComplete(trang_thai,da_xoa)
    }
    function TrangThaiChecked() {
         if ($('input[name=Status]:checked').length > 0) {
             $("#Deleted").prop("checked", false);
             NguoiDungAutoComplete(1, 0)
         } else { 
             NguoiDungAutoComplete(0, 0)
         }
    }
    function DaXoaChecked() {
         if ($('input[name=Deleted]:checked').length > 0) {
             $("#Status").prop("checked", false);
             NguoiDungAutoComplete(0, 1)
         } else { 
             NguoiDungAutoComplete(0, 0)
         }
         
    }
    function Unlock(abc){
          $.ajax({
                   type: "GET",
                   url: "../QTNguoiDung/Unlock?id=" + abc,
                   data: "",
                   contentType: 'application/json; charset=utf-8',
                   success: function(data) {
                       $("#NotifyTitle").html(data);
                       $("#Notify").modal("show");
                       setTimeout(window.location.href = "/QTNguoiDung/ListNguoiDung" ,3000)
                   }
               });         
        
    }
</script>



<div class="card">

   <div class="pageheader">

			<div class="searchbar">
                 @using (Html.BeginForm("ListNguoiDung", "QTNguoidung", FormMethod.Get,new { @class="searchbar" }))
                {
				    <input name="txtSearch" type="text" id="Search" placeholder="Gõ từ khóa và nhấn enter..." value="@ViewBag.txtSearch">
				    <input type="submit" name="ctl08$BtnSearch" style="cursor:pointer" id="BtnSearch" hidden="hidden">
                }
			</div>
			<div class="pageicon"><span class="iconfa-table"></span></div>
			<div class="pagetitle">
				<h5>Danh sách</h5>
				<h1>Người dùng</h1>
			</div>

		</div>

    <div class="maincontent">
        <div class="maincontentinner">
            <p class="stdformbutton" style="margin-bottom: 10px;">
                 <input type="button" value="Thêm" onclick="window.location.href = '/QTNguoiDung/ThemNguoiDung';" class="btn btn-primary" style="width:100px;" />

                <input type="button" value="Xóa" onclick="DeleteMultiple()" class="btn btn-primary" style="width:100px;" />
                <input hidden id="lstCode" name="lstCode" />
            </p>
            <div class="widget">
                <h4 class="widgettitle">Lọc danh sách theo</h4>
                <div class="widgetcontent">
                    <div class="form-group row">
                        <label for="inputPassword" class="col-md-2 control-label" style="text-align: right">Phòng ban</label>
                        <div class="col-md-6">
                                <select name="ma_phong_ban_sl" id="ma_phong_ban_sl" onchange="PhongBanSearch()" class="form-select form-control input-default">
			                    <option value="" >----------------Chọn-----------------</option>
                                @if(list_phong_ban != null)
                                {
                                    foreach (var item in list_phong_ban)
                                    {
                                        if (phong_ban == item.ma_phong_ban)
                                        {
                                            <option value="@item.ma_phong_ban" selected> @item.ten_phong_ban</option>

                                        }
                                        else
                                        {
                                            <option value="@item.ma_phong_ban">@item.ten_phong_ban</option>
                                        }

                                    }
                                }

		                    </select>
                            
                            <script>
                                $("select#my-select option")
                                     .each(function() { this.selected = (this.text == myVal); });
                             </script>
                        </div>
                        <div class="col-md-4">
                          <div>
                                  <span class="cssrbCode" style="margin-right :12px;">
                                      <input id="Status" type="checkbox" name="Status" value="rbDangHoatDong" @(ViewBag.trang_thai == 1 ? "checked" : "") onclick="TrangThaiChecked()">
                                      <label for="ctl08_rbDangHoatDong">&nbsp;&nbsp;Đang hoạt động</label>
                                  </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                  <span class="cssrbCode">
                                      <input id="Deleted" type="checkbox" name="Deleted" value="rbDaXoa" @(ViewBag.da_xoa == 1 ? "checked" : "") onclick="DaXoaChecked()">
                                      <label for="ctl08_rbDaXoa">&nbsp;&nbsp;Đã xoá</label>
                                  </span>                  
		                    </div>

                        </div>
                    </div>

                </div>
            </div>
             <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">

                <div class="dataTables_length">
                    <label>
                        Hiển thị
                        <select class="dataTable-selector" id="lstPageSize" onchange="ChangePageSize(this);">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="25" selected>25</option>
                        </select> bản ghi
                    </label>
                </div>
                <div id="dataTable" class="dataTables_wrapper" role="grid">
                         <table class="table table-bordered responsive dataTable" id="dyntable_wrapper" aria-describedby="dyntable_info">
                        <colgroup>
                            <col class="con0" style="width: 20px">
                            <col class="con1" style="width: 2%">
                            <col class="con0" style="width: 13%">
                            <col class="con1" style="width: 20%">
                            <col class="con0" style="width: 15%">
                            <col class="con1">
                            <col class="con0" style="width: 5%">
                            <col class="con1" style="width: 2%">
                            <col class="con0" style="width: 2%">
                            <col class="con1" style="width: 2%">
                        </colgroup>
                        <thead class="widgettitle">
                            <tr role="row">
                                <th class="head0 nosort sorting_asc" role="columnheader" tabindex="0" aria-controls="dyntable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="
                                    : activate to sort column ascending" style="width: 12px;">
                                    <input  id="selectAll" type="checkbox" ></th>
                                    <th class="head0 sorting" role="columnheader" tabindex="0" aria-controls="dyntable" rowspan="1" colspan="1" aria-label="STT: activate to sort column ascending" style="width: 22px;">STT</th>
                                    <th class="head1 sorting" role="columnheader" tabindex="0" aria-controls="dyntable" rowspan="1" colspan="1" aria-label="TÊN ĐĂNG NHẬP: activate to sort column ascending" style="width: 190px;">TÊN ĐĂNG NHẬP</th>
                                    <th class="head0 sorting" role="columnheader" tabindex="0" aria-controls="dyntable" rowspan="1" colspan="1" aria-label="TÊN ĐẦY ĐỦ: activate to sort column ascending" style="width: 302px;">TÊN ĐẦY ĐỦ</th>
                                    <th class="head1 sorting" role="columnheader" tabindex="0" aria-controls="dyntable" rowspan="1" colspan="1" aria-label="CHỨC VỤ: activate to sort column ascending" style="width: 222px;">CHỨC VỤ</th>
                                    <th class="head0 sorting" role="columnheader" tabindex="0" aria-controls="dyntable" rowspan="1" colspan="1" aria-label="PHÒNG BAN: activate to sort column ascending" style="width: 494px;">PHÒNG BAN</th>
                                    <th class="head1 sorting" role="columnheader" tabindex="0" aria-controls="dyntable" rowspan="1" colspan="1" aria-label="KHÓA: activate to sort column ascending" style="width: 62px;">KHÓA</th>
                                    @*<th class="head1 sorting" role="columnheader" tabindex="0" aria-controls="dyntable" rowspan="1" colspan="1" aria-label="Khôi phục: activate to sort column ascending" style="width: 33px;">Khôi phục</th>*@
                                    <th class="head0 sorting" role="columnheader" tabindex="0" aria-controls="dyntable" rowspan="1" colspan="1" aria-label="#: activate to sort column ascending" style="width: 14px;">#</th>
                                    <th class="head1 sorting" role="columnheader" tabindex="0" aria-controls="dyntable" rowspan="1" colspan="1" aria-label="#: activate to sort column ascending" style="width: 14px;">#</th>
                                    <th class="head0 sorting" role="columnheader" tabindex="0" aria-controls="dyntable" rowspan="1" colspan="1" aria-label="#: activate to sort column ascending" style="width: 39px;">#</th></tr>
                        </thead>
                
                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                            @if(Model != null){
                                var stt = 1;
                                foreach(var item in Model)
                                    {
                                            <tr class="gradeX odd">
                                                <td><input type="checkbox" class="ads_Checkbox" value="@item.Id" /></td>
                                                <td class=" ">@stt</td>


                                                <td class=" ">
                                                    <a id="ctl08_RepeaterTable_ctl01_HyperLink3" href="/QTNguoiDung/ViewNguoiDung/@item.Id">@item.ten_dang_nhap</a></td>


                                                <td class=" ">
                                                    <a id="ctl08_RepeaterTable_ctl01_HyperLink1" href="/QTNguoiDung/ViewNguoiDung/@item.Id">@(item.ten == null ? "" : (item.ho_dem == null ? "" : item.ho_dem.ToString() + " " + item.ten.ToString() ))</a></td>
                                                <td class=" ">
                                                    <a id="ctl08_RepeaterTable_ctl01_HyperLink4" href="/QTNguoiDung/ViewNguoiDung/@item.Id">@(item.ten_chuc_vu == null ? "" : item.ten_chuc_vu)</a></td>
                                                <td class=" ">
                                                    <a id="ctl08_RepeaterTable_ctl01_HyperLink2" href="/QTNguoiDung/ViewNguoiDung/@item.Id">@(item.ten_phong_ban == null ? "" : item.ten_phong_ban)</a></td>
                                                <td style="text-align: center;" class="">
                                                       @(item.khoa_tai_khoan == 1 ? Html.Raw("<i style=\"cursor: pointer\" onclick=\"Unlock('"+@item.Id+"')\" class=\"iconsweets-locked2\"></i>") : "") 
                                                    </td>
                                                <td class=" ">
                                                    <a  title="" data-placement="top" data-toggle="tooltip" href="/QTNguoiDung/ViewNguoiDung/@item.Id"  data-original-title="Xem">Xem</a></td>
                                                <td class=" ">
                                                    <a data-original-title="Sửa" href="/QTNguoiDung/SuaNguoiDung/@item.Id">Sửa</a></td>
                                                <td class=" ">
                                                    <a onclick="confirm.BeforDelete('/QTNguoiDung/XoaNnguoiDung2?Id=@item.Id')" href="#"  value="Xóa">Xóa</a></td>
                                    </tr>
                                            stt++;
                                    }
                            }
                            
                        
                        </tbody>
                    </table>
                     <div class="dataTables_info" id="dyntable_info">Hiển thị 1 đến @(ViewBag.TotalRecords) của @(ViewBag.TotalRecords) bản ghi</div>
                     <div class="dataTables_paginate paging_full_numbers" id="dyntable_paginate">
                            @{
                                var TotalPage = (int) ViewBag.TotalPage;
                                var CurrentPage = (int)ViewBag.CurrentPage;
                                if (TotalPage> 5)
                                {
					                    if(CurrentPage > CurrentPage + 2 ){
                                                          <span><a class="first paginate_button paginate_button_disabled" onclick="GetListByCurrentPage(1)">Đầu</a></span>  
                                                          <span><a class="first paginate_button paginate_button_disabled" onclick="GetListByCurrentPage(@CurrentPage - 1)">Trước</a></span>
                                        };
                                        if(CurrentPage > 3)
                                        {
                                             for(int i = CurrentPage -2; i< CurrentPage+2; i++){
						                                if(i == CurrentPage){
                                                                           <span><a tabindex="0" class="active paginate_active" onclick="GetListByCurrentPage(@i)" >@i</a></span>  
						                                }else{
                                                                           <span><a tabindex="0" class=" paginate_active" onclick="GetListByCurrentPage(@i)" >@i</a></span>  
						                                } 
					                                }
                                        }else{
                                                    for(int i = 1 ; i <= 5; i++){
						                                if(i == CurrentPage){
                                                                           <span><a tabindex="0" class="active paginate_active" onclick="GetListByCurrentPage(@i)" >@i</a></span>  
						                                }else{
                                                                           <span><a tabindex="0" class=" paginate_active" onclick="GetListByCurrentPage(@i)" >@i</a></span>  
						                                } 
					                                }

                                        }
                           
					                    if(CurrentPage < CurrentPage + 2 ){
                                                        <span> <a class="first paginate_button paginate_button_disabled" onclick="GetListByCurrentPage(@CurrentPage + 1)" >Trước</a></span>
                                                        <span><a class="first paginate_button paginate_button_disabled" onclick="GetListByCurrentPage(@TotalPage)">Cuối</a></span> 
					                    };
                                }else{
					                    for(int i = 1; i <= TotalPage; i++){
						                    if(i == CurrentPage){
                                                               <span><a tabindex="0" class="active paginate_active" onclick="GetListByCurrentPage(@i)" >@i</a></span>  
						                    }else{
                                                              <span><a tabindex="0" class=" paginate_active" onclick="GetListByCurrentPage(@i)" >@i</a></span>   
						                    } 
					                    }
			                    }
                            }
                </div>
                </div>
              <p class="stdformbutton" style="margin-bottom: 10px;">
                 <input type="button" value="Thêm" onclick="window.location.href = '/QTNguoiDung/ThemNguoiDung';" class="btn btn-primary" style="width:100px;" />

                <input type="button" value="Xóa" onclick="DeleteMultiple()" class="btn btn-primary" style="width:100px;" />
                <input hidden id="lstCode" name="lstCode" />
            </p>
        </div>
    </div>
    </div>
</div>
<script>
    function GetListByCurrentPage(id) {
              var pageSize = document.getElementById("lstPageSize").options[document.getElementById("lstPageSize").selectedIndex].value;
              var ma_phong_ban = document.getElementById("ma_phong_ban_sl").options[document.getElementById("ma_phong_ban_sl").selectedIndex].value;
                var trang_thai = 0;
                var da_xoa = 0;
               if ($('input[name=Status]:checked').length > 0) {
                   trang_thai = 1;
                };
               if ($('input[name=Deleted]:checked').length > 0) {
                   da_xoa = 1;
               };
               $.ajax({
                   type: "GET",
                   url: "../QTNguoiDung/NguoiDungPaging?currentPage=" + id + "&ma_phong_ban="+ ma_phong_ban + "&trang_thai=" + trang_thai + "&da_xoa=" + da_xoa + "&pageSize="+pageSize,
                   data: "",
                   contentType: 'application/json; charset=utf-8',
                   success: function(data) {
                       console.log(data);
                       $("#dataTable").html(data);
                   }
               });                             
     }
    function ChangePageSize(data) {
              $("#lstPageSize").val(data.value);
              var pageSize = document.getElementById("lstPageSize").options[document.getElementById("lstPageSize").selectedIndex].value;
              var ma_phong_ban = document.getElementById("ma_phong_ban_sl").options[document.getElementById("ma_phong_ban_sl").selectedIndex].value;
              var trang_thai = 0;
              var da_xoa = 0;
              if ($('input[name=Status]:checked').length > 0) {
                  trang_thai = 1;
              };
              if ($('input[name=Deleted]:checked').length > 0) {
                  da_xoa = 1;
              };
        $.ajax({
            type: "GET",
            url: "../QTNguoiDung/NguoiDungPaging?currentPage=" + 1 + "&ma_phong_ban="+ ma_phong_ban + "&trang_thai=" + trang_thai + "&da_xoa=" + da_xoa + "&pageSize=" + pageSize,
            data: "",
            contentType: 'application/json; charset=utf-8',
            success: function(data) {
                $("#dataTable").html(data);
            }
        });
    }
    // function GetListByCurrentPage(id) {
    //    var pageSize = $("#lstPageSize").val();
    //    $.ajax({
    //        type: "GET",
    //        url: "/SuperAdmin/VaiTroPaging?currentPage=" + id + "&pageSize=" + pageSize + "&tu_khoa=" + $("#txtSearch").val(),
    //        data: "",
    //        contentType: 'application/json; charset=utf-8',
    //        success: function(data) {
    //            //console.log(data);
    //            $("#dataTable").html(data);
    //        }
    //    });
    //}
    function DeleteMultiple() {
        var listData = $("#lstCode").val();
        confirm.BeforDeletePost('/QTNguoiDung/XoaNnguoiDung?Id=' + listData)
    }

    $(function() {
        $('#selectAll').click(function() {
            var val = [];
            if ($(this).is(':checked')) {
                $(".ads_Checkbox").prop("checked", true);
                $(':checkbox:checked').each(function(i) {
                    if (i > 0) {
                        val[i - 1] = $(this).val();
                    }
                });
            }
            else {
                $(".ads_Checkbox").prop("checked", false);
                val = [];
            }
            $('input[name="lstCode"]').attr('value',val);
        });


        $('.ads_Checkbox').click(function() {
            var val = [];
            $(':checkbox:checked').each(function(i) {
                if ($('#selectAll').is(':checked')) {
                    if (i > 0) {
                        val[i - 1] = $(this).val();
                    }
                } else {
                    val[i] = $(this).val();
                }

            });
            $('input[name="lstCode"]').attr('value',val);
        });

    });
</script>
<div class="modal fade" id="Notify" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="border: 2px solid #0866c6;">
            <div class="modal-header" style="background-color: #0866c6;">
                <h5 class="modal-title" style="color:white" id="exampleModalLabel">Thông báo</h5>
            </div>
            <div class="modal-body" id="NotifyTitle">
               Mở khóa thành công!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary modal-footer-btnclose" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>