@using HG.WebApp
@model HG.Entities.Entities.ds_nguoi_dung_paging

                <table class="table table-bordered responsive dataTable" id="dyntable_wrapper" aria-describedby="dyntable_info" > 
                        <colgroup>
                            <col class="con0" style="width: 20px">
                            <col class="con1" style="width: 2%">
                            <col class="con0" style="width: 13%">
                            <col class="con1" style="width: 20%">
                            <col class="con0" style="width: 15%">
                            <col class="con1">
                            <col class="con0" style="width: 5%">
                            <col class="con1" style="width: 2%">
                            <col class="con0" style="width: 2%">
                            <col class="con1" style="width: 2%">
                        </colgroup>
                        <thead class="widgettitle">
                            <tr role="row">
                                <th class="head0 nosort sorting_asc" role="columnheader" tabindex="0" aria-controls="dyntable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="
                                    : activate to sort column ascending" style="width: 12px;">
                                    <input  id="selectAll" type="checkbox" name=""></th>
                                    <th class="head0 sorting" role="columnheader" tabindex="0" aria-controls="dyntable" rowspan="1" colspan="1" aria-label="STT: activate to sort column ascending" style="width: 22px;">STT</th>
                                    <th class="head1 sorting" role="columnheader" tabindex="0" aria-controls="dyntable" rowspan="1" colspan="1" aria-label="TÊN ĐĂNG NHẬP: activate to sort column ascending" style="width: 190px;">TÊN ĐĂNG NHẬP</th>
                                    <th class="head0 sorting" role="columnheader" tabindex="0" aria-controls="dyntable" rowspan="1" colspan="1" aria-label="TÊN ĐẦY ĐỦ: activate to sort column ascending" style="width: 302px;">TÊN ĐẦY ĐỦ</th>
                                    <th class="head1 sorting" role="columnheader" tabindex="0" aria-controls="dyntable" rowspan="1" colspan="1" aria-label="CHỨC VỤ: activate to sort column ascending" style="width: 222px;">CHỨC VỤ</th>
                                    <th class="head0 sorting" role="columnheader" tabindex="0" aria-controls="dyntable" rowspan="1" colspan="1" aria-label="PHÒNG BAN: activate to sort column ascending" style="width: 494px;">PHÒNG BAN</th>
                                    <th class="head1 sorting" role="columnheader" tabindex="0" aria-controls="dyntable" rowspan="1" colspan="1" aria-label="KHÓA: activate to sort column ascending" style="width: 62px;">KHÓA</th>
                                    <th class="head1 sorting" role="columnheader" tabindex="0" aria-controls="dyntable" rowspan="1" colspan="1" aria-label="Khôi phục: activate to sort column ascending" style="width: 33px;">Khôi phục</th>
                                    <th class="head0 sorting" role="columnheader" tabindex="0" aria-controls="dyntable" rowspan="1" colspan="1" aria-label="#: activate to sort column ascending" style="width: 14px;">#</th>
                                    <th class="head1 sorting" role="columnheader" tabindex="0" aria-controls="dyntable" rowspan="1" colspan="1" aria-label="#: activate to sort column ascending" style="width: 14px;">#</th>
                                    <th class="head0 sorting" role="columnheader" tabindex="0" aria-controls="dyntable" rowspan="1" colspan="1" aria-label="#: activate to sort column ascending" style="width: 39px;">#</th></tr>
                        </thead>
                
                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                            @if(Model.asp_Nhoms != null){
                            var stt = 1;
                            foreach(var item in Model.asp_Nhoms)
                                {
                                        <tr class="gradeX odd">
                                            <td class="aligncenter  sorting_2">
                                                <input type="checkbox" class="ads_Checkbox" value="@item.Id"></td>
                                            <td class=" ">@stt</td>


                                             <td class=" ">
                                                <a id="ctl08_RepeaterTable_ctl01_HyperLink3" href="/QTNguoiDung/ViewNguoiDung/@item.Id">@item.ten_dang_nhap</a></td>


                                            <td class=" ">
                                                <a id="ctl08_RepeaterTable_ctl01_HyperLink1" href="/QTNguoiDung/ViewNguoiDung/@item.Id">@(item.ten == null ? "" : (item.ho_dem == null ? "" : item.ho_dem.ToString() + " " + item.ten.ToString() ))</a></td>
                                            <td class=" ">
                                                <a id="ctl08_RepeaterTable_ctl01_HyperLink4" href="/QTNguoiDung/ViewNguoiDung/@item.Id">@(item.ten_chuc_vu == null ? "" : item.ten_chuc_vu)</a></td>
                                            <td class=" ">
                                                <a id="ctl08_RepeaterTable_ctl01_HyperLink2" href="/QTNguoiDung/ViewNguoiDung/@item.Id">@(item.ten_phong_ban == null ? "" : item.ten_phong_ban)</a></td>
                                            <td style="text-align: center;" class=" ">
                                                </td>
                                             <td style="text-align: center;" class=" ">
                                                </td>
                       
                                            <td class=" ">
                                                <a  title="" data-placement="top" data-toggle="tooltip" data-original-title="Xem" href="">View</a></td>
                                            <td class=" ">
                                                <a data-original-title="Sửa" href="/QTNguoiDung/EditNguoiDung/@item.Id">Edit</a></td>
                                            <td class=" ">
                                                <button onclick="confirm.BeforDelete('/QTNguoiDung/Xoa/@item.Id')"  value="Xóa">Delete</button></td>
                                        </tr>
                                }
                            }
                            
                        
                        </tbody>
                    </table>
                   
<script>
    
</script>
<script>
    function GetListByCurrentPage(id) {
                var ma_phong_ban = document.getElementById("ma_phong_ban_sl").options[document.getElementById("ma_phong_ban_sl").selectedIndex].value;
                var trang_thai = 0;
                var da_xoa = 0;
               if ($('input[name=Status]:checked').length > 0) {
                   trang_thai = 1;
                };
               if ($('input[name=Deleted]:checked').length > 0) {
                   da_xoa = 1;
               };
               $.ajax({
                   type: "GET",
                   url: "../QTNguoiDung/NguoiDungPaging?currentPage=" + id + "&ma_phong_ban="+ ma_phong_ban + "&trang_thai=" + trang_thai + "&da_xoa=" + da_xoa,
                   data: "",
                   contentType: 'application/json; charset=utf-8',
                   success: function(data) {
                       $("#dyntable_wrapper").html(data);
                   }
               });                             
     }
    function DeleteMultiple() {
        var listData = $("#lstCode").val();
        confirm.BeforDeletePost('/SuperAdmin/XoaNhom?code=' + listData)
    }

    $(function() {
        $('#selectAll').click(function() {
            var val = [];
            if ($(this).is(':checked')) {
                $(".ads_Checkbox").prop("checked", true);
                $(':checkbox:checked').each(function(i) {
                    if (i > 0) {
                        val[i - 1] = $(this).val();
                    }
                });
            }
            else {
                $(".ads_Checkbox").prop("checked", false);
                val = [];
            }
            $("#lstCode").val(val);
        });


        $('.ads_Checkbox').click(function() {
            var val = [];
            $(':checkbox:checked').each(function(i) {
                if ($('#selectAll').is(':checked')) {
                    if (i > 0) {
                        val[i - 1] = $(this).val();
                    }
                } else {
                    val[i] = $(this).val();
                }

            });
            $("#lstCode").val(val);
        });

    });
</script>
