@model HG.Entities.Entities.UserOnlineModels
@{
    ViewData["Title"] = "Thêm mới";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var LstNhom = ViewBag.LstNhom as List<HG.Entities.Entities.Nhom.Asp_nhom>;
    //var lst_phong_ban = ViewBag.lst_phong_ban as List<HG.Entities.Dm_Phong_Ban>;
    //var lst_chuc_vu = ViewBag.lst_chuc_vu as List<HG.Entities.Dm_Chuc_Vu>;
    var lst_nguoi_dung = ViewBag.ListNguoiDung as HG.Entities.Entities.ds_nguoi_dung_paging_online;
}
@using HG.WebApp
<script src="/BackEnd/Admin/Js/JQuery/jquery.validate.js"></script>
<script src="~/BackEnd/Admin/Js/Validate/NguoiDung.js"></script>
<script>
    var Arr = [];
    $(document).ready(function() {

        NguoiDung.validateForm();
        $('.select2').select2({
            closeOnSelect: false
        });
        $('#multiselect').on('select2:select', function(e) {
            Arr.push(e.params.data.id);
            $("#lstGroup").val(Arr.join(","));
        });
        $('#multiselect').on("select2:unselect", function(e) {
            Arr.pop(e.params.data.id);
            $("#lstGroup").val(Arr.join(","));
        });
        $('#UserName').on('keypress', function(e) {
            if (e.which == 32){
                return false;
            }
        });
        $("#files").on('change', function () {
            // Checking whether FormData is available in browser
            if (window.FormData !== undefined) {
                var fileUpload = $(this).get(0);
                var files = fileUpload.files;
                // Create FormData object
                var fileData = new FormData();
                // Looping over all files and add it to FormData object
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }
                // Adding one more key to FormData object
                fileData.append('username', 'Manas');
                $.ajax({
                    url: '/Upload/UploadFiles?folder=Avatar',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    success: function (result) {
                        console.log(result);
                        for (var i = 0; i < result.files.length; i++) {
                            $('#anh_dai_dien').attr('src', result.files[i]);
                            $('#anh_dai_dien1').val("" + result.files[i] + "");
                        }
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });
            } else {
                alert("FormData is not supported.");
            }
        });
        $("#filescmt").on('change', function () {
            // Checking whether FormData is available in browser
            if (window.FormData !== undefined) {
                var fileUpload = $(this).get(0);
                var files = fileUpload.files;
                // Create FormData object
                var fileData = new FormData();
                // Looping over all files and add it to FormData object
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }
                // Adding one more key to FormData object
                fileData.append('username', 'Manas');
                $.ajax({
                    url: '/Upload/UploadFiles?folder=CMT',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    success: function (result) {
                        console.log(result);
                        for (var i = 0; i < result.files.length; i++) {
                            $('#anh_cmt').attr('src', result.files[i]);
                            $('#anh_cmt1').val("" + result.files[i] + "");
                        }
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });
            } else {
                alert("FormData is not supported.");
            }
        });
    });
     function CheckedMatkhau(){
         if($("#mat_khau_re").val() != "" && $("#mat_khau_re").val() != $("#mat_khau").val())
         {
             alert("Xác nhận mật khẩu không đúng với mật khẩu!");
         }
    }
</script>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="border: 2px solid #0866c6;">
            <div class="modal-header" style="background-color: #0866c6;">
                <h5 class="modal-title" style="color:white" id="exampleModalLabel">Thông báo</h5>
            </div>
            <div class="modal-body">
                @ViewBag.ErrorMsg
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary modal-footer-btnclose" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.ErrorCode > 0)
{
    <script>
        $(document).ready(function() {
            $("#exampleModal").modal("show");
        });
    </script>
}

<ul class="breadcrumbs">
    <li><a href="Default.aspx"><i class="iconfa-home"></i></a> <span class="separator"></span></li>
    <li><span id="breadcrumbsParent">Nhóm Người dùng &amp; Vai trò</span>&nbsp;<span id="spanBr" class="separator"></span></li>
    <li><span id="breadcrumbsChird">Người dùng trực tuyến</span></li>


    <li class="right">
        <a href="" data-toggle="dropdown" class="dropdown-toggle"><i class="iconsweets-chart4" data-placement="left" data-toggle="tooltip" data-original-title="Màu giao diện"></i>&nbsp;</a>
        <ul class="dropdown-menu pull-right skin-color">
            <li><a href="default">Mặc định</a></li>
            <li><a href="navyblue">Xanh nước biển</a></li>
            <li><a href="palegreen">Xanh nhạt</a></li>
            <li><a href="red">Đỏ</a></li>
            <li><a href="green">Xanh lá</a></li>
            <li><a href="brown">Nâu</a></li>
        </ul>
    </li>
</ul>
<div class="card">
    <div class="pageheader">
        <div class="pageicon"><span class="iconfa-table"></span></div>
        <div class="pagetitle">
            <h5>Danh sách</h5>
            <h1>Người dùng</h1>
        </div>

    </div>
    <div class="maincontent">
        <div class="maincontentinner">
            <div class="widget">
                <h4 class="widgettitle">Cập nhật thông tin người dùng</h4>
                <form class="widgetcontent" id="FNguoiDung" action="/QTNguoiDung/ThemNguoiDungOnline" method="post" enctype="multipart/form-data">
                    <div class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-md-2 control-label">
                                Email đăng nhập<span id="ctl08_ctl00_Label4" style="color:Red;">(*)</span>
                            </label>
                            <div class="col-md-9">
                                <input name="Email" maxlength="50" type="text" id="Email" class="form-control input-default"  onkeyup="xoa_dau(this);" placeholder="Email đăng nhập">
                            </div>
                           

                        </div>
                        <div class="form-group row" id="mat_khau">
                            <label class="col-md-2 control-label">
                                Mật khẩu<span id="ctl08_ctl00_Label2" style="color:Red;">(*)</span>
                            </label>
                            <div class="col-md-9">
                                <input name="mat_khau" maxlength="50" type="password" id="mat_khau" class="form-control input-default" placeholder="mật khẩu">
                            </div>
                        </div>

                        <div class="form-group row" id="mkmd">
                            <label class="col-md-2 control-label">
                                Nhập lại mật khẩu<span id="ctl08_ctl00_Label3" style="color:Red;">(*)</span>
                            </label>
                            <div class="col-md-9">
                                <input name="ctl08$ctl00$TextBox1" type="password" id="mat_khau_re" onchange="CheckedMatkhau()" class="form-control input-default" placeholder="">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-2 control-label">
                                Họ và tên người dùng
                                <span id="ctl08_ctl00_Label1" style="color:Red;">(*)</span>
                            </label>
                            <div class="col-md-9">
                                <input name="ten" type="text" id="ten" maxlength="50" class="form-control input-default" placeholder="Tên" value="@Model.ten">
                                @*<span id="ctl08_ctl00_RequiredFieldValidator3" style="color:Red;display:none;">Tên không được trống!</span>*@
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 control-label">
                                Số điện thoại
                                <span id="ctl08_ctl00_Label1" style="color:Red;">(*)</span>
                            </label>
                            <div class="col-md-9">
                                <input name="PhoneNumber" type="text" id="PhoneNumber" maxlength="50" class="form-control input-default" placeholder="Số điện thoại" value="@Model.PhoneNumber">
                                @*<span id="ctl08_ctl00_RequiredFieldValidator3" style="color:Red;display:none;">Tên không được trống!</span>*@
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 control-label">
                                Hộ khẩu thường trú
                                <span id="ctl08_ctl00_Label1" style="color:Red;">(*)</span>
                            </label>
                            <div class="col-md-9">
                                <input name="ho_khau_tt" type="text" id="ho_khau_tt" maxlength="50" class="form-control input-default" placeholder="Hộ khẩu thường trú" value="@Model.ho_khau_tt">
                                @*<span id="ctl08_ctl00_RequiredFieldValidator3" style="color:Red;display:none;">Tên không được trống!</span>*@
                            </div>
                        </div>
                       

                     
                        <div class="row mb-3">
                            <label for="ten_pb" class="col-sm-2 control-label">Ảnh đại diện<span id="ctl08_ctl00_Label7" style="color:Red;">(*)</span></label>
                            <div class="col-sm-8">
                                <input type="file" id="files" name="files" style="display: none">
                                <input type="text" id="anh_dai_dien1" name="anh_dai_dien" placeholder="Ảnh 3x4">
                                <button type="button" onclick="$('#files').click();" class="btn btn-default"><i class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;Chọn File</button>
                                <img id="anh_dai_dien" style="margin-top: 10px;" width="100" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="ten_pb" class="col-sm-2 control-label">Ảnh CMT<span id="ctl08_ctl00_Label7" style="color:Red;">(*)</span></label>
                            <div class="col-sm-8">
                                <input type="file" id="filescmt" name="files" style="display: none">
                                <input type="text" id="anh_cmt1" name="anh_cmt" placeholder="Ảnh CMND mặt trước">
                                <button type="button" onclick="$('#files').click();" class="btn btn-default"><i class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;Chọn File</button>
                                <img id="anh_cmt" style="margin-top: 10px;" width="100" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 control-label">Người tạo</label>
                            <div class="col-md-9">
                                <input name="CreatedUid" type="text" id="CreatedUid" disabled maxlength="10" class="form-control input-default" placeholder="Người tạo">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 control-label">Người sửa</label>
                            <div class="col-md-9">
                                <input name="UpdatedUid" type="text" id="UpdatedUid" disabled maxlength="10" class="form-control input-default" placeholder="Người sửa">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 control-label">Ngày sửa</label>
                            <div class="col-md-9">
                                <input name="UpdatedDateUtc" type="date" id="UpdatedDateUtc" disabled maxlength="10" class="form-control input-default" placeholder="Ngày sửa">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 control-label">Kích hoạt tài khoản</label>
                            <div class="col-md-10">
                                <input onclick="KhoaTaiKhoan()" id="khoa_tai_khoan" type="checkbox" name="khoa_tai_khoan" value="">
                            </div>
                            <script>
                                function KhoaTaiKhoan() {
                                    if ($('#khoa_tai_khoan').is(':checked')) {
                                        $("#khoa_tai_khoan").val(1)
                                    } else {
                                        $("#khoa_tai_khoan").val(0)
                                    }
                                }
                            </script>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary" name="type_view" value="@(StatusAction.Add.ToString())">Lưu và Thêm</button>
                            <button type="submit" class="btn btn-primary" name="type_view" value="@(StatusAction.View.ToString())">Lưu</button>
                            <button type="button" class="btn btn-secondary" onclick="window.location.href='/QTNguoidung/ListNguoiDungOnlie';">Đóng</button>
                        </div>

                    </div>
                </form>
            </div>

           
        </div>
    </div>

</div>
<div class="modal fade" id="basicModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header widgettitle">
                <h5 class="modal-title">Danh sách</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                    <div style="overflow-y: auto;">
                        <div id="pnlMain">
                            <div>
                                <table class="table table-bordered responsive" cellspacing="0" rules="all" border="1" id="ctl02_gridMenu" style="width: 100%; border-collapse: collapse;">
                                    <tbody>
                                        <tr class="widgettitle">
                                            <th align="center" scope="col">CHỌN</th>
                                            <th scope="col">Tên đăng nhập</th>
                                            <th scope="col">Tên đầy đủ</th>
                                        </tr>
                                        @if(lst_nguoi_dung != null && lst_nguoi_dung.asp_Nhoms != null)
                                        {
                                             foreach (var item in lst_nguoi_dung.asp_Nhoms)
                                            {
                                                <tr>
                                                <td align="center">
                                                     <a href="/QTNguoiDung/SuaNguoiDung?Id=@item.Id&type=@(StatusAction.Edit.ToString())">Chọn</a>
                                                </td>
                                                <td>
                                                    @item.Email
                                                </td>
                                                <td style="width: 25%;"> @(item.ten)</td>
                                            </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>