@using HG.WebApp
@model List<HG.Entities.Dm_Thanh_Phan_Key>

<div style="overflow-y: auto;">
    <div id="pnlMain">
        <div>
            <table class="table table-bordered responsive" cellspacing="0" rules="all" border="1" id="ctl02_gridMenu" style="width: 100%; border-collapse: collapse;">
                <tbody>
                    <tr class="widgettitle">
                        <th align="center" scope="col">CHỌN</th>
                        <th scope="col">TÊN</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td align="center">
                                <a href="#" onclick="CheckMaTP('@item.ma_thu_tuc_key','@item.ma_thu_tuc','@item.ma_thanh_phan','@StatusAction.Edit.ToString()','@ViewBag.type_view')">Chọn</a>
                            </td>
                            <td>
                                @item.ten_thanh_phan
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    function CheckMaTP(code_key, code, code_tp, type_view_tp, type_view) {
        var dataPost = { code_key: code_key, code: code, code_tp: code_tp, type_view_tp: type_view_tp, type_view: type_view };
        $.ajax({
            url: "/ThuTuc/CheckMaTP",
            type: "post",
            contentType: 'application/x-www-form-urlencoded',
            data: dataPost,
            success: function(result) {
                $("#TabThanhPhan").html(result);
                $("#basicModal_TP").modal("hide");
            }
        });
    };
</script>