@using HG.WebApp
@{
    ViewData["Title"] = "Danh mục";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model HG.Entities.Entities.CauHinh.lich_truc_model
<style>
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        background: #fff;
        border-bottom: 1px solid #fff;
        color: #333;
    }

    .nav-pills .nav-link, .nav-pills .show > .nav-link {
        background: rgba(255,255,255,0.1);
        color: #fff;
        border: 0;
    }


    .nav-pills .nav-link {
        background: 0 0;
        border: 0;
        border-radius: 0;
    }

</style>
<div class="card">
    <div class="card-body">
        <div class="pageheader">
            <div class="pageicon"><span class="iconfa-pencil"></span></div>
            <div class="pagetitle">
                <h5>Lịch</h5>
                <h1>Quản lý lịch</h1>
            </div>
        </div>
        <div class="maincontent">
            <div class="maincontentinner">
                <!-- Pills Tabs -->
                <div class="tab-primary" style="border: 2px solid #0866c6;">
                    <ul class="nav nav-pills" id="pills-tab" role="tablist" style="background: #0866c6;">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link @(ViewBag.active==1?"active":"")" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-tab1" role="tab" aria-controls="pills-home" aria-selected="true">Quản lý ngày nghỉ</button>
                        </li>
                        <li class="nav-item ui-state-default ui-corner-top" role="presentation">
                            <button class="nav-link @(ViewBag.active==2?"active":"")" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-tab2" role="tab" aria-controls="pills-profile" aria-selected="false">Quản lý lịch trực</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent" style="padding: 15px;">
                        @*TAB Cập nhật phiên làm việc*@
                        <div class="tab-pane fade @(ViewBag.active==1?"show active":"")" id="pills-tab1" role="tabpanel" aria-labelledby="home-tab">
                            @if (ViewBag.type_view == StatusAction.Add.ToString() || ViewBag.type_view == StatusAction.Edit.ToString() || ViewBag.type_view == StatusAction.View.ToString())
                            {
                                <form id="form_pb" action="/lichTruc/SaveNgayNghi?type=@ViewBag.type_view" method="post" enctype="multipart/form-data" id="filterForm">
                                    <div class="maincontentinner">
                                        <div class="form-horizontal">
                                            <div class="row mb-3">
                                                <label class="col-md-2 control-label">
                                                    Năm
                                                    <span id="ctl08_ctl00_Label1" style="color:Red;">(*)</span>
                                                </label>
                                                <div class="col-md-8">
                                                    <input name="nam" value="@Model.ngay_nghi.nam" type="text" id="nam" class="form-control input-default" placeholder="Năm" @(ViewBag.type_view == StatusAction.View.ToString() ? "disabled" : "")>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <label class="col-md-2 control-label">
                                                    Tên ngày nghỉ
                                                    <span id="ctl08_ctl00_Label5" style="color:Red;">(*)</span>
                                                </label>
                                                <div class="col-md-8">
                                                    <input name="ten_ngay_nghi" type="text" value="@Model.ngay_nghi.ten_ngay_nghi" id="ten_ngay_nghi" class="form-control input-default" placeholder="Tên ngày nghỉ" @(ViewBag.type_view == StatusAction.View.ToString() ? "disabled" : "")>

                                                </div>
                                            </div>

                                            <div class="row mb-3">
                                                <label class="col-md-2 control-label">Mô tả</label>
                                                <div class="col-md-8">
                                                    <textarea name="mo_ta" rows="2" cols="20" id="mo_ta" class="form-control input-default" placeholder="Mô tả" @(ViewBag.type_view == StatusAction.View.ToString() ? "disabled" : "")>@Model.ngay_nghi.mo_ta</textarea>
                                                </div>
                                            </div>

                                            <div class="row mb-3">
                                                <label class="col-md-2 control-label">Ngày nghỉ trong tuần</label>
                                                <div class="col-md-8">
                                                    <input name="ngay_nghi_trong_tuan" type="text" value="@Model.ngay_nghi.ngay_nghi_trong_tuan" id="ngay_nghi_trong_tuan" class="form-control input-default" placeholder="Ngày nghỉ trong tuần" @(ViewBag.type_view == StatusAction.View.ToString() ? "disabled" : "")>

                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <label class="col-md-2 control-label">Tháng 1</label>
                                                <div class="col-md-8">
                                                    <input name="thang1" type="text" value="@Model.ngay_nghi.thang1" id="thang1" class="form-control input-default" placeholder="Ngày nghỉ của tháng 1" @(ViewBag.type_view == StatusAction.View.ToString() ? "disabled" : "")>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <label class="col-md-2 control-label">Tháng 2</label>
                                                <div class="col-md-8">
                                                    <input name="thang2" type="text" value="@Model.ngay_nghi.thang2" id="thang2" class="form-control input-default" placeholder="Ngày nghỉ của tháng 2" @(ViewBag.type_view == StatusAction.View.ToString() ? "disabled" : "")>

                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <label class="col-md-2 control-label">Tháng 3</label>
                                                <div class="col-md-8">
                                                    <input name="thang3" type="text" value="@Model.ngay_nghi.thang3" id="thang3" class="form-control input-default" placeholder="Ngày nghỉ của tháng 3" @(ViewBag.type_view == StatusAction.View.ToString() ? "disabled" : "")>

                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <label class="col-md-2 control-label">Tháng 4</label>
                                                <div class="col-md-8">
                                                    <input name="thang4" type="text" value="@Model.ngay_nghi.thang4" id="thang4" class="form-control input-default" placeholder="Ngày nghỉ của tháng 4" @(ViewBag.type_view == StatusAction.View.ToString() ? "disabled" : "")>

                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <label class="col-md-2 control-label">Tháng 5</label>
                                                <div class="col-md-8">
                                                    <input name="thang5" type="text" value="@Model.ngay_nghi.thang5" id="thang5" class="form-control input-default" placeholder="Ngày nghỉ của tháng 5" @(ViewBag.type_view == StatusAction.View.ToString() ? "disabled" : "")>

                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <label class="col-md-2 control-label">Tháng 6</label>
                                                <div class="col-md-8">
                                                    <input name="thang6" type="text" value="@Model.ngay_nghi.thang6" id="thang6" class="form-control input-default" placeholder="Ngày nghỉ của tháng 6" @(ViewBag.type_view == StatusAction.View.ToString() ? "disabled" : "")>

                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <label class="col-md-2 control-label">Tháng 7</label>
                                                <div class="col-md-8">
                                                    <input name="thang7" type="text" value="@Model.ngay_nghi.thang7" id="thang7" class="form-control input-default" placeholder="Ngày nghỉ của tháng 7" @(ViewBag.type_view == StatusAction.View.ToString() ? "disabled" : "")>

                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <label class="col-md-2 control-label">Tháng 8</label>
                                                <div class="col-md-8">
                                                    <input name="thang8" type="text" value="@Model.ngay_nghi.thang8" id="thang8" class="form-control input-default" placeholder="Ngày nghỉ của tháng 8" @(ViewBag.type_view == StatusAction.View.ToString() ? "disabled" : "")>

                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <label class="col-md-2 control-label">Tháng 9</label>
                                                <div class="col-md-8">
                                                    <input name="thang9" type="text" value="@Model.ngay_nghi.thang9" id="thang9" class="form-control input-default" placeholder="Ngày nghỉ của tháng 9" @(ViewBag.type_view == StatusAction.View.ToString() ? "disabled" : "")>

                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <label class="col-md-2 control-label">Tháng 10</label>
                                                <div class="col-md-8">
                                                    <input name="thang10" type="text" value="@Model.ngay_nghi.thang10" id="thang10" class="form-control input-default" placeholder="Ngày nghỉ của tháng 10" @(ViewBag.type_view == StatusAction.View.ToString() ? "disabled" : "")>

                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <label class="col-md-2 control-label">Tháng 11</label>
                                                <div class="col-md-8">
                                                    <input name="thang11" type="text" value="@Model.ngay_nghi.thang11" id="thang11" class="form-control input-default" placeholder="Ngày nghỉ của tháng 11" @(ViewBag.type_view == StatusAction.View.ToString() ? "disabled" : "")>

                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <label class="col-md-2 control-label">Tháng 12</label>
                                                <div class="col-md-8">
                                                    <input name="thang12" type="text" value="@Model.ngay_nghi.thang12" id="thang12" class="form-control input-default" placeholder="Ngày nghỉ của tháng 12" @(ViewBag.type_view == StatusAction.View.ToString() ? "disabled" : "")>

                                                </div>
                                            </div>


                                            <div class="row mb-3">
                                                <label class="col-md-2 control-label">Người sửa</label>
                                                <div class="col-md-8">
                                                    <input type="text" value="@Model.ngay_nghi.UidName" disabled="disabled" class="form-control input-default" placeholder="Người sửa">
                                                    <span id="ctl08_ctl00_FUserEditValid" class="labError" style="color:Red;display:none;"></span>
                                                </div>
                                            </div>

                                            <div class="row mb-3">
                                                <label class="col-md-2 control-label">Ngày sửa</label>
                                                <div class="col-md-8">
                                                    <input type="text" value="@Model.ngay_nghi.UpdatedDateUtc" id="" disabled="disabled" class="form-control input-default" placeholder="Ngày sửa">
                                                </div>
                                            </div>

                                            <div class="row mb-3">
                                                <label class="col-md-2 control-label">Ngày tạo</label>
                                                <div class="col-md-8">
                                                    <input name="" type="text" value="@Model.ngay_nghi.CreatedDateUtc" id="" disabled="disabled" class="form-control input-default" placeholder="Ngày tạo">
                                                </div>
                                            </div>

                                            <div class="text-center">
                                                <div class="col-md-offset-2 col-md-10">
                                                    <input type="submit" value="Lưu" id="btnluu" class="btn btn-primary">
                                                    <input type="button" value="Đóng" id="btndong" onclick="window.location.href = '/LichTruc/QuanLy'" class="btn btn-primary">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            }
                            else
                            {
                                <div class="maincontentinner">
                                    <!-- Table with stripped rows -->
                                    <p class="stdformbutton" style="margin-bottom: 10px;">
                                        <input type="button" value="Thêm" onclick="window.location.href = '/LichTruc/QuanLy?type=@StatusAction.Add.ToString()';" class="btn btn-primary" style="width:100px;" />

                                    </p>

                                    <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
                                        <div class="dataTables_length">
                                            <label>
                                                Hiển thị
                                                <select class="dataTable-selector" id="lstPageSize" onchange="changePageSize(this);">
                                                    <option value="5">5</option>
                                                    <option value="10" selected="">10</option>
                                                    <option value="15">15</option>
                                                    <option value="20">20</option>
                                                    <option value="25">25</option>
                                                </select> bản ghi
                                            </label>
                                        </div>
                                        <div id="dataTable">
                                            <div class="dataTable-container">
                                                <table class="table table-bordered responsive">
                                                    <thead class="widgettitle">
                                                        <tr>
                                                            <th class="head0" scope="col" data-sortable="" style="width: 5%;">STT</th>
                                                            <th class="head1" scope="col" data-sortable="" style="width: 30%;">TÊN</th>
                                                            <th class="head0" scope="col" data-sortable="" style="width: 50%;">MÔ TẢ</th>
                                                            <th class="head1" scope="col" data-sortable="" style="width: 5%;">#</th>
                                                            <th class="head0" scope="col" data-sortable="" style="width: 5%;">#</th>
                                                            <th class="head1" scope="col" data-sortable="" style="width: 5%;">#</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (Model.lst_ngay_nghi != null)
                                                        {
                                                            var stt = 1;
                                                            foreach (var item in Model.lst_ngay_nghi)
                                                            {
                                                                <tr>
                                                                    <td scope="row">@stt</td>
                                                                    <td><a href="#">@item.ten_ngay_nghi</a></td>
                                                                    <td>@item.mo_ta</td>
                                                                    <td>
                                                                        <a id="" title="" data-placement="top" data-toggle="tooltip" data-original-title="Xem" href="/LichTruc/QuanLy?nam=@item.nam&type=@(StatusAction.View.ToString())">
                                                                            <span class="glyphicon glyphicon-list-alt">Xem</span>
                                                                        </a>
                                                                    </td>
                                                                    <td>
                                                                        <a id="" title="" data-placement="top" data-toggle="tooltip" data-original-title="Sửa" href="/LichTruc/QuanLy?nam=@item.nam&type=@(StatusAction.Edit.ToString())">
                                                                            <span class="glyphicon glyphicon-edit">Sửa</span>
                                                                        </a>
                                                                    </td>
                                                                    <td>
                                                                        <a onclick="confirm.BeforDeletePost('/LichTruc/XoaNgayNghi?nam=@item.nam')"
                                                               title=""
                                                               data-placement="top"
                                                               data-toggle="tooltip"
                                                               data-original-title="Xóa"
                                                               href="#">
                                                                            <span class="glyphicon glyphicon-trash">Xóa</span>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                stt++;
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="dataTables_info" id="dyntable_info">Hiển thị @ViewBag.RecoredFrom đến  @ViewBag.RecoredTo của @ViewBag.TotalRecored bản ghi</div>
                                            <div class="dataTables_paginate paging_full_numbers" id="dyntable_paginate">
                                                @{
                                                    var TotalPage = (int)ViewBag.TotalPage;
                                                    var CurrentPage = (int)ViewBag.CurrentPage;
                                                    if (TotalPage > 5)
                                                    {
                                                        if (CurrentPage > CurrentPage + 2)
                                                        {
                                                            <span><a class="first paginate_button paginate_button_disabled" onclick="GetListByCurrentPage(1)">Đầu</a></span>
                                                            <span><a class="first paginate_button paginate_button_disabled" onclick="GetListByCurrentPage(@CurrentPage - 1)">Trước</a></span>
                                                        };
                                                        if (CurrentPage > 3)
                                                        {
                                                            for (int i = CurrentPage - 2; i < CurrentPage + 2; i++)
                                                            {
                                                                if (i == CurrentPage)
                                                                {
                                                                    <span><a tabindex="0" class="active paginate_active" onclick="GetListByCurrentPage(@i)">@i</a></span>
                                                                }
                                                                else
                                                                {
                                                                    <span><a tabindex="0" class=" paginate_active" onclick="GetListByCurrentPage(@i)">@i</a></span>
                                                                }
                                                            }
                                                        }
                                                        else
                                                        {
                                                            for (int i = 1; i <= 5; i++)
                                                            {
                                                                if (i == CurrentPage)
                                                                {
                                                                    <span><a tabindex="0" class="active paginate_active" onclick="GetListByCurrentPage(@i)">@i</a></span>
                                                                }
                                                                else
                                                                {
                                                                    <span><a tabindex="0" class=" paginate_active" onclick="GetListByCurrentPage(@i)">@i</a></span>
                                                                }
                                                            }

                                                        }

                                                        if (CurrentPage < CurrentPage + 2)
                                                        {
                                                            <span> <a class="first paginate_button paginate_button_disabled" onclick="GetListByCurrentPage(@CurrentPage + 1)">Trước</a></span>
                                                            <span><a class="first paginate_button paginate_button_disabled" onclick="GetListByCurrentPage(@TotalPage)">Cuối</a></span>
                                                        };
                                                    }
                                                    else
                                                    {
                                                        for (int i = 1; i <= TotalPage; i++)
                                                        {
                                                            if (i == CurrentPage)
                                                            {
                                                                <span><a tabindex="0" class="active paginate_active" onclick="GetListByCurrentPage(@i)">@i</a></span>
                                                            }
                                                            else
                                                            {
                                                                <span><a tabindex="0" class=" paginate_active" onclick="GetListByCurrentPage(@i)">@i</a></span>
                                                            }
                                                        }
                                                    }
                                                }
                                            </div>
                                        </div>

                                        <!-- End Table with stripped rows -->

                                    </div>
                                    <!-- Table with stripped rows -->
                                    <p class="stdformbutton" style="margin-bottom: 10px;">
                                        <input type="button" value="Thêm" onclick="window.location.href = '/LichTruc/QuanLy?type=@StatusAction.Add.ToString()';" class="btn btn-primary" style="width:100px;" />

                                        <input type="button" value="Xóa" onclick="DeleteMultiple()" class="btn btn-primary" style="width:100px;" />

                                    </p>

                                </div>
                            }

                        </div>
                        @*TAB thông tin chuyên viên online *@
                        <div class="tab-pane fade @(ViewBag.active==2?"show active":"")" id="pills-tab2" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="form-horizontal">
                                <form id="form_pb" action="/lichTruc/SaveLichTruc" method="post" enctype="multipart/form-data" id="filterForm">
                                    <div class="row mb-3">
                                        <label class="col-md-2 control-label">Đơn vị:</label>
                                        <div class="col-md-8">
                                            <select name="don_vi" id="don_vi" class="form-control input-default-sm" onchange="ChangePhien(this)">
                                                @if (Model.lst_don_vi != null)
                                                    foreach (var item in Model.lst_don_vi)
                                                    {
                                                        if (ViewBag.don_vi.Trim() == item.ma_don_vi)
                                                        {
                                                            <option selected value="@item.ma_don_vi">@item.ten_don_vi</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@item.ma_don_vi">@item.ten_don_vi</option>
                                                        }
                                                    }
                                            </select>
                                        </div>
                                        <label class="col-md-1 control-label">
                                        </label>
                                        <div class="col-md-1">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="col-md-2 control-label"></label>
                                        <div class="col-md-10">
                                            <input type="button" name="ctl08$bttruoc" value="<<" id="bttruoc" class="btn btn-primary">
                                            <input type="button" name="ctl08$bthientai" value="Tuần hiện tại" id="bthientai" class="btn btn-primary">
                                            <input type="button" name="ctl08$btsau" value=">>" id="btsau" class="btn btn-primary">


                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-md-2 control-label">Thứ 2:</label>
                                        <div class="col-md-8">
                                            <select multiple style="width: 100%;" class="select2 form-select form-control input-default" id="multiselect2" data-placeholder="Chọn người trực giải quyết TTHC">

                                                @if (Model.lst_can_bo != null)
                                                {
                                                    foreach (var item in Model.lst_can_bo)
                                                    {
                                                        <option value="@item.user_id">@item.ten_can_bo</option>
                                                    }
                                                }
                                            </select>
                                            <input name="thu2" type="text" id="thu2" class="form-control input-default" hidden>
                                        </div>
                                        <label class="col-md-1 ">
                                        </label>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="col-md-2 control-label">Thứ 3:</label>
                                        <div class="col-md-8">
                                            <select multiple style="width: 100%;" class="select2 form-select form-control input-default" id="multiselect3" data-placeholder="Chọn người trực giải quyết TTHC">

                                                @if (Model.lst_can_bo != null)
                                                {
                                                    foreach (var item in Model.lst_can_bo)
                                                    {
                                                        <option value="@item.user_id">@item.ten_can_bo</option>
                                                    }
                                                }
                                            </select>
                                            <input name="thu3" type="text" id="thu3" class="form-control input-default" hidden>
                                        </div>
                                        <label class="col-md-1 ">
                                        </label>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="col-md-2 control-label">Thứ 4:</label>
                                        <div class="col-md-8">
                                            <select multiple style="width: 100%;" class="select2 form-select form-control input-default" id="multiselect4" data-placeholder="Chọn người trực giải quyết TTHC">

                                                @if (Model.lst_can_bo != null)
                                                {
                                                    foreach (var item in Model.lst_can_bo)
                                                    {
                                                        <option value="@item.user_id">@item.ten_can_bo</option>
                                                    }
                                                }
                                            </select>
                                            <input name="thu4" type="text" id="thu4" class="form-control input-default" hidden>
                                        </div>
                                        <label class="col-md-1 ">
                                        </label>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="col-md-2 control-label">Thứ 5:</label>
                                        <div class="col-md-8">
                                            <select multiple style="width: 100%;" class="select2 form-select form-control input-default" id="multiselect5" data-placeholder="Chọn người trực giải quyết TTHC">

                                                @if (Model.lst_can_bo != null)
                                                {
                                                    foreach (var item in Model.lst_can_bo)
                                                    {
                                                        <option value="@item.user_id">@item.ten_can_bo</option>
                                                    }
                                                }
                                            </select>
                                            <input name="thu5" type="text" id="thu5" class="form-control input-default" hidden>
                                        </div>
                                        <label class="col-md-1 ">
                                        </label>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="col-md-2 control-label">Thứ 6:</label>
                                        <div class="col-md-8">
                                            <select multiple style="width: 100%;" class="select2 form-select form-control input-default" id="multiselect6" data-placeholder="Chọn người trực giải quyết TTHC">

                                                @if (Model.lst_can_bo != null)
                                                {
                                                    foreach (var item in Model.lst_can_bo)
                                                    {
                                                        <option value="@item.user_id">@item.ten_can_bo</option>
                                                    }
                                                }
                                            </select>
                                            <input name="thu6" type="text" id="thu6" class="form-control input-default" hidden>
                                        </div>
                                        <label class="col-md-1 ">
                                        </label>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="col-md-2 control-label">Thứ 7:</label>
                                        <div class="col-md-8">
                                            <select multiple style="width: 100%;" class="select2 form-select form-control input-default" id="multiselect7" data-placeholder="Chọn người trực giải quyết TTHC">

                                                @if (Model.lst_can_bo != null)
                                                {
                                                    foreach (var item in Model.lst_can_bo)
                                                    {
                                                        <option value="@item.user_id">@item.ten_can_bo</option>
                                                    }
                                                }
                                            </select>
                                            <input name="thu7" type="text" id="thu7" class="form-control input-default" hidden>
                                        </div>
                                        <label class="col-md-1 ">
                                        </label>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="col-md-2 control-label">Chủ nhật:</label>
                                        <div class="col-md-8">
                                            <select multiple style="width: 100%;" class="select2 form-select form-control input-default" id="multiselect8" data-placeholder="Chọn người trực giải quyết TTHC">

                                                @if (Model.lst_can_bo != null)
                                                {
                                                    foreach (var item in Model.lst_can_bo)
                                                    {
                                                        <option value="@item.user_id">@item.ten_can_bo</option>
                                                    }
                                                }
                                            </select>
                                            <input name="thu8" type="text" id="thu8" class="form-control input-default" hidden>
                                        </div>
                                        <label class="col-md-1 ">
                                        </label>
                                    </div>
                                    <div class="text-center" style="margin-top: 50px;">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" name="ctl08$btnSave" value="Lưu" id="btnSave" class="btn btn-primary">
                                            <input type="button" name="ctl08$btnCopy" value="Sao chép lịch" id="btnCopy" class="btn btn-primary">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End Pills Tabs -->

    </div>
</div>
<script>
    var Arr2 = [];
    var Arr3 = [];
    var Arr4 = [];
    var Arr5 = [];
    var Arr6 = [];
    var Arr7 = [];
    var Arr8 = [];
    function removeElement(array, elem) {
        var index = array.indexOf(elem);
        if (index > -1) {
            array.splice(index, 1);
        }
    }
    $(document).ready(function() {
        $('.select2').select2({
            closeOnSelect: false,
            language: {
                noResults: function() {
                    return "Không có kết quả nào được tìm thấy.";
                }
            }
        });

        var thu2 = "@Model.lich_truc.thu2";
        var thu2xl = thu2.split(",");
        if (thu2xl != "") {
            thu2xl.forEach(function(i) {
                Arr2.push(i);
                $("#thu2").val(Arr2.join(","));
            });
            $("#multiselect2").val(thu2xl).trigger('change');
        }

        $('#multiselect2').on('select2:select', function(e) {
            Arr2.push(e.params.data.id);
            $("#thu2").val(Arr2.join(","));
        });

        $('#multiselect2').on("select2:unselect", function(e) {
            removeElement(Arr2, e.params.data.id);
            $("#thu2").val(Arr2.join(","));
        });

        var thu3 = "@Model.lich_truc.thu3";
        var thu3xl = thu3.split(",");
        if (thu3xl != "") {
            thu3xl.forEach(function(i) {
                Arr3.push(i);
                $("#thu3").val(Arr3.join(","));
            });
            $("#multiselect3").val(thu3xl).trigger('change');
        }

        $('#multiselect3').on('select2:select', function(e) {
            Arr3.push(e.params.data.id);
            $("#thu3").val(Arr3.join(","));
        });

        $('#multiselect3').on("select2:unselect", function(e) {
            removeElement(Arr3, e.params.data.id);
            $("#thu3").val(Arr3.join(","));
        });

        var thu4 = "@Model.lich_truc.thu4";
        var thu4xl = thu4.split(",");
        if (thu4xl != "") {
            thu4xl.forEach(function(i) {
                Arr4.push(i);
                $("#thu4").val(Arr4.join(","));
            });
            $("#multiselect4").val(thu4xl).trigger('change');
        }

        $('#multiselect4').on('select2:select', function(e) {
            Arr4.push(e.params.data.id);
            $("#thu4").val(Arr4.join(","));
        });

        $('#multiselect4').on("select2:unselect", function(e) {
            removeElement(Arr4, e.params.data.id);
            $("#thu4").val(Arr4.join(","));
        });

        var thu5 = "@Model.lich_truc.thu5";
        var thu5xl = thu5.split(",");
        if (thu5xl != "") {
            thu5xl.forEach(function(i) {
                Arr5.push(i);
                $("#thu5").val(Arr5.join(","));
            });
            $("#multiselect5").val(thu5xl).trigger('change');
        }

        $('#multiselect5').on('select2:select', function(e) {
            Arr5.push(e.params.data.id);
            $("#thu5").val(Arr5.join(","));
        });

        $('#multiselect5').on("select2:unselect", function(e) {
            removeElement(Arr5, e.params.data.id);
            $("#thu5").val(Arr5.join(","));
        });

        var thu6 = "@Model.lich_truc.thu6";
        var thu6xl = thu6.split(",");
        if (thu6xl != "") {
            thu6xl.forEach(function(i) {
                Arr6.push(i);
                $("#thu6").val(Arr6.join(","));
            });
            $("#multiselect6").val(thu6xl).trigger('change');
        }

        $('#multiselect6').on('select2:select', function(e) {
            Arr6.push(e.params.data.id);
            $("#thu6").val(Arr6.join(","));
        });

        $('#multiselect6').on("select2:unselect", function(e) {
            removeElement(Arr6, e.params.data.id);
            $("#thu6").val(Arr6.join(","));
        });

        var thu7 = "@Model.lich_truc.thu7";
        var thu7xl = thu7.split(",");
        if (thu7xl != "") {
            thu7xl.forEach(function(i) {
                Arr7.push(i);
                $("#thu7").val(Arr7.join(","));
            });
            $("#multiselect7").val(thu7xl).trigger('change');
        }

        $('#multiselect7').on('select2:select', function(e) {
            Arr7.push(e.params.data.id);
            $("#thu7").val(Arr7.join(","));
        });

        $('#multiselect7').on("select2:unselect", function(e) {
            removeElement(Arr7, e.params.data.id);
            $("#thu7").val(Arr7.join(","));
        });
        var thu8 = "@Model.lich_truc.thu8";
        var thu8xl = thu7.split(",");
        if (thu8xl != "") {
            thu8xl.forEach(function(i) {
                Arr8.push(i);
                $("#thu8").val(Arr8.join(","));
            });
            $("#multiselect8").val(thu8xl).trigger('change');
        }

        $('#multiselect8').on('select2:select', function(e) {
            Arr8.push(e.params.data.id);
            $("#thu8").val(Arr8.join(","));
        });

        $('#multiselect8').on("select2:unselect", function(e) {
            removeElement(Arr8, e.params.data.id);
            $("#thu8").val(Arr8.join(","));
        });

        function GetDay(i) {
            var itemss = ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'];
            var data = itemss[i];
            return data;
        }

        jQuery.validator.addMethod("dinh_dang", function(value, element) {
            var check = true;
            value.split(" ").forEach(function(i) {
                if (i.length != 2) {
                    check = false;
                }
            });
            return check;
        }, "Phải là 2 ký tự liền nhau, các ngày phân biệt nhau bởi dấu cách.");

        jQuery.validator.addMethod("check_date", function(value, element) {
            var check = true;
            value.split(" ").forEach(function(i) {
                var date = new Date("07-" + i + "-2022");
                var result = date.getDay();
                var data = $(element).val().toUpperCase();
                var day = GetDay(result);
                data.split(" ").forEach(function(j) {
                    var day2 = GetDay(parseInt(j));
                    console.log(day.includes(day2));
                    console.log(day2)
                    if (day.includes(day2)) {
                        check = false;
                    }
                });
            });

            return check;
        }, "Ngày nghỉ trong tháng trùng với ngày nghỉ trong tuần hoặc ngày không hợp lệ.");

        $('#form_pb').validate({
            rules: {
                nam: {
                    required: true,
                    minlength: 4,
                    maxlength: 4
                },
                ngay_nghi_trong_tuan: {
                    dinh_dang: true
                }
            },
            messages: {
                nam: {
                    required: "Nhập năm",
                    minlength: "Năm không phù hợp",
                    maxlength: "Năm không phù hợp"
                },
            }
        });
    });

    function GetListByCurrentPage(id) {
        var pageSize = $("#lstPageSize").val();
        $.ajax({
            type: "GET",
            url: "../LichTruc/QuanLyPaging?currentPage=" + id + "&pageSize=" + pageSize,
            data: "",
            contentType: 'application/json; charset=utf-8',
            success: function(data) {
                //console.log(data);
                $("#dataTable").html(data);
            }
        });
    }
    function changePageSize(data) {
        $("#lstPageSize").val(data.value);
        $.ajax({
            type: "GET",
            url: "../LichTruc/QuanLyPaging?currentPage=" + 1 + "&pageSize=" + data.value,
            data: "",
            contentType: 'application/json; charset=utf-8',
            success: function(data) {
                //console.log(data);
                $("#dataTable").html(data);
            }
        });
    }

    function ChangePhien(data) {
        window.location.href = "/LichTruc/QuanLy?oid=0-2&don_vi=" + data.value;
    }

</script>