<div class="news-title top-title-frame">
    <p>THÔNG  BÁO CÁ NHÂN</p>
</div>
<div class="news-list">
    <ul class="list_news_ul">
        <li class="list_news_li">
            <a class="list_news_a" href="/DichVuCong/HoSo?trang_thai_ho_so=1">Hồ sơ tuyển sinh <span style="color:red">@HG.WebApp.Helper.HelperSql.TotalHSTS()</span></a>
        </li>
        <li class="list_news_li">
            <a class="list_news_a" href="/DichVuCong/HoSo?trang_thai_ho_so=1">Thủ tục đăng ký khiếu nại <span style="color:red">@HG.WebApp.Helper.HelperSql.TotalDangKyKhieuNai()</span></a>
        </li>
        <li class="list_news_li">
            <a class="list_news_a" href="/DichVuCong/HoSo?trang_thai_ho_so=1">Hồ sơ đang soạn <span style="color:red">@HG.WebApp.Helper.HelperSql.TotalHSDangSoan()</span></a>
        </li>
        <li class="list_news_li">
            <a class="list_news_a" href="/DichVuCong/HoSo?trang_thai_ho_so=1">Hồ sơ mới đăng ký <span style="color:red">@HG.WebApp.Helper.HelperSql.TotalHSMoiDangKy()</span></a>
        </li>
        <li class="list_news_li">
            <a class="list_news_a" href="/DichVuCong/HoSo?trang_thai_ho_so=1">Hồ sơ không được tiếp nhận <span style="color:red">@HG.WebApp.Helper.HelperSql.TotalHSKhongDuocNhan()</span></a>
        </li>
        <li class="list_news_li">
            <a class="list_news_a" href="/DichVuCong/HoSo?trang_thai_ho_so=1">Hồ sơ yêu cầu nạp tiền <span style="color:red">@HG.WebApp.Helper.HelperSql.TotalHSYeuCauNapTien()</span></a>
        </li>
        <li class="list_news_li">
            <a class="list_news_a" href="/DichVuCong/HoSo?trang_thai_ho_so=1">Hồ sơ đã nạp tiền <span style="color:red">@HG.WebApp.Helper.HelperSql.TotalHSDaNapTien()</span></a>
        </li>
        <li class="list_news_li">
            <a class="list_news_a" href="/DichVuCong/HoSo?trang_thai_ho_so=1">Hồ sơ đã trả kết quả <span style="color:red">@HG.WebApp.Helper.HelperSql.TotalHSDaTraKQ()</span></a>
        </li>
        <li class="list_news_li">
            <a class="list_news_a" href="/DichVuCong/HoSo?trang_thai_ho_so=1">Hồ sơ dừng xử lý <span style="color:red">@HG.WebApp.Helper.HelperSql.TotalHSDungXuLy()</span></a>
        </li>
        <li class="list_news_li">
            <a class="list_news_a" href="/DichVuCong/HoSo?trang_thai_ho_so=1">Hồ sơ hoàn thành xử lý <span style="color:red">@HG.WebApp.Helper.HelperSql.TotalHSHoanThanhXuLy()</span></a>
        </li>
        <li class="list_news_li">
            <a class="list_news_a" href="/DichVuCong/HoSo?trang_thai_ho_so=1">Hồ sơ đang xử lý <span style="color:red">@HG.WebApp.Helper.HelperSql.TotalHSDangXuLy()</span></a>
        </li>
    </ul>
</div>


