@using HG.WebApp
@{
    ViewData["Title"] = "Danh mục tin tức";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var ds_dmtintuc = ViewBag.lst_kenh_tin as List<HG.Entities.Dm_Kenh_Tin>;
}
@model HG.Entities.Entities.Tin_Tuc.Tin_Tuc
<script src="/BackEnd/Admin/plugin/ckeditor/ckeditor.js"></script>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="border: 2px solid #0866c6;">
            <div class="modal-header" style="background-color: #0866c6;">
                <h5 class="modal-title" style="color:white" id="exampleModalLabel">Thông báo</h5>
            </div>
            <div class="modal-body">
                @ViewBag.msg
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary modal-footer-btnclose" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.error > 0)
{
    <script>
        $(document).ready(function() {
            $("#exampleModal").modal("show");
        });
    </script>
}
<div class="col-lg-12">
    <div class="pageheader">
        <div class="pageicon"><span class="iconfa-pencil"></span></div>
        <div class="pagetitle">
            <h5>Thông tin</h5>
            <h1>Tin tức</h1>
        </div>
    </div>
    <div class="maincontent">
        <div class="maincontentinner">
            <h4 class="widgettitle">Cập nhật thông tin tin tức</h4>
            <div class="widgetcontent">
                <div class="form-horizontal">
                    <!-- Horizontal Form -->
                    <form id="form_tintuc" action="/TinTuc/SuaTinTuc?code=@Model.Id&type=@ViewBag.type_view" method="post" enctype="multipart/form-data" id="filterForm">
                        <div class="row mb-3" style="display: none">
                            <label for="ma_pb" class="col-sm-2 control-label">Mã kênh tin</label>
                            <div class="col-sm-8">
                                <input type="number" name="Id" maxlength="25" value="@Model.Id" @(ViewBag.type_view == StatusAction.View.ToString() ? "disabled" : "")>
                            </div>
                        </div>
                        <div class="row mb-3 tab_thuc_hien">
                            <label for="ten_pb" class="col-sm-2 control-label">Danh mục tin tức <span style="color:red">(*)</span></label>
                            <div class="col-sm-8">
                                <select class="form-select form-control input-default" name="ma_dm_kenh_tin" 
                                    @(ViewBag.type_view == StatusAction.View.ToString() ? "disabled" : "")>
                                    <option selected="selected" value="">---- Chọn danh mục ----</option>
                                    @if (ds_dmtintuc != null)
                                    {
                                        foreach (var item in ds_dmtintuc)
                                        {
                                            if (@Model.ma_dm_kenh_tin != null && @Model.ma_dm_kenh_tin.Trim() == item.ma_kenh_tin.Trim())
                                            {
                                                 <option value="@item.ma_kenh_tin" selected>@item.ten_danh_muc</option>
                                            }
                                            else
                                            {
                                                <option value="@item.ma_kenh_tin">@item.ten_danh_muc</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                      
                        <div class="row mb-3">
                            <label for="ten_pb" class="col-sm-2 control-label">Tiêu đề <span style="color:red">(*)</span></label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-default" placeholder="Tiêu đề" name="tieu_de" 
                                    maxlength="200" value="@Model.tieu_de" @(ViewBag.type_view == StatusAction.View.ToString() ? "disabled" : "")>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="mota" class="col-sm-2 control-label">Nội dung</label>
                            <div class="col-sm-8">
                                <textarea class="form-control input-default" placeholder="Nội dung" 
                                    name="noi_dung" id="mota" maxlength="500" 
                                    @(ViewBag.type_view == StatusAction.View.ToString() ? "disabled" : "")>@Model.noi_dung</textarea>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="ten_pb" class="col-sm-2 control-label">Nội dung chi tiết</label>
                            <div class="col-sm-8">
                                <textarea id="ckedit2" class="form-control input-default" placeholder="Nội dung chi tiết" 
                                    name="noi_dung_chi_tiet" @(ViewBag.type_view == StatusAction.View.ToString() ? "disabled" : "")>
                                    @Html.Raw(Model.noi_dung_chi_tiet)
                                </textarea>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="ten_pb" class="col-sm-2 control-label">Ảnh đại diện</label>
                            <div class="col-sm-8">
                                <input type="file" id="files" name="files" style="display: none">
                                <input type="text" id="avatar1" name="anh_dai_dien" style="display: none" value="@Model.anh_dai_dien" >
                                <input type="text" id="avatar_show" name="anh_dai_dien_show" value="@Model.anh_dai_dien" disabled>
                                <button type="button" onclick="$('#files').click();" class="btn btn-default"
                                    @(ViewBag.type_view == StatusAction.View.ToString() ? "disabled" : "")
                                ><i class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;Chọn File</button>
                            </div>
                        </div>
                       <div class="row mb-3">
                            <label class="col-md-2 control-label">Hiển thị</label>
							<div class="col-md-10">
								<input onclick="HienThiTin()" id="is_hien_thi" type="checkbox" name="is_hien_thi"  value="" 
                                    @(@Model.is_hien_thi == true ? "checked" : "" ) 
                                    value="@(@Model.is_hien_thi == true ? true : 0 )"
                                    @(ViewBag.type_view == StatusAction.View.ToString() ? "disabled" : "")
                                >
							</div>
                            <script>
                                function HienThiTin() {
                                    if ($('#is_hien_thi').is(':checked')) {
                                         $("#is_hien_thi").val(true)
                                    }else{
                                        $("#is_hien_thi").val(false)
                                    }
                                }
                            </script>
                        </div>
                        <div class="row mb-3">
                            <label for="nguoi_sua" class="col-sm-2 control-label">Người sửa</label>
                            <div class="col-sm-8">
                                <input disabled type="text" class="form-control input-default" id="nguoi_sua" value="@Model.UidName">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="ngay_sua" class="col-sm-2 control-label">Ngày sửa</label>
                            <div class="col-sm-8">
                                <input disabled type="text" class="form-control input-default" id="ngay_sua" value="@Model.UpdatedDateUtc">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="ngay_tao" class="col-sm-2 control-label">Ngày đăng tin</label>
                            <div class="col-sm-8">
                                <input disabled type="text" class="form-control input-default" id="ngay_tao" name="CreatedDateUtc" value="@Model.CreatedDateUtc">
                            </div>
                        </div>
                        @if (ViewBag.type_view == StatusAction.View.ToString())
                        {
                            <div class="text-center">
                                <button type="button" class="btn btn-primary" name="type" onclick="window.location.href='/TinTuc/ThemTinTuc';">Thêm</button>
                                <button type="button" class="btn btn-primary" name="type" onclick="window.location.href='/TinTuc/SuaTinTuc?code=@Model.Id&type=@StatusAction.Edit.ToString()';">Sửa</button>
                                <button type="button" class="btn btn-primary" onclick="confirm.BeforDeletePost('/TinTuc/XoaTinTuc?code=@Model.Id')">Xóa</button>
                                <button type="button" class="btn btn-secondary" onclick="window.location.href='/TinTuc/TinTuc';">Đóng</button>
                            </div>
                        }
                        @if (ViewBag.type_view == StatusAction.Edit.ToString())
                        {
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary" name="type_view" value="@(StatusAction.Add.ToString())">Lưu và Thêm</button>
                                <button type="submit" class="btn btn-primary" name="type_view" value="@(StatusAction.View.ToString())">Lưu</button>
                                <button type="button" class="btn btn-primary" onclick="confirm.BeforDeletePost('/TinTuc/XoaTinTuc?code=@Model.Id')">Xóa</button>
                                <button type="button" class="btn btn-secondary" onclick="window.location.href='/TinTuc/TinTuc';">Đóng</button>
                            </div>
                        }
                        <input name="type_view" hidden value="@ViewBag.type_view" />
                    </form><!-- End Horizontal Form -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Basic Modal -->


<div class="modal fade" id="basicModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header widgettitle">
                <h5 class="modal-title">Danh sách</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div><!-- End Basic Modal-->
<!-- /.modal -->


<script>
    $(document).ready(function() {
        jQuery.validator.addMethod("ma_vaild", function(value, element) {
            if (/[ `!#$%^&*()_+\-=\[\]{};':"\\|,<>\/?~]/.test(value)) {
                return false;
            } else {
                return true;
            };
        }, "Mã không nhập các kí tự đặc biệt [ `!#$%^&*()_+\-=\[\]{};':\\|,<>\/?~]");

       
          $('#form_tintuc').validate({
            rules: {
                ma_dm_kenh_tin: {
                    required: true,
                    ma_vaild: true
                },              
                tieu_de: "required"
            },
            messages: {
                ma_dm_kenh_tin: {
                    required: "Bạn cần chọn danh mục!",
                },
                tieu_de: "Bạn cần nhập tiêu đề tin!"
            }
        });
    });
      $("#files").on('change', function () {
            // Checking whether FormData is available in browser
            if (window.FormData !== undefined) {
                var fileUpload = $(this).get(0);
                var files = fileUpload.files;
                // Create FormData object
                var fileData = new FormData();
                // Looping over all files and add it to FormData object
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }
                // Adding one more key to FormData object
                fileData.append('username', 'Manas');
                $.ajax({
                    url: '/Upload/UploadFiles?folder=TinTuc',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    success: function (result) {
                        console.log(result);
                        for (var i = 0; i < result.files.length; i++) {
                                $('#avatar').attr('src', result.files[i]);
                                $('#avatar1').val(""+result.files[i]+"");
                                $('#avatar_show').val(""+result.files[i]+"");
                        }
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });
            } else {
                alert("FormData is not supported.");
            }
        });    

     CKEDITOR.replace('ckedit2');
    function CheckMa(data) {
        var dataPost = { code: data.value };
        $.ajax({
            url: "/DanhMuc/CheckMaKT",
            type: "post",
            contentType: 'application/x-www-form-urlencoded',
            data: dataPost,
            success: function(result) {
                if (result.error == 0) {
                    window.location.href = result.href;
                }
            }
        });
    };
</script>



