            @model List<HG.Entities.Entities.Nguoi_PHXLModel>                    
                <input id="ip_ma_linh_vuc" value="@ViewBag.ma_linh_vuc" hidden/>
                <input id="ip_nguoi_phoi_hop" value="@ViewBag.nguoi_phoi_hop" hidden/>
                <div class="dataTable-container">
                        <table class="table table-bordered responsive">
                            <thead class="widgettitle">
                                <tr>
                                   
                                    <th class="head0" scope="col" data-sortable="" style="width: 5%;">STT</th>
                                    <th class="head1" scope="col" data-sortable="" style="width: 20%;">TÊN LUỒNG</th>
                               
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    var stt = 1;
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td scope="row">
                                                @stt
                                                <input type="hidden" name="" id="ma_luong" value="@item.ma_luong" />
                                            </td>
                                            <td><p  style="color:#4154f1; cursor:pointer" onclick="LayCacBuocXuLyCuaLuong('@item.ma_luong')">@item.ten_luong</p></td>
                                        </tr>
                                        stt++;
                                    }
                                }
                            </tbody>
                        </table>
            </div>
           <script>
            function LayCacBuocXuLyCuaLuong(abc) {
                  var ip_ma_linh_vuc = $("#ip_ma_linh_vuc").val();
                  var ip_nguoi_phoi_hop = document.getElementById("nguoi_phoi_hop").options[document.getElementById("nguoi_phoi_hop").selectedIndex].value;
                    if (ip_nguoi_phoi_hop == null || ip_nguoi_phoi_hop == "" || ip_nguoi_phoi_hop == 0) {
                        alert("bạn chưa chọn người phối hợp!");
                        return;
                    }
                      $.ajax({
                               type: "GET",
                               url: "/CauHinh/LayCacBuocXuLyCuaLuong?ma_luong="+ abc + "&ma_nguoi_dung=" + ip_nguoi_phoi_hop ,
                               data: "",
                               contentType: 'application/json; charset=utf-8',
                               success: function(data) {
                                  $("#CacBuocXuLyChiTietCuaLuong").html(data);
                                  $("#CacBuocXuLyTheoLuong").modal("show"); 
                               }       
                      });
            }
            function ThemNguoiVaoBuoc() {
                if ($("#lstBuocCuaLuong").val() == "" || $("#lstBuocCuaLuong").val() == undefined || $("#lstBuocCuaLuong").val() == null) {
                     alert("bạn chưa chọn bước xử lý!");
                     return;
                }
                 var ip_nguoi_phoi_hop = document.getElementById("nguoi_phoi_hop").options[document.getElementById("nguoi_phoi_hop").selectedIndex].value;
                $.ajax({
                           type: "GET",
                           url: "/CauHinh/ThemNguoiXLVB?ma_buoc="+ $("#lstBuocCuaLuong").val()+"&ma_nguoi_dung=" + ip_nguoi_phoi_hop,
                           data: "",
                           contentType: 'application/json; charset=utf-8',
                           success: function(data) {
                               alert(data);
                           }       
                  });
            }
           
           
           </script>
          <div class="modal fade" id="CacBuocXuLyTheoLuong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document" style="width: 750px;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Danh sách các bước xử lý</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <input hidden id="lstBuocCuaLuong" name="lstBuocCuaLuong" value="" />
                        <div class="modal-body">
                           
                            <span id="CacBuocXuLyChiTietCuaLuong">Xóa thành công</span>
                        </div>
                        <div class="modal-footer">
                             <button type="button" class="btn btn-primary" onclick="ThemNguoiVaoBuoc()" id="BtnThayDoiNgXL">Thêm người vào bước</button>
                             <button type="button" class="btn btn-default" data-bs-dismiss="modal">Đóng</button>
                        </div>
                    </div>
                </div>
            </div>