@using HG.WebApp
@{
    ViewData["Title"] = "Danh mục lĩnh vực";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var MenuCha = ViewBag.MenuCha as List<HG.Entities.Dm_menu>;
    var MenuCon = ViewBag.MenuCon as List<HG.Entities.Dm_menu>;
}
@model HG.Entities.Dm_menu



<div class="col-lg-12">
    <div class="pageheader">
        <div class="pageicon"><span class="iconfa-pencil"></span></div>
        <div class="pagetitle">
            <h5>Thông tin</h5>
            <h1>Trang</h1>
        </div>
    </div>
    @if (ViewBag.error > 0)
    {
        <div>@ViewBag.msg</div>
    }
    <div class="maincontent">
        <div class="maincontentinner">
            <h4 class="widgettitle">Cập nhật thông tin trang</h4>
            <div class="widgetcontent">
                <div class="form-horizontal">
                    <!-- Horizontal Form -->
                    <form id="form_pb" action="/Menu/SuaChuyenMucCap2?code=@Model.ma_trang&type=@ViewBag.type_view" method="post" enctype="multipart/form-data" id="filterForm">

                        <div class="row mb-3">
                            <label for="ma_pb" class="col-sm-2 control-label">Mã trang <span style="color:red">(*)</span></label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-default" placeholder="Mã trang" name="ma_trang" maxlength="25" value="@Model.ma_trang" @(ViewBag.type_view == StatusAction.View.ToString() ? "disabled" : "")>
                            </div>
                            <div class="col-sm-1">
                                <button type="button" class="btn btn-primary" onclick="myModalPopup()" data-bs-toggle="modal" data-bs-target="#basicModal">
                                    Chọn
                                </button>

                                <script>
                                    function myModalPopup() {
                                        $.ajax({
                                            type: "GET",
                                            url: "../Menu/RenderViewChuyenMucCap2",
                                            data: "",
                                            contentType: 'application/json; charset=utf-8',
                                            success: function(data) {
                                                console.log(data);
                                                $("#basicModal .modal-body").html(data);
                                            }
                                        });
                                    }

                                </script>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="ten_pb" class="col-sm-2 control-label">Tên trang <span style="color:red">(*)</span></label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-default" placeholder="Tên trang" name="ten_trang" maxlength="100" value="@Model.ten_trang" @(ViewBag.type_view == StatusAction.View.ToString() ? "disabled" : "")>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="mota" class="col-sm-2 control-label">Mô tả</label>
                            <div class="col-sm-8">
                                <textarea class="form-control input-default" placeholder="Mô tả" name="mo_ta" id="mota" maxlength="500" @(ViewBag.type_view == StatusAction.View.ToString() ? "disabled" : "")>@Model.mo_ta</textarea>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="ten_pb" class="col-sm-2 control-label">Danh mục chính </label>
                            <div class="col-sm-8">
                                <select class="form-select form-control input-default" name="ma_trang_level1" @(ViewBag.type_view == StatusAction.View.ToString() ? "disabled" : "")>
                                    <option selected="selected" value="">---- Chọn Danh mục chính ----</option>
                                    @if (MenuCha != null)
                                        foreach (var item in MenuCha)
                                        {
                                            if (Model.level == 1 && item.ma_trang == Model.ma_trang_cha)
                                            {
                                                <option selected="selected" value="@item.ma_trang">@item.ten_trang</option>
                                            }
                                            else
                                            {
                                                <option value="@item.ma_trang">@item.ten_trang</option>
                                            }

                                        }
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="ten_pb" class="col-sm-2 control-label">Danh mục cha </label>
                            <div class="col-sm-8">
                                <select class="form-select form-control input-default" name="ma_trang_level2" @(ViewBag.type_view == StatusAction.View.ToString() ? "disabled" : "")>
                                    <option selected="selected" value="">---- Chọn danh mục cha ----</option>
                                    @if (MenuCon != null)
                                        foreach (var item in MenuCon)
                                        {
                                            if (Model.level == 2 && item.ma_trang == Model.ma_trang_cha)
                                            {
                                                <option selected="selected" value="@item.ma_trang">@item.ten_trang</option>
                                            }
                                            else
                                            {
                                                <option value="@item.ma_trang">@item.ten_trang</option>
                                            }

                                        }
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="ten_pb" class="col-sm-2 control-label">Link </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-default" placeholder="Link trang" name="url" maxlength="100" value="@Model.url" @(ViewBag.type_view == StatusAction.View.ToString() ? "disabled" : "")>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="stt" class="col-sm-2 control-label">Thứ tự</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control input-default" placeholder="Số thứ tự" name="stt" id="stt" maxlength="10" value="@Model.Stt" @(ViewBag.type_view == StatusAction.View.ToString() ? "disabled" : "")>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="nguoi_sua" class="col-sm-2 control-label">Người sửa</label>
                            <div class="col-sm-8">
                                <input disabled type="text" class="form-control input-default" id="nguoi_sua" value="@Model.UidName">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="ngay_sua" class="col-sm-2 control-label">Ngày sửa</label>
                            <div class="col-sm-8">
                                <input disabled type="text" class="form-control input-default" id="ngay_sua" value="@Model.UpdatedDateUtc">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="ngay_tao" class="col-sm-2 control-label">Ngày tạo</label>
                            <div class="col-sm-8">
                                <input disabled type="text" class="form-control input-default" id="ngay_tao" value="@Model.CreatedDateUtc">
                            </div>
                        </div>
                        @if (ViewBag.type_view == StatusAction.View.ToString())
                        {
                            <div class="text-center">
                                <button type="button" class="btn btn-primary" name="type" onclick="window.location.href='/Menu/ThemChuyenMucCap2';">Thêm</button>
                                <button type="button" class="btn btn-primary" name="type" onclick="window.location.href='/Menu/SuaChuyenMucCap2?code=@Model.ma_trang&type=@StatusAction.Edit.ToString()';">Sửa</button>
                                <button type="submit" class="btn btn-primary" onclick="confirm.BeforDeletePost('/Menu/XoaChuyenMucCap2?code=@Model.ma_trang')">Xóa</button>
                                <button type="button" class="btn btn-secondary" onclick="window.location.href='/Menu/ChuyenMucCap2';">Đóng</button>
                            </div>
                        }
                        @if (ViewBag.type_view == StatusAction.Edit.ToString())
                        {
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary" name="type_view" value="@(StatusAction.Add.ToString())">Lưu và Thêm</button>
                                <button type="submit" class="btn btn-primary" name="type_view" value="@(StatusAction.View.ToString())">Lưu</button>
                                <button type="button" class="btn btn-primary" onclick="confirm.BeforDeletePost('/Menu/XoaChuyenMucCap2?code=@Model.ma_trang')">Xóa</button>
                                <button type="button" class="btn btn-secondary" onclick="window.location.href='/Menu/ChuyenMucCap2';">Đóng</button>
                            </div>
                        }
                        <input name="type_view" hidden value="@ViewBag.type_view" />
                    </form><!-- End Horizontal Form -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Basic Modal -->


<div class="modal fade" id="basicModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header widgettitle">
                <h5 class="modal-title">Danh sách</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div><!-- End Basic Modal-->
<!-- /.modal -->


<script>
    $(document).ready(function() {

        $('#form_pb').validate({
            rules: {
                ma_trang: "required",
                ten_trang: "required"
            },
            messages: {
                ma_trang: "Bạn cần nhập mã trang!",
                ten_trang: "Bạn cần nhập tên trang!"
            }
        });
    });

</script>



