                                    @model HG.Entities.LuongThanhPhanModels
                                     
                                    <div class="form-group row mb-3">
                                        <label for="mota" class="col-sm-1 control-label">Luồng xử lý<span style="color:red">(*)</span></label>
                                        <div class="col-sm-11">
                                            <select name="ma_luong_xu_ly" id="ma_luong_xu_ly" class="form-control input-default">
				                                     <option value="">Chọn luồng xử lý</option> 
                                                    @if(@Model.dm_Luong_Xu_Lies != null)
                                                    {
                                                        for (var item = 0; item < @Model.dm_Luong_Xu_Lies.Count(); item++)
                                                        {
                                                            if(item == 0)
                                                            {
                                                                <option value="@Model.dm_Luong_Xu_Lies[item].ma_luong" selected>@Model.dm_Luong_Xu_Lies[item].ten_luong</option> 
                                                            }
                                                            else
                                                            {
                                                                 <option value="@Model.dm_Luong_Xu_Lies[item].ma_luong">@Model.dm_Luong_Xu_Lies[item].ten_luong</option> 
                                                            }
                   
                                                        }
                                                    }
			                                </select>
                                        </div>
                                    </div>
                                    <div class="form-group row mb-3">
                                        <label for="mota" class="col-sm-1 control-label">Hồ sơ gồm </label> <span style="font-size: 12px">(Chọn luồng xử lý trước khi đính kèm tệp thành phần)</span>
                                            <div class="col-sm-11 col-md-11">
					                            <table class="table table-bordered responsive" cellspacing="0" rules="all" border="1" id="gridThanhPhanHoSo" style="font-size:13px;border-collapse:collapse; margin-left: 125px">
						                            <tbody>
                                                        <tr style="background-color:#EEEEEE;">
							                                <th scope="col">STT</th>
                                                            <th class="head0 nosort" scope="col" data-sortable="" style="width: 5%;"> Đã nộp
                                                                <input type="checkbox" name="" id="selectAll" />
                                                            </th>
                                                            <th scope="col">Tên thành phần</th>
                                                            <th align="center" scope="col" style="white-space: nowrap; text-align: center;">Đính kèm</th>
                                                            <th align="center" scope="col" style="text-align: center;">Biểu mẫu</th>
                                                            <th align="center" scope="col" style="text-align: center;">Bản chính</th>
                                                            <th align="center" scope="col" style="text-align: center;">Bản sao</th>
                                                            <th align="center" scope="col" style="text-align: center;">Bản photo</th>
                                                            <th align="center" scope="col" style="text-align: center;">Ký thành phần</th>
						                                </tr>
                                                        @*start body*@
                                                        
                                                            @if(@Model.dm_thanh_phan != null){
                                                                var stt = 1;
                                                                foreach (var item in Model.dm_thanh_phan)
                                                                {
                                                                    <tr>
                                                                    <td align="center" style="width:4%;">
                                                                        @stt
                                                                    </td>
                                                                    <td><input type="checkbox" class="ads_Checkbox" value="@item.ma_thanh_phan" /></td>
                                                                    <td>
                                                                        <span id="Label3">@item.ten_thanh_phan</span>
                                                                    </td><td align="center" style="width:15%;">
                                                                        <div class="fileupload fileupload-new" data-provides="fileupload">
                                                                            <div class="input-append">
                                                                                <span class="btn btn-default btn-file" style="border-left: 1px solid rgb(204, 204, 204) !important;"><span class="fileupload-new">Chọn file</span>
                                                                                    <span class="fileupload-exists">Thay đổi</span>
                                                                                    <input type="file" name="DinhKem" id="DinhKem"></span>
                                                                                <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload" style="border-left: 1px solid rgb(204, 204, 204) !important;">Xóa</a>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td align="center" style="width:5%;">
                                                                    </td>
                                                                    <td style="width:6%;">
                                                                    <input name="BanGoc" type="text" value="@item.ban_goc" id="BanGoc" class="form-control">
                                                                    </td>
                                                                    <td style="width:6%;">
                                                                        <input name="BanSao" type="text" value="@item.ban_sao" id="BanSao" class="form-control">
                                                                    </td>
                                                                    <td style="width:6%;">
                                                                        <input name="BanPhoTo" type="text" value="@item.ban_pho_to" id="BanPhoTo" class="form-control">
                                                                    </td>
                                                                    <td align="center" style="width:5%;">
                                                                    </td>
                                                                    </tr>
                                                                }
                                                            }   
					                                </tbody></table>
                                        </div>
                                    </div>
                                    <script>
                                        $(document).ready(function() {
                                        $('#selectAll').click(function() {
                                            var val = [];
                                            if ($(this).is(':checked')) {
                                                $(".ads_Checkbox").prop("checked", true);
                                                $(':checkbox:checked').each(function(i) {
                                                    if (i > 0) {
                                                        val[i - 1] = $(this).val();
                                                    }
                                                });
                                            }
                                            else {
                                                $(".ads_Checkbox").prop("checked", false);
                                                val = [];
                                            }
                                              console.log(val)
                                            $('input[name="lstCode"]').attr('value',val);
                                            //$("#lstCode").val(val);
                                        });


                                        $('.ads_Checkbox').click(function() {
                                            var val = [];
                                            $(':checkbox:checked').each(function(i) {
                                                if ($('#selectAll').is(':checked')) {
                                                    if (i > 0) {
                                                        val[i - 1] = $(this).val();
                                                    }
                                                } else {
                                                    val[i] = $(this).val();
                                                }

                                            });
                                            console.log(val)
                                             $('input[name="lstCode"]').attr('value',val);
                                        });

                                    });
                                    </script>