@using HG.WebApp
@{
    ViewData["Title"] = "Tiếp nhận hồ sơ"; 
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
   var LstLinhVuc = ViewBag.LstLinhVuc as List<HG.Entities.Dm_Linh_Vuc>; 
   var LstThuTuc = ViewBag.LstThuTuc as List<HG.Entities.Dm_Thu_Tuc>;
   var LstLuongXL = ViewBag.LstLuongXL as List<HG.Entities.Dm_Luong_Xu_Ly>;
   var LstNguoiDung = ViewBag.LstNguoiDung as List<HG.WebApp.AspNetUsers>;
}
@model HG.Entities.Entities.HoSoModels
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">-
        <div class="modal-content" style="border: 2px solid #0866c6;">
            <div class="modal-header" style="background-color: #0866c6;">
                <h5 class="modal-title" style="color:white" id="exampleModalLabel">Thông báo</h5>
            </div>
            <div class="modal-body">
                @ViewBag.ErrorMsg
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary modal-footer-btnclose" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
@if (ViewBag.ErrorCode > 0)
{
    <script>
        $(document).ready(function() {
            $("#exampleModal").modal("show");
        });
    </script>
}
<style>
    .underline-partion {
    width: 100%;
    border-bottom: 1px solid #f0ad4e;
    margin-bottom: 20px;
    font-style: italic;
    font-weight: bold;
    padding-bottom: 4px;
}
.label-warning {
    background-color: #f0ad4e;
}
</style>
<div class="card">
    <div class="pageheader">
        <div class="pageicon"><span class="iconfa-pencil"></span></div>
        <div class="pagetitle">
            <h5>Thông tin</h5>
            <h1>Hồ sơ</h1>
        </div>
    </div>


    <div class="maincontent">
        <div class="maincontentinner">
            <h4 class="widgettitle">Tiếp nhận hồ sơ</h4>
            <div class="widgetcontent">
                <div class="form-horizontal">
                    <!-- Horizontal Form -->
                    <form id="form_tiepnhan" action="/TiepNhan/TiepNhanHoSoMoi" method="post" enctype="multipart/form-data" class="row">
                            <div class="underline-partion">
                                     <p id="ctl14_p_KLT" class="label label-warning lable-partion">Thông tin khách hàng</p>
                            </div>  
                                <div class="form-group row mb-3">
                                        <label for="ma_pb" class="col-sm-1 control-label">Mã khách hàng</label>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control input-default" onfocusout="CheckedCode(this)" maxlength="50" name="ma_khach_hang"  id="ma_khach_hang" value="@Model.ma_khach_hang" placeholder="Nhập CMT hoặc mã khách hàng đã có">
                                        </div>
                                        <label for="ten_pb" class="col-sm-1 control-label">Tìm kiếm </label>
                                        <div class="col-sm-7">
                                            <input type="checkbox" value="">
                                        </div>
                                </div>
                                <div class="form-group row mb-3">
                                    <label for="mota" class="col-sm-1 control-label">Họ và tên<span style="color:red">(*)</span></label>
                                    <div class="col-md-3">
                                       <input  type="text" id="ho_ten" name="ho_ten" maxlength="50" class="form-control input-default" value="@Model.ho_ten" placeholder="Nhập họ tên">
                                    </div>
                                     <label for="stt" class="col-sm-1 control-label">Ngày sinh <span style="color:red">(*)</span></label>
                                    <div class="col-md-3">
                                        <input type="date" class="form-control input-default" name="ngay_sinh" value="@Model.ngay_sinh" placeholder="Nhập ngày sinh">
                                    </div>
                                     <label for="nguoi_sua" class="col-sm-1 control-label">Giới tính <span style="color:red">(*)</span></label>
                                    <div class="col-md-3">
                                         <select class="dataTable-selector form-control" name="gioi_tinh" id="gioi_tinh" >
                                            <option value="0" selected>Chọn giới tính</option>
                                            <option value="1">Nam</option>
                                            <option value="2">Nữ</option>
                                            <option value="3">Khác</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row mb-3">
                                    <label for="mota" class="col-sm-1 control-label">Số giấy tờ<span style="color:red">(*)</span></label>
                                    <div class="col-md-3">
                                       <input maxlength="50" type="number" id="so_giay_to" name="so_giay_to" class="form-control input-default" value="@Model.so_giay_to" placeholder="Nhập số giấy tờ">
                                    </div>
                                     <label for="stt" class="col-sm-1 control-label">Điện thoại <span style="color:red">(*)</span></label>
                                    <div class="col-md-3">
                                        <input maxlength="50" type="text" id="dien_thoai" class="form-control input-default" name="dien_thoai" value="@Model.dien_thoai" placeholder="Nhập điện thoại">
                                    </div>
                                     <label for="nguoi_sua" class="col-sm-1 control-label">Email <span style="color:red">(*)</span></label>
                                    <div class="col-md-3">
                                       <input maxlength="50" type="text" class="form-control input-default" id="email" name="email" value="@Model.email" placeholder="Nhập email" />
                                    </div>
                                </div>
                                 <div class="form-group row mb-3">
                                    <label for="dia_chi" class="col-sm-1 control-label">Địa chỉ <span style="color:red">(*)</span></label>
                                    <div class="col-sm-11">
                                        <input maxlength="250" type="text" class="form-control input-default" id="dia_chi" name="dia_chi" value="@Model.dia_chi" placeholder="Nhập tên địa chỉ">
                                    </div>
                                </div>
                                <div class="form-group row mb-3">
                                    <label for="ten_to_chuc" class="col-sm-1 control-label">Tên cơ quan</label>
                                    <div class="col-sm-11">
                                        <input maxlength="50" type="text" class="form-control input-default" id="ten_to_chuc" name="ten_to_chuc" value="@Model.ten_to_chuc" placeholder="Nhập tên cơ quan">
                                    </div>
                                </div>
                            <div class="underline-partion">
                                     <p id="ctl14_p_KLT" class="label label-warning lable-partion">Thông tin hồ sơ</p>
                            </div>  
                                <div class="form-group row mb-3">
                                    <label for="mota" class="col-sm-1 control-label">Tên hồ sơ<span style="color:red">(*)</span></label>
                                    <div class="col-sm-11">
                                       <input maxlength="50" type="text" id="ten_ho_so" name="ten_ho_so" class="form-control input-default" value="@Model.ten_ho_so" placeholder="Nhập tên hồ sơ">
                                    </div>
                                </div>
                                <div class="form-group row mb-3">
                                    <label for="mota" class="col-sm-1 control-label">Lĩnh vực<span style="color:red">(*)</span></label>
                                    <div class="col-sm-11">
                                           <select name="ma_linh_vuc" id="ma_linh_vuc" class="form-control input-default" onchange="LayThuTucByLinhVuc(this)">
				                                 <option value="">Chọn lĩnh vực</option> 
                                                @if(LstLinhVuc != null)
                                                {
                                                    foreach (var item in LstLinhVuc)
                                                    {
                                                        <option value="@item.ma_linh_vuc">@item.ten_linh_vuc</option> 
                                                    }
                                                }
			                                </select>
                                    </div>
                                </div>
                                
                                 <div class="form-group row mb-3" id="ThuTucXL">
                                    <label for="mota" class="col-sm-1 control-label">Thủ tục hành chính<span style="color:red">(*)</span></label>
                                    <div class="col-sm-11">
                                        <select name="ma_thu_tuc_hc" id="ma_thu_tuc_hc" class="form-control input-default" onchange="GetLuongByTTHC(this)">
				                                 <option value="">Chọn thủ tục hành chính</option> 
                                                @if(LstThuTuc != null)
                                                {
                                                    foreach (var item in LstThuTuc)
                                                    {
                                                        <option value="@item.ma_thu_tuc">@item.ten_thu_tuc</option> 
                                                    }
                                                }
			                            </select>
                                    </div>
                                </div>
                                <script>
                                    function LayThuTucByLinhVuc(data){
                                        $.ajax({
                                           type: "GET",
                                           url: "../TiepNhan/LayThuTucByLinhVuc?ma_linh_vuc=" + data.value,
                                           data: "",
                                           contentType: 'application/json; charset=utf-8',
                                           success: function(data) {
                                               $("#ThuTucXL").html(data);
                                           }
                                       });          
                                    }
                                    function GetLuongByTTHC(data){
                                        $.ajax({
                                           type: "GET",
                                           url: "../TiepNhan/LayLuongThanhPhanByMaTTHC?ma_thu_tuc=" + data.value + "&type=Add" + "&ma_luong=" + $("#ma_luong_xu_ly").val(),
                                           data: "",
                                           contentType: 'application/json; charset=utf-8',
                                           success: function(data) {
                                               $("#LuongXuLy").html(data);
                                           }
                                       });          
                                    } 
                                    function GetNguoiXLNguoiPH(ma_luong_data) {
                                          $.ajax({
                                           type: "GET",
                                           url: "../TiepNhan/GetNguoiXLNguoiPH?ma_luong=" + ma_luong_data.value,
                                           data: "",
                                           contentType: 'application/json; charset=utf-8',
                                           success: function(data) {
                                              //$("#nguoi_xu_ly select").val(data.nguoi_xl_mac_dinh).change();
                                              console.log(data.nguoi_xl_mac_dinh)
                                              $("#nguoi_xu_ly").val(data.nguoi_xl_mac_dinh);
                                           }
                                       });        
                                    }
                                </script>
                                <div id="LuongXuLy">
                                    <div class="form-group row mb-3" hidden>
                                        <label for="mota" class="col-sm-1 control-label">Luồng xử lý<span style="color:red">(*)</span></label>
                                        <div class="col-sm-11">
                                            <select name="ma_luong_xu_ly" id="ma_luong_xu_ly" class="form-control input-default">
				                                     <option value="">Chọn luồng xử lý</option> 
                                                    @if(LstLuongXL != null)
                                                    {
                                                        foreach (var item in LstLuongXL)
                                                        {
                                                            <option value="@item.ma_luong">@item.ten_luong</option> 
                                                        }
                                                    }
			                                </select>
                                        </div>
                                    </div>
                                    <div class="form-group row mb-3" hidden>
                                        <label for="mota" class="col-sm-1 control-label">Hồ sơ gồm </label> 
                                            <div class="col-sm-11">
					                            <table class="table table-bordered responsive" cellspacing="0" rules="all" border="1" id="gridThanhPhanHoSo" style="font-size:13px;border-collapse:collapse;">
						                            <tbody>
                                                        <tr style="background-color:#EEEEEE;">
							                                <th scope="col">STT</th>
                                                            <th class="head0 nosort" scope="col" data-sortable="" style="width: 5%;"> Đã nộp
                                                                <input type="checkbox" name="" id="selectAll" />
                                                            </th>
                                                            <th scope="col">Tên thành phần</th>
                                                            <th align="center" scope="col" style="white-space: nowrap; text-align: center;">Đính kèm</th>
                                                            <th align="center" scope="col" style="text-align: center;">Biểu mẫu</th>
                                                            <th align="center" scope="col" style="text-align: center;">Bản chính</th>
                                                            <th align="center" scope="col" style="text-align: center;">Bản sao</th>
                                                            <th align="center" scope="col" style="text-align: center;">Bản photo</th>
                                                            <th align="center" scope="col" style="text-align: center;">Ký thành phần</th>
						                                </tr>
                                                        @*start body*@
                                                        <tr>
							                                <td align="center" style="width:4%;">
                                                                1
                                                            </td><td align="center">
                                                                <div class="checker" id="uniform-cbChon"><span><input id="cbChon" type="checkbox" name="ctl14$gridThanhPhanHoSo$ctl02$cbChon" style="opacity: 0;"></span></div>
                                                            </td><td>
                                                                <span id="Label3">Văn bản Thông báo thay đổi phương thức, phạm vi cung cấp dịch vụ trò chơi điện tử G1 trên mạng đã được phê duyệt; Những nội dung thay đổi</span>
                                                         
                                                            </td><td align="center" style="width:15%;">
                                                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                                                    <div class="input-append">
                                                                        <span class="btn btn-default btn-file" style="border-left: 1px solid rgb(204, 204, 204) !important;"><span class="fileupload-new">Chọn file</span>
                                                                            <span class="fileupload-exists">Thay đổi</span>
                                                                            <input type="file" name="ctl14$gridThanhPhanHoSo$ctl02$DinhKem" id="DinhKem"></span>
                                                                        <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload" style="border-left: 1px solid rgb(204, 204, 204) !important;">Xóa</a>
                                                                    </div>
                                                                </div>
                                                            </td><td align="center" style="width:5%;">
                                                        
                                                            </td><td style="width:6%;">
                                                            <input name="ctl14$gridThanhPhanHoSo$ctl02$BanGoc" type="text" value="1" id="BanGoc" class="form-control">
                                                            </td><td style="width:6%;">
                                                                <input name="ctl14$gridThanhPhanHoSo$ctl02$BanSao" type="text" value="0" id="BanSao" class="form-control">
                                                            </td><td style="width:6%;">
                                                                <input name="ctl14$gridThanhPhanHoSo$ctl02$BanPhoTo" type="text" value="0" id="BanPhoTo" class="form-control">
                                                            </td><td align="center" style="width:5%;">
                                                            </td>
						                                </tr>
					                                </tbody></table>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row mb-3">
                                    <label class="col-sm-1 control-label"></label>
                                    <label for="mota" class="col-sm-2 control-label" style="text-align: left;">
                                        <p style="color:blue; cursor: pointer" onclick="ThemThanhPhanHoSo()"><i class="glyphicon glyphicon-plus"></i>&nbsp;Thêm thành phần hồ sơ</p>
                                        <input id="ThemTPHS" name="ThemTPHS" value="1" hidden />
                                        <input id="lstThanhPhan" name="lstThanhPhan" value="" hidden />
                                    </label>
                                </div>
                                <script>
                                    function ThemThanhPhanHoSo(){
                                       var _id = $("#ThemTPHS").val();
                                        if(_id < 6){
                                             $("#"+ _id +"").show();
                                             $("input[name=ThemTPHS]").val((parseInt(_id) + 1))
                                        }
                                    }
                                    function XoaThanhPhan(_id) {
                                       $("#"+ _id +"").css("display", "none");
                                        $("input[name=ThemTPHS]").val((parseInt(_id) - 1))
                                    }
                                </script>
                                 <div class="form-group row mb-3" id="1" style="display:none">
                                            <label class="col-md-1 control-label">Tên&nbsp;<span id="ctl14_Label3" style="color:Red;">(*)</span></label>
                                            <div class="col-md-2">
                                                <input name="ThanhPhan_1" type="text" id="ThanhPhan_1" class="form-control input-default-sm" placeholder="Nhập tên thành phần">
                                            </div>
                                            <div class="col-md-2">
                                                 <input type="file" id="files" name="files" style="display: none">
                                                 <input type="text" id="file_dinh_kem1" name="file_dinh_kem1" style="display: none">
                                                 <button type="button" onclick="$('#files').click();" class="btn btn-default"><i class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;Chọn File</button>
                                            </div>
                                            <label class="col-md-1 control-label">Bản chính</label>
                                            <div class="col-md-1">
                                                <input name="BanChinh1" type="number" value="0" id="BanChinh1" class="form-control input-default-sm">
                                            </div>
                                            <label class="col-md-1 control-label">Bản sao</label>
                                            <div class="col-md-1">
                                                <input name="BanSao1" type="number" value="0" id="BanSao1" class="form-control input-default-sm">
                                            </div>
                                            <label class="col-md-1 control-label">Bản photo</label>
                                            <div class="col-md-1">
                                                <input name="BanPhoto1" type="number" value="0" id="BanPhoto1" class="form-control input-default-sm">
                                            </div>
                                            <label class="col-md-1"><a href="#" onclick="XoaThanhPhan(1)" class="btnremove"><i class="glyphicon glyphicon-remove"></i>&nbsp;Xóa</a></label>
                                </div>
                                 <div class="form-group row mb-3" id="2"  style="display:none">
                                            <label class="col-md-1 control-label">Tên&nbsp;<span id="ctl14_Label3" style="color:Red;">(*)</span></label>
                                            <div class="col-md-2">
                                                <input name="ThanhPhan_2" type="text" id="ThanhPhan_2" class="form-control input-default-sm" placeholder="Nhập tên thành phần">
                                            </div>
                                            <div class="col-md-2">
                                                 <input type="file" id="files" name="files" style="display: none">
                                                 <input type="text" id="file_dinh_kem2" name="file_dinh_kem2" style="display: none">
                                                 <button type="button" onclick="$('#files').click();" class="btn btn-default"><i class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;Chọn File</button>
                                            </div>
                                            <label class="col-md-1 control-label">Bản chính</label>
                                            <div class="col-md-1">
                                                <input name="BanChinh2" type="number" value="0" id="BanChinh2" class="form-control input-default-sm">
                                            </div>
                                            <label class="col-md-1 control-label">Bản sao</label>
                                            <div class="col-md-1">
                                                <input name="BanSao2" type="number" value="0" id="BanSao2" class="form-control input-default-sm">
                                            </div>
                                            <label class="col-md-1 control-label">Bản photo</label>
                                            <div class="col-md-1">
                                                <input name="BanPhoto2" type="number" value="0" id="BanPhoto2" class="form-control input-default-sm">
                                            </div>
                                            <label class="col-md-1"><a href="#" onclick="XoaThanhPhan(2)" class="btnremove"><i class="glyphicon glyphicon-remove"></i>&nbsp;Xóa</a></label>
                                </div>
                                 <div class="form-group row mb-3" id="3"  style="display:none">
                                            <label class="col-md-1 control-label">Tên&nbsp;<span id="ctl14_Label3" style="color:Red;">(*)</span></label>
                                            <div class="col-md-2">
                                                <input name="" type="text" id="ThanhPhan_3" class="form-control input-default-sm" placeholder="Nhập tên thành phần">
                                            </div>
                                            <div class="col-md-2">
                                                 <input type="file" id="files" name="files" style="display: none">
                                                 <input type="text" id="file_dinh_kem3" name="avatar" style="display: none">
                                                 <button type="button" onclick="$('#files').click();" class="btn btn-default"><i class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;Chọn File</button>
                                            </div>
                                            <label class="col-md-1 control-label">Bản chính</label>
                                            <div class="col-md-1">
                                                <input name="BanChinh3" type="number" value="0" id="BanChinh3" class="form-control input-default-sm">
                                            </div>
                                            <label class="col-md-1 control-label">Bản sao</label>
                                            <div class="col-md-1">
                                                <input name="BanSao3" type="number" value="0" id="BanSao3" class="form-control input-default-sm">
                                            </div>
                                            <label class="col-md-1 control-label">Bản photo</label>
                                            <div class="col-md-1">
                                                <input name="BanPhoto3" type="number" value="0" id="BanPhoto3" class="form-control input-default-sm">
                                            </div>
                                            <label class="col-md-1"><a href="#" onclick="XoaThanhPhan(3)" class="btnremove"><i class="glyphicon glyphicon-remove"></i>&nbsp;Xóa</a></label>
                                </div>
                                 <div class="form-group row mb-3" id="4"  style="display:none">
                                            <label class="col-md-1 control-label">Tên&nbsp;<span id="ctl14_Label3" style="color:Red;">(*)</span></label>
                                            <div class="col-md-2">
                                                <input name="" type="text" id="ThanhPhan_4" class="form-control input-default-sm" placeholder="Nhập tên thành phần">
                                            </div>
                                            <div class="col-md-2">
                                                 <input type="file" id="files" name="files" style="display: none">
                                                 <input type="text" id="file_dinh_kem4" name="file_dinh_kem4" style="display: none">
                                                 <button type="button" onclick="$('#files').click();" class="btn btn-default"><i class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;Chọn File</button>
                                            </div>
                                            <label class="col-md-1 control-label">Bản chính</label>
                                            <div class="col-md-1">
                                                <input name="BanChinh4" type="text" value="0" id="BanChinh4" class="form-control input-default-sm">
                                            </div>
                                            <label class="col-md-1 control-label">Bản sao</label>
                                            <div class="col-md-1">
                                                <input name="BanSao4" type="text" value="0" id="BanSao4" class="form-control input-default-sm">
                                            </div>
                                            <label class="col-md-1 control-label">Bản photo</label>
                                            <div class="col-md-1">
                                                <input name="BanPhoto4" type="text" value="0" id="BanPhoto4" class="form-control input-default-sm">
                                            </div>
                                            <label class="col-md-1"><a href="#" onclick="XoaThanhPhan(4)" class="btnremove">Xóa</a></label>
                                </div>
                                 <div class="form-group row mb-3" id="5"  style="display:none">
                                            <label class="col-md-1 control-label">Tên&nbsp;<span id="ctl14_Label3" style="color:Red;">(*)</span></label>
                                            <div class="col-md-2">
                                                <input name="ThanhPhan_5" type="text" id="ThanhPhan_5" class="form-control input-default-sm" placeholder="Nhập tên thành phần">
                                            </div>
                                            <div class="col-md-2">
                                                 <input type="file" id="files" name="files" style="display: none">
                                                 <input type="text" id="file_dinh_kem5" name="file_dinh_kem5" style="display: none">
                                                 <button type="button" onclick="$('#files').click();" class="btn btn-default"><i class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;Chọn File</button>
                                            </div>
                                            <label class="col-md-1 control-label">Bản chính</label>
                                            <div class="col-md-1">
                                                <input name="BanChinh5" type="text" value="0" id="BanChinh5" class="form-control input-default-sm">
                                            </div>
                                            <label class="col-md-1 control-label">Bản sao</label>
                                            <div class="col-md-1">
                                                <input name="BanSao5" type="text" value="0" id="BanSao5" class="form-control input-default-sm">
                                            </div>
                                            <label class="col-md-1 control-label">Bản photo</label>
                                            <div class="col-md-1">
                                                <input name="BanPhoto5" type="text" value="0" id="BanPhoto5" class="form-control input-default-sm">
                                            </div>
                                            <label class="col-md-1"><a href="#" onclick="XoaThanhPhan(5)" class="btnremove">Xóa</a></label>
                                </div>
                                <div class="form-group row mb-3">
                                    <label for="mota" class="col-sm-1 control-label">Ghi chú</label>
                                    <div class="col-sm-11">
                                        <input maxlength="50" type="text" id="ghi_chu" name="ghi_chu" class="form-control input-default" value="@Model.ghi_chu" placeholder="Nhập tên hồ sơ">
                                    </div>
                                </div>

                                 <div class="form-group row mb-3">
                                    <label for="mota" class="col-sm-3 control-label">Đăng ký nhận kết quả</label>
                                   <label for="mota" class="col-sm-2 control-label">Nhận kết quả trực tuyến</label>
                                    <div class="col-md-1">
                                       <input  type="checkbox" id="nhan_kq_truc_tuyen" onclick="NhanKQTT()" name="nhan_kq_truc_tuyen" value="@Model.nhan_kq_truc_tuyen">
                                    </div>
                                     <label for="stt" class="col-sm-2 control-label">Bộ phận một cửa</label>
                                    <div class="col-md-1">
                                        <input maxlength="50" type="checkbox" onclick="NhanKQBPMC()" id="nhan_kq_bo_phan_mot_cua" name="nhan_kq_bo_phan_mot_cua" value="@Model.nhan_kq_bo_phan_mot_cua">
                                    </div>
                                     <label for="nguoi_sua" class="col-sm-2 control-label">Qua bưu chính</label>
                                    <div class="col-md-1">
                                       <input maxlength="50" type="checkbox" onclick="NhanKQQABC()" id="nhan_kq_qua_buu_chinh" name="nhan_kq_qua_buu_chinh" value="@Model.nhan_kq_qua_buu_chinh"  />
                                    </div>
                                </div>
                                <script>
                                    function NhanKQTT(){
                                         if ($('input[name=nhan_kq_truc_tuyen]:checked').length > 0) {
                                            $("#nhan_kq_truc_tuyen").val(1)
                                         } else { 
                                             ("#nhan_kq_truc_tuyen").val(0)
                                         }
                                    } function NhanKQBPMC(){
                                         if ($('input[name=nhan_kq_bo_phan_mot_cua]:checked').length > 0) {
                                            $("#nhan_kq_bo_phan_mot_cua").val(1)
                                         } else { 
                                             ("#nhan_kq_bo_phan_mot_cua").val(0)
                                         }
                                    } function NhanKQQABC(){
                                         if ($('input[name=nhan_kq_qua_buu_chinh]:checked').length > 0) {
                                            $("#nhan_kq_qua_buu_chinh").val(1)
                                         } else { 
                                             ("#nhan_kq_qua_buu_chinh").val(0)
                                         }
                                    }function DaThuPhi(){
                                        if ($('input[name=le_phi]:checked').length > 0) {
                                            $("#le_phi").val(1)
                                         } else { 
                                             ("#le_phi").val(0)
                                         }
                                    } function ChuaDuDieuKien() {
                                        if ($('input[name=ho_so_chua_du_dk_tiep_nhan_chinh_thuc]:checked').length > 0) {
                                            $("#ho_so_chua_du_dk_tiep_nhan_chinh_thuc").val(1)
                                         } else { 
                                             ("#ho_so_chua_du_dk_tiep_nhan_chinh_thuc").val(0)
                                         } 
                                    }
                                </script>
                            <div class="underline-partion">
                                     <p id="ctl14_p_KLT" class="label label-warning lable-partion">Thông tin chuyển xử lý</p>
                            </div>  
                                <div class="form-group row mb-3">
                                    <label for="mota" class="col-sm-1 control-label">Người xử lý</label>
                                    <div class="col-sm-11">
                                        <select name="nguoi_xu_ly" id="nguoi_xu_ly" class="form-control input-default">
				                                 <option value="">Chọn người xử lý</option> 
                                                @if(LstNguoiDung != null)
                                                {
                                                    foreach (var item in LstNguoiDung)
                                                    {
                                                        <option value="@item.Id">@(item.ho_dem + item.ten)</option> 
                                                    }
                                                }
			                            </select>
                                    </div>
                                </div>
                                 <div class="form-group row mb-3">
                                    <label for="mota" class="col-sm-1 control-label">Người phối hợp</label>
                                    <div class="col-sm-11">
                                         <select name="nguoi_phoi_hop" id="nguoi_phoi_hop" class="form-control input-default"  @*id="multiselect" class="select2 form-select form-control input-default" multiple=""*@>
				                                <option value="">Chọn người phối hợp</option> 
                                                @if(LstNguoiDung != null)
                                                {
                                                    foreach (var item in LstNguoiDung)
                                                    {
                                                        <option value="@item.Id">@(item.ho_dem + item.ten)</option> 
                                                    }
                                                }
			                            </select>
                                    </div>
                                </div>
                                <div class="form-group row mb-3">
                                    <label for="mota" class="col-sm-1 control-label">Người tiếp nhận<span style="color:red">(*)</span></label>
                                    <div class="col-sm-11">
                                        <input maxlength="50" disabled type="text" id="nguoi_tiep_nhan" name="nguoi_tiep_nhan" class="form-control input-default" value="@ViewBag.UserCreated" placeholder="Nhập người tiếp nhận">
                                    </div>
                                </div>
                                <div class="form-group row mb-3">
                                    <label for="mota" class="col-sm-1 control-label">Ngày tiếp nhận<span style="color:red">(*)</span></label>
                                    <div class="col-md-3">
                                       <input maxlength="50" type="date" disabled id="CreatedDateUtc" name="CreatedDateUtc" class="form-control input-default" value="@(ViewBag.NgayTiepNhan == null? "": HG.WebApp.Common.HelperDateTime.DateTimeToYYYYMMDD((DateTime)ViewBag.NgayTiepNhan))" placeholder="Nhập số giấy tờ">
                                    </div>
                                     <label for="stt" class="col-sm-1 control-label">Ngày hẹn trả <span style="color:red">(*)</span></label>
                                    <div class="col-md-3">
                                        <input maxlength="50" type="date" id="ngay_hen_tra" class="form-control input-default" name="ngay_hen_tra" value="@Model.ngay_hen_tra" placeholder="Nhập điện thoại">
                                    </div>
                                     <label for="nguoi_sua" class="col-sm-1 control-label">Giờ hẹn trả <span style="color:red">(*)</span></label>
                                    <div class="col-md-3">
                                       <input maxlength="50" type="time" class="form-control input-default" id="gio_hen_tra" name="gio_hen_tra" value="@Model.gio_hen_tra" placeholder="Nhập giờ hẹn trả" />
                                    </div>
                                </div>
                                 <div class="form-group row mb-3">
                                    <label for="mota" class="col-sm-3 control-label" style="color:red">Hồ sơ chưa đủ điều kiện tiếp nhận chính thức</label>
                                    <div class="col-sm-8">
                                        <input type="checkbox" name="ho_so_chua_du_dk_tiep_nhan_chinh_thuc" conclick="ChuaDuDieuKien()"id="ho_so_chua_du_dk_tiep_nhan_chinh_thuc" value="@Model.ho_so_chua_du_dk_tiep_nhan_chinh_thuc" placeholder="Nhập người tiếp nhận">
                                    </div>
                                </div>
                                <div class="underline-partion">
                                     <p id="ctl14_p_KLT" class="label label-warning lable-partion">Thông tin chuyển lệ phí</p>
                                </div> 
                                <div class="form-group row mb-3">
                                    <label for="mota" class="col-sm-1 control-label">Lệ phí<span style="color:red">(*)</span></label>
                                    <div class="col-md-3">
                                       <input maxlength="50" type="number" id="le_phi" name="le_phi" class="form-control input-default" value="@Model.le_phi" placeholder="Nhập số giấy tờ">
                                    </div>
                                     <label for="stt" class="col-sm-1 control-label">Đã thu phí <span style="color:red">(*)</span></label>
                                    <div class="col-md-3">
                                        <input type="checkbox" id="da_thu_phi" onclick="DaThuPhi()"  name="da_thu_phi" value="@Model.da_thu_phi" >
                                    </div>
                                     <label for="nguoi_sua" class="col-sm-1 control-label"><a href="#" style="color:blue">Biên lai thu phí</a></label>
                                </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary" name="type_view" value="@(StatusAction.View.ToString())">Lưu</button>
                            <button type="submit" class="btn btn-primary" name="type_view" value="@(StatusAction.Add.ToString())">Lưu và Thêm</button>
                            <button type="submit" class="btn btn-primary" name="type_view" value="@(StatusAction.SaveAndTranfer.ToString())">Lưu và Chuyển</button>
                            <button type="submit" class="btn btn-primary" name="type_view" value="@(StatusAction.TraKQ.ToString())">Trả KQ</button>
                            <button type="button" class="btn btn-secondary" onclick="window.location.href='/TiepNhan/DanhSachHoSo';">Đóng</button>
                        </div>
                    </form><!-- End Horizontal Form -->
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Basic Modal -->




<script>
    $(document).ready(function() {
      

        $('#form_tiepnhan').validate({
            rules: {
                ho_ten: "required",
                ngay_sinh: "required",
                gioi_tinh: "required",
                so_giay_to: "required",
                dien_thoai: "required",
                email: "required",
                dia_chi: "required",
                //ten_to_chuc: "required",
                ten_ho_so: "required",
                ma_linh_vuc: "required",
                ma_thu_tuc_hc: "required",
                ma_luong_xu_ly: "required",
                CreatedDateUtc: "required",
                nguoi_tiep_nhan: "required",
                ngay_hen_tra: "required",
                gio_hen_tra: "required"
            },
            messages: {
                ho_ten: "Bạn chưa nhập tên khách hàng!",
                ngay_sinh: "Bạn chưa nhập ngày sinh!",
                gioi_tinh: "Bạn chưa nhập giới tính!",
                so_giay_to: "Bạn chưa nhập số giấy tờ!",
                dien_thoai: "Bạn chưa nhập điện thoại!",
                email: "Bạn chưa nhập emai!",
                dia_chi: "Bạn chưa nhập địa chỉ!",
                //ten_to_chuc: "Bạn chưa nhập tên tổ chức!",
                ten_ho_so: "Bạn chưa nhập tên hồ sơ!",
                ma_linh_vuc: "Bạn chưa nhập mã lĩnh vực!",
                ma_thu_tuc_hc: "Bạn chưa nhập mã thủ tục hành chính!",
                ma_luong_xu_ly: "Bạn chưa nhập mã luồng xử lý!",
                CreatedDateUtc: "Bạn chưa nhập ngày tạo!",
                nguoi_tiep_nhan: "Bạn chưa nhập tên người tiếp nhận!",
                ngay_hen_tra: "Bạn chưa nhập ngày hẹn trả!",
                gio_hen_tra: "Bạn chưa nhập giờ hẹn trả!"
            }
        });
        function convetArrayToObj(serialized) {
            var FormHelper = {};
            var s = '';
            var data = {};
            for (s in serialized) {
                if (serialized[s]['name'] != 'query')
                    data[serialized[s]['name']] = serialized[s]['value']
            }
            return JSON.parse(JSON.stringify(data));
        };
         $('#ma_nhom').on('keypress', function(e) {
            if (e.which == 32 || e.which > 200){
                return false;
            }
        });
    });
    function CheckedCode(abc){
         //$.ajax({
         //         type: "GET",
         //         url: "/TiepNhan/KiemTraMaKH?code=" + abc.value,
         //         data: "",
         //         contentType: 'application/json; charset=utf-8',
         //         success: function(data) {
         //             if (data == "") {
         //                 window.location.href = '/SuperAdmin/ThemNhom?ma_nhom=' + abc.value;
         //             } else {
         //                 window.location.href = '/SuperAdmin/SuaNhom?code=' + abc.value +"&type=Edit"
         //             }
         //         }
         // });           
    }
     
</script>



