@using HG.WebApp
@{
    ViewData["Title"] = "Quyền"; Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var lst_nguoi_dung = ViewBag.lst_nguoi_dung as List<AspNetRoles>;
}
@model HG.WebApp.AspNetRoles
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="border: 2px solid #0866c6;">
            <div class="modal-header" style="background-color: #0866c6;">
                <h5 class="modal-title" style="color:white" id="exampleModalLabel">Thông báo</h5>
            </div>
            <div class="modal-body">
                @ViewBag.ErrorMsg
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary modal-footer-btnclose" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.ErrorCode > 0)
{
    <script>
        $(document).ready(function() {
            $("#exampleModal").modal("show");
        });
    </script>
}
<div class="card">
    <div class="pageheader">
        <div class="pageicon"><span class="iconfa-pencil"></span></div>
        <div class="pagetitle">
            <h5>Thông tin</h5>
            <h1>Quyền</h1>
        </div>
    </div>


    <div class="maincontent">
        <div class="maincontentinner">
            <h4 class="widgettitle">Cập nhật thông tin Quyền</h4>
            <div class="widgetcontent">
                <div class="form-horizontal">
                    <!-- Horizontal Form -->
                    <form id="form_quyen" action="/SuperAdmin/QuyenChinhSua" method="post" enctype="multipart/form-data">
                        <input hidden name="Id" value="@Model.Id" />
                        <input hidden name="CreatedDateUtc" value="@Model.CreatedDateUtc" />
                        <input hidden name="CreatedUid" value="@Model.CreatedUid" />
                        <div class="row mb-3">
                            <label for="ma_pb" class="col-sm-2 control-label">Mã quyền <span style="color:red">(*)</span></label>
                            <div class="col-sm-8">
                                <input type="text" outfo class="form-control input-default" maxlength="50" onfocusout="CheckedCode(this)" name="ma_quyen" @(ViewBag.type_view == StatusAction.View.ToString() ? "disabled" : "") value="@(Model.ma_quyen == null?"":Model.ma_quyen)">
                            </div>
                       <div class="col-sm-1">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#basicModal">
                                    Chọn
                                </button>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="ten_pb" class="col-sm-2 control-label">Tên Quyền <span style="color:red">(*)</span></label>
                            <div class="col-sm-8">
                                <input type="text" maxlength="250" class="form-control input-default" @(ViewBag.type_view == StatusAction.View.ToString() ? "disabled" : "") name="Name" value="@(Model.Name == null ? "" : Model.Name)">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="mota" class="col-sm-2 control-label">Mô tả</label>
                            <div class="col-sm-8">
                                <textarea class="form-control  input-default" maxlength="250" @(ViewBag.type_view == StatusAction.View.ToString() ? "disabled" : "") placeholder="Mô tả"  name="Description">@(Model.Description == null ? "" : Model.Description)</textarea>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="stt" class="col-sm-2 control-label">Thứ tự</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control input-default" @(ViewBag.type_view == StatusAction.View.ToString() ? "disabled" : "") name="Stt" value="@(Model.Stt == null ? "" : Model.Stt)"  >
                            </div>
                        </div>
                         <div class="row mb-3">
                            <label for="nguoi_sua" class="col-sm-2 control-label">Người Tạo</label>
                            <div class="col-sm-8">
                                <input disabled type="text" class="form-control input-default" value="@ViewBag.UserCreated">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="nguoi_sua" class="col-sm-2 control-label">Người sửa</label>
                            <div class="col-sm-8">
                                <input disabled type="text" class="form-control input-default" value="@ViewBag.UserUpdate">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="ngay_sua" class="col-sm-2 control-label">Ngày sửa</label>
                            <div class="col-sm-8">
                                <input disabled type="text" class="form-control input-default" value="@(Model.UpdatedDateUtc == null ? "" : Model.UpdatedDateUtc)">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="ngay_tao" class="col-sm-2 control-label">Ngày tạo</label>
                            <div class="col-sm-8">
                                <input disabled type="text" class="form-control input-default" value="@(Model.CreatedDateUtc == null ? "" : Model.CreatedDateUtc)">
                            </div>
                        </div>
                        @if (ViewBag.type_view == StatusAction.View.ToString())
                        {
                            <div class="text-center">
                                <button type="button" class="btn btn-primary" name="type" onclick="window.location.href='/SuperAdmin/QuyenThemMoi';">Thêm</button>
                                <button type="button" class="btn btn-primary" name="type" onclick="window.location.href='/SuperAdmin/QuyenChinhSua?code=@Model.ma_quyen&type=@StatusAction.Edit.ToString()';">Sửa</button>
                                <button type="submit" class="btn btn-primary" onclick="confirm.BeforDeletePost('/SuperAdmin/XoaQuyen?code=@Model.ma_quyen')">Xóa</button>
                                <button type="button" class="btn btn-secondary" onclick="window.location.href='/SuperAdmin/QuyenDanhSach';">Đóng</button>
                            </div>
                        }
                        @if (ViewBag.type_view == StatusAction.Edit.ToString())
                        {
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary" name="type_view" value="@(StatusAction.Add.ToString())">Lưu và Thêm</button>
                                <button type="submit" class="btn btn-primary" name="type_view" value="@(StatusAction.View.ToString())">Lưu</button>
                                <button type="button" class="btn btn-primary" onclick="confirm.BeforDeletePost('/SuperAdmin/XoaQuyen?code=@Model.ma_quyen')">Xóa</button>
                                <button type="button" class="btn btn-secondary" onclick="window.location.href='/SuperAdmin/QuyenDanhSach';">Đóng</button>
                            </div>
                        }
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#form_quyen').validate({
            rules: {
                ma_quyen: "required",
                Name: "required"
            },
            messages: {
                ma_quyen: "Bạn cần nhập mã quyền!",
                Name: "Bạn cần nhập tên quyền!"
            }
        });
        function convetArrayToObj(serialized) {
            var FormHelper = {};
            var s = '';
            var data = {};
            for (s in serialized) {
                if (serialized[s]['name'] != 'query')
                    data[serialized[s]['name']] = serialized[s]['value']
            }
            return JSON.parse(JSON.stringify(data));
        };

    });
    function CheckedCode(abc){
         $.ajax({
                  type: "GET",
                  url: "/SuperAdmin/KiemTraMaQuyen?Code=" + abc.value,
                  data: "",
                  contentType: 'application/json; charset=utf-8',
                  success: function(data) {
                      if (data == "") {
                          window.location.href = '/SuperAdmin/QuyenThemMoi?ma_quyen=' + abc.value
                      } else {
                          window.location.href = '/SuperAdmin/QuyenChinhSua?code=' + abc.value +"&type=Edit"
                      }
                  }
          });           

    }
</script>


 <div class="modal fade" id="basicModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header widgettitle">
                <h5 class="modal-title">Danh sách</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                    <div style="overflow-y: auto;">
                        <div id="pnlMain">
                            <div>
                                <table class="table table-bordered responsive" cellspacing="0" rules="all" border="1" id="ctl02_gridMenu" style="width: 100%; border-collapse: collapse;">
                                    <tbody>
                                        <tr class="widgettitle">
                                            <th align="center" scope="col">CHỌN</th>
                                            <th scope="col">TÊN</th>
                                            <th scope="col">MÔ TẢ</th>
                                        </tr>
                                            @if(lst_nguoi_dung != null)
                                            {
                                                foreach (var item in lst_nguoi_dung)
                                                {
                                                    <tr>
                                                        <td align="center">
                                                             <a href="/SuperAdmin/QuyenChinhSua?code=@item.ma_quyen&type=@(StatusAction.Edit.ToString())">Chọn</a>
                                                        </td>
                                                        <td>
                                                            @item.Name
                                                        </td>
                                                        <td style="width: 25%;">@item.Description</td>
                                                    </tr>
                                                }
                                            }
                                  
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div><!-- End Basic Modal-->