@using HG.WebApp
@{
    ViewData["Title"] = "Danh mục"; Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var lst_nhom = ViewBag.ListNhom as List<HG.Entities.Entities.Nhom.Asp_nhom>;
}
@model HG.Entities.Entities.NhomModel
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="border: 2px solid #0866c6;">
            <div class="modal-header" style="background-color: #0866c6;">
                <h5 class="modal-title" style="color:white" id="exampleModalLabel">Thông báo</h5>
            </div>
            <div class="modal-body">
                @ViewBag.ErrorMsg
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary modal-footer-btnclose" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.ErrorCode > 0)
{
    <script>
        $(document).ready(function() {
            $("#exampleModal").modal("show");
        });
    </script>
}
<div class="card">
    <div class="pageheader">
        <div class="pageicon"><span class="iconfa-pencil"></span></div>
        <div class="pagetitle">
            <h5>Thông tin</h5>
            <h1>Nhóm</h1>
        </div>
    </div>


    <div class="maincontent">
        <div class="maincontentinner">
            <h4 class="widgettitle">Cập nhật thông tin nhóm</h4>
            <div class="widgetcontent">
                <div class="form-horizontal">
                    <!-- Horizontal Form -->
                    <form id="form_nhom" action="/SuperAdmin/SuaNhom" method="post" enctype="multipart/form-data">
                        <div class="row mb-3">
                            <label for="ma_pb" class="col-sm-2 control-label">Mã nhóm <span style="color:red">(*)</span></label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-default" onfocusout="CheckedCode(this)" maxlength="50" name="ma_nhom" value="@Model.ma_nhom" @(ViewBag.type_view == StatusAction.View.ToString() ? "disabled" : "") >
                            </div>
                            <div class="col-sm-1">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#basicModal">
                                    Chọn
                                </button>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="ten_pb" class="col-sm-2 control-label">Tên nhóm <span style="color:red">(*)</span></label>
                            <div class="col-sm-8">
                                <input type="text" maxlength="250" class="form-control input-default" name="ten_nhom" value="@Model.ten_nhom" @(ViewBag.type_view == StatusAction.View.ToString() ? "disabled" : "") >
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="mota" class="col-sm-2 control-label">Mô tả</label>
                            <div class="col-sm-8">
                                <textarea class="form-control  input-default" maxlength="250" placeholder="Mô tả" name="mo_ta" @(ViewBag.type_view == StatusAction.View.ToString() ? "disabled" : "")>@Model.mo_ta</textarea>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="stt" class="col-sm-2 control-label">Thứ tự</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control input-default" name="stt" value="@Model.stt" @(ViewBag.type_view == StatusAction.View.ToString() ? "disabled" : "") >
                            </div>
                        </div>
                         <div class="row mb-3">
                            <label for="nguoi_sua" class="col-sm-2 control-label">Người Tạo</label>
                            <div class="col-sm-8">
                                <input disabled type="text" class="form-control input-default" value="@ViewBag.UserCreated">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="nguoi_sua" class="col-sm-2 control-label">Người sửa</label>
                            <div class="col-sm-8">
                                <input disabled type="text" class="form-control input-default" value="@ViewBag.UserUpdate">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="ngay_sua" class="col-sm-2 control-label">Ngày sửa</label>
                            <div class="col-sm-8">
                                <input disabled type="text" class="form-control input-default" value="@Model.UpdatedDateUtc" @(ViewBag.type_view == StatusAction.View.ToString() ? "disabled" : "") >
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="ngay_tao" class="col-sm-2 control-label">Ngày tạo</label>
                            <div class="col-sm-8">
                                <input disabled type="text" class="form-control input-default" value="@Model.CreatedDateUtc" @(ViewBag.type_view == StatusAction.View.ToString() ? "disabled" : "") >
                            </div>
                        </div>

                        @if (ViewBag.type_view == StatusAction.View.ToString())
                        {
                            <div class="text-center">
                                <button type="button" class="btn btn-primary" name="type" onclick="window.location.href='/SuperAdmin/ThemNhom';">Thêm</button>
                                <button type="button" class="btn btn-primary" name="type" onclick="window.location.href='/SuperAdmin/SuaNhom?code=@Model.Id&type=@StatusAction.Edit.ToString()';">Sửa</button>
                                <button type="submit" class="btn btn-primary" onclick="confirm.BeforDeletePost('/SuperAdmin/XoaNhom?code=@Model.ma_nhom')">Xóa</button>
                                <button type="button" class="btn btn-secondary" onclick="window.location.href='/SuperAdmin/ViewNhom';">Đóng</button>
                            </div>
                        }
                        @if (ViewBag.type_view == StatusAction.Edit.ToString())
                        {
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary" name="type_view" value="@(StatusAction.Add.ToString())">Lưu và Thêm</button>
                                <button type="submit" class="btn btn-primary" name="type_view" value="@(StatusAction.View.ToString())">Lưu</button>
                                <button type="button" class="btn btn-primary" onclick="confirm.BeforDeletePost('/SuperAdmin/XoaNhom?code=@Model.ma_nhom')">Xóa</button>
                                <button type="button" class="btn btn-secondary" onclick="window.location.href='/SuperAdmin/ViewNhom';">Đóng</button>
                            </div>
                        }
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Basic Modal -->

<div class="modal fade" id="basicModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header widgettitle">
                <h5 class="modal-title">Danh sách</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                    <div style="overflow-y: auto;">
                        <div id="pnlMain">
                            <div>
                                <table class="table table-bordered responsive" cellspacing="0" rules="all" border="1" id="ctl02_gridMenu" style="width: 100%; border-collapse: collapse;">
                                    <tbody>
                                        <tr class="widgettitle">
                                            <th align="center" scope="col">CHỌN</th>
                                            <th scope="col">TÊN</th>
                                            <th scope="col">MÔ TẢ</th>
                                        </tr>
                                        @foreach (var item in lst_nhom)
                                        {
                                            <tr>
                                            <td align="center">
                                                 <a href="/SuperAdmin/SuaNhom?code=@item.ma_nhom&type=@(StatusAction.Edit.ToString())">Chọn</a>
                                                 @*<a href="#">Chọn</a>*@
                                            </td>
                                            <td>
                                                @item.ten_nhom
                                            </td>
                                            <td style="width: 25%;">@item.mo_ta</td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div><!-- End Basic Modal-->




<script>
    $(document).ready(function() {
      

        $('#form_nhom').validate({
            rules: {
                ma_nhom: "required",
                ten_nhom: "required"
            },
            messages: {
                ma_phong_ban: "Bạn cần nhập mã nhóm!",
                ten_phong_ban: "Bạn cần nhập tên nhóm!"
            }
        });
        function convetArrayToObj(serialized) {
            var FormHelper = {};
            var s = '';
            var data = {};
            for (s in serialized) {
                if (serialized[s]['name'] != 'query')
                    data[serialized[s]['name']] = serialized[s]['value']
            }
            return JSON.parse(JSON.stringify(data));
        };

    });
    function CheckedCode(abc){
         $.ajax({
                  type: "GET",
                  url: "/SuperAdmin/KiemTraMaNhom?Code=" + abc.value,
                  data: "",
                  contentType: 'application/json; charset=utf-8',
                  success: function(data) {
                      if (data == "") {
                          window.location.href = '/SuperAdmin/ThemNhom?ma_nhom=' + abc.value
                      } else {
                          window.location.href = '/SuperAdmin/SuaNhom?code=' + abc.value +"&type=Edit"
                      }
                  }
          });           
    }
</script>



