@using HG.WebApp
@{
    ViewData["Title"] = "Danh sách nhóm";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model List<HG.Entities.Entities.Nhom.Asp_nhom>

<div class="card">
    <div class="pageheader">
        <div class="searchbar">
             @using (Html.BeginForm("ViewNhom", "SuperAdmin", FormMethod.Get,new { @class="searchbar" }))
                {
                    <input name="txtSearch" type="text" id="Search" placeholder="Gõ từ khóa và nhấn enter..." value="@ViewBag.txtSearch"/>
                    <input type="submit" name="" style="cursor:pointer" id="BtnSearch" hidden="hidden" />
                }
        </div>
        <div class="pageicon"><span class="iconfa-table"></span></div>
        <div class="pagetitle">
            <h5>Danh sách</h5>
            <h1>Nhóm</h1>
        </div>
    </div>
    <div class="maincontent">
        <div class="maincontentinner">
            <!-- Table with stripped rows -->
            <p class="stdformbutton" style="margin-bottom: 10px;">
                <input type="button" value="Thêm" onclick="window.location.href = '/SuperAdmin/ThemNhom';" class="btn btn-primary" style="width:100px;" />

                <input type="button" value="Xóa" onclick="DeleteMultiple()" class="btn btn-primary" style="width:100px;" />
                <input hidden id="lstCode" />
            </p>

            <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns" id="dataTable" >

                <div class="dataTables_length">
                    <label>
                        Hiển thị
                        <select class="dataTable-selector" onchange="ChangePageSize(this)">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="25" selected>25</option>
                        </select> bản ghi
                    </label>
                </div>
                <div class="dataTable-container">
                    <table class="table table-bordered responsive">
                        <thead class="widgettitle">
                            <tr>
                                <th class="head0 nosort" scope="col" data-sortable="" style="width: 5%;">
                                    <input type="checkbox" name="" id="selectAll" />
                                </th>
                                <th class="head0" scope="col" data-sortable="" style="width: 5%;">STT</th>
                                <th class="head1" scope="col" data-sortable="" style="width: 20%;">TÊN</th>
                                <th class="head0" scope="col" data-sortable="" style="width: 30%;">MÔ TẢ</th>
                                <th class="head1" scope="col" data-sortable="" style="width: 5%;">#</th>
                                <th class="head0" scope="col" data-sortable="" style="width: 5%;">#</th>
                                <th class="head1" scope="col" data-sortable="" style="width: 5%;">#</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                var stt = 1;
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td><input type="checkbox" class="ads_Checkbox" value="@item.ma_nhom" /></td>
                                        <td scope="row">
                                            @stt
                                            <input type="hidden" name="" id="" value="@item.Id" />
                                        </td>
                                        <td><a href="/SuperAdmin/SuaNhom?code=@item.ma_nhom&type=@(StatusAction.View.ToString())">@item.ten_nhom</a></td>

                                        <td>@item.mo_ta</td>
                                        <td>
                                            <a id="" title="" data-placement="top" data-toggle="tooltip" data-original-title="Xem" href="/SuperAdmin/SuaNhom?code=@item.ma_nhom&type=@(StatusAction.View.ToString())">
                                                <span class="glyphicon glyphicon-list-alt">Xem</span>
                                            </a>
                                        </td>
                                        <td>
                                            <a id="" title="" data-placement="top" data-toggle="tooltip" data-original-title="Sửa" href="/SuperAdmin/SuaNhom?code=@item.ma_nhom&type=@(StatusAction.Edit.ToString())">
                                                <span class="glyphicon glyphicon-edit">Sửa</span>
                                            </a>
                                        </td>
                                        <td>
                                            <a onclick="confirm.BeforDeletePost('/SuperAdmin/XoaNhom?code=@item.ma_nhom')"
                                       title=""
                                       data-placement="top"
                                       data-toggle="tooltip"
                                       data-original-title="Xóa"
                                       href="#">
                                                <span class="glyphicon glyphicon-trash">Xóa</span>
                                            </a>
                                        </td>
                                    </tr>
                                    stt++;
                                }
                            }
                        </tbody>
                    </table>
                </div> 
                <div class="dataTables_info" id="dyntable_info">Hiển thị 1 đến 25 của @(ViewBag.TotalRecords) bản ghi</div>
                <div class="dataTables_paginate paging_full_numbers" id="dyntable_paginate">
                            @{
                                var TotalPage = (int) ViewBag.TotalPage;
                                var CurrentPage = (int)ViewBag.CurrentPage;
                                if (TotalPage> 5)
                                {
					                    if(CurrentPage > CurrentPage + 2 ){
                                                      <span><a class="first paginate_button paginate_button_disabled" onclick="GetListByCurrentPage(1)">Đầu</a></span>  
                                                      <span><a class="first paginate_button paginate_button_disabled" onclick="GetListByCurrentPage(@CurrentPage - 1)">Trước</a></span>
                                        };
                                        if(CurrentPage > 3)
                                        {
                                             for(int i = CurrentPage -2; i< CurrentPage+2; i++){
						                                if(i == CurrentPage){
                                                                       <span><a tabindex="0" class="active paginate_active" onclick="GetListByCurrentPage(@i)" >@i</a></span>  
						                                }else{
                                                                       <span><a tabindex="0" class=" paginate_active" onclick="GetListByCurrentPage(@i)" >@i</a></span>  
						                                } 
					                                }
                                        }else{
                                                    for(int i = 1 ; i <= 5; i++){
						                                if(i == CurrentPage){
                                                                       <span><a tabindex="0" class="active paginate_active" onclick="GetListByCurrentPage(@i)" >@i</a></span>  
						                                }else{
                                                                       <span><a tabindex="0" class=" paginate_active" onclick="GetListByCurrentPage(@i)" >@i</a></span>  
						                                } 
					                                }

                                        }
                           
					                    if(CurrentPage < CurrentPage + 2 ){
                                                    <span> <a class="first paginate_button paginate_button_disabled" onclick="GetListByCurrentPage(@CurrentPage + 1)" >Trước</a></span>
                                                    <span><a class="first paginate_button paginate_button_disabled" onclick="GetListByCurrentPage(@TotalPage)">Cuối</a></span> 
					                    };
                                }else{
					                    for(int i = 1; i <= TotalPage; i++){
						                    if(i == CurrentPage){
                                                           <span><a tabindex="0" class="active paginate_active" onclick="GetListByCurrentPage(@i)" >@i</a></span>  
						                    }else{
                                                          <span><a tabindex="0" class=" paginate_active" onclick="GetListByCurrentPage(@i)" >@i</a></span>   
						                    } 
					                    }
			                    }
                            }
                </div>
            </div>

        </div>
    </div>

    </div>
<script>
    function GetListByCurrentPage(id) {
               $.ajax({
                   type: "GET",
                   url: "../SuperAdmin/NhomPaging?currentPage=" + id + "&tu_khoa=",
                   data: "",
                   contentType: 'application/json; charset=utf-8',
                   success: function(data) {
                       console.log(data);
                       $("#dataTable").html(data);
                   }
               });                             
     }
    function DeleteMultiple() {
        var listData = $("#lstCode").val();
        confirm.BeforDeletePost('/SuperAdmin/XoaNhom?code=' + listData)
    }

    $(function() {
        $('#selectAll').click(function() {
            var val = [];
            if ($(this).is(':checked')) {
                $(".ads_Checkbox").prop("checked", true);
                $(':checkbox:checked').each(function(i) {
                    if (i > 0) {
                        val[i - 1] = $(this).val();
                    }
                });
            }
            else {
                $(".ads_Checkbox").prop("checked", false);
                val = [];
            }
            $("#lstCode").val(val);
        });


        $('.ads_Checkbox').click(function() {
            var val = [];
            $(':checkbox:checked').each(function(i) {
                if ($('#selectAll').is(':checked')) {
                    if (i > 0) {
                        val[i - 1] = $(this).val();
                    }
                } else {
                    val[i] = $(this).val();
                }

            });
            $("#lstCode").val(val);
        });

    });
       function ChangePageSize(data) {
           var tu_khoa = $("#txtSearch").val();
           if (tu_khoa == undefined) {
               tu_khoa = "";
           }
            $.ajax({
                type: "GET",
                url: "/SuperAdmin/NhomPaging?currentPage=" + 1 + "&pageSize=" + data.value + "&tu_khoa=" + tu_khoa,
                data: "",
                contentType: 'application/json; charset=utf-8',
                success: function(data) {
                    $("#dataTable").html(data);
                }
            });
    }
</script>
