
@{
    ViewData["Title"] = "Danh mục";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<HG.WebApp.Entities.Reviews>

<div class="card">
    <div class="card-body">
         <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Danh sách Reviews</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <table class="table table-striped">
                            <tbody>
                                @{int i = 1;}
                                <tr>
                                    <th>Mã Review</th>
                                    <th>Tên Listting</th>
                                    <th>Nội dung</th>
                                    <th>Ngày reviews</th>
                                    <th>Trạng thái</th>
                                    <th>Thao tác</th>
                                    <th></th>
                                </tr>
                                @foreach (var item in Model.ToList())
                                {
                                    <tr>
                                     
                                        <td style="vertical-align: middle">@item.Id</td>
                                        <td style="vertical-align: middle">@item.ListtingID</td>
                                        <td style="vertical-align: middle">@item.Comment</td>
                                         <td style="vertical-align: middle">@item.Date</td>
                                        <td style="vertical-align: middle">
                                            @Html.Raw( (item.Status == 0 ? "<span style='color:#2b6893;cursor: pointer;' onclick='UpdateStatus(" + @item.Id + ")'>Ẩn</span>" : "<span style='color:red;cursor: pointer;' onclick='UpdateStatus(" + @item.Id + ")'>Hiện</span>"))
                                        </td>
                                       
                                        <td style="vertical-align: middle">
                                            <a href="" class="btn btn-warning btn-bordered" id="addData-@(i-1)" name = "@(item.Comment + ";" + item.Description + ";" + item.Status )" data-toggle="modal" data-target="#EditCategoriesModal" title="sửa">
                                                <i class="glyphicon glyphicon-pencil"></i>
                                            </a>
                                              <script>
                                                $('#addData-@(i-1)').click(function () {
                                                    $("#EditCategoryID").val(@item.Id);
                                                    $("#EditCName" ).val($('#addData-@(i-1)').attr('name').split(';')[0])
                                                    $("#EditCDes").val($('#addData-@(i-1)').attr('name').split(';')[1]);
                                                    if($('#addData-@(i-1)').attr('name').split(';')[2] ==1){$("#EditStatus1").prop("checked", true);} else { $("#EditStatus0").prop("checked", true);}
                                                    $('#EditCategoriesModal').show();
                                                });
                                            </script>
                                            <a onclick="confirm.BeforDelete('/Categories/DeleteCate/@item.Id')" class="btn btn-danger btn-bordered" title="xóa">
                                                <i class="glyphicon glyphicon-trash"></i>
                                            </a>
                                        </td>
                                     
                                    </tr>
                                    i++;
                                }
                            </tbody>
                        </table>
                        <div class="bv_pagging">
                            @if (Model.PageCount > 1)
                            {
                                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, status = ViewBag.status }))
                            }
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
    </div>
        <div class="modal" role="dialog" id="addCategoriesModal" style="background:transparent !important;">
            <div class="modal-dialog">
                <div class="modal-content">
                    @using (Html.BeginForm("AddCate", "Categories", FormMethod.Post, new { enctype = "multipart/form-data", id = "formcategory" }))
                    {
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">x</span>
                            </button>
                            <h4 class="modal-title">Thêm danh mục</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12 col-xs-12">
                                    <div class="col-xs-3">
                                        <input type="hidden" id="CategoryID" name="CategoryID" />
                                        <label>Tên danh mục</label>
                                    </div>
                                    <div class="col-xs-9">
                                        <input type="text" name="CName" id="CName" class="form-control" />
                                    </div>
                                </div>
                                 <div class="col-md-12 col-xs-12">
                                     <div class="col-xs-3">
                                        <label>Mô tả</label>
                                    </div>
                                    <div class="col-xs-9">
                                        <input type="text" name="CDes" id="CDes" class="form-control" />
                                    </div>
                               </div>
                                <div class="col-md-12 col-xs-12">
                                    <div class="col-xs-3">
                                        <label>Hiển thị</label>
                                    </div>
                                    <div class="col-xs-9">
                                      Ẩn <input type="radio" name="Status" checked value="0"> 
                                      Hiện  <input type="radio" name="Status" value="1"> 
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-sm-12">
                                    <button id="btnAccept" class="btn btn-primary">Đồng ý</button>
                                    <button id="btnCancel" class="btn btn-default pull-right" data-dismiss="modal">Hủy bỏ</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="modal" role="dialog" id="EditCategoriesModal" style="background:transparent !important;">
            <div class="modal-dialog">
                <div class="modal-content">
                    @using (Html.BeginForm("EditCate", "Categories", FormMethod.Post, new { enctype = "multipart/form-data", id = "formcategory" }))
                    {
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">x</span>
                            </button>
                            <h4 class="modal-title">Thêm danh mục</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12 col-xs-12">
                                    <div class="col-xs-3">
                                        <input type="hidden" id="EditCategoryID" name="CategoryID" />
                                        <label>Tên danh mục</label>
                                    </div>
                                    <div class="col-xs-9">
                                        <input type="text" name="CName" id="EditCName" class="form-control" />
                                    </div>
                                </div>
                                 <div class="col-md-12 col-xs-12">
                                     <div class="col-xs-3">
                                        <label>Mô tả</label>
                                    </div>
                                    <div class="col-xs-9">
                                        <input type="text" name="CDes" id="EditCDes" class="form-control" />
                                    </div>
                               </div>
                                <div class="col-md-12 col-xs-12">
                                    <div class="col-xs-3">
                                        <label>Hiển thị</label>
                                    </div>
                                    <div class="col-xs-9">
                                      Ẩn <input type="radio" id="EditStatus0" name="Status" checked value="0"> 
                                      Hiện  <input type="radio" id="EditStatus1" name="Status" value="1"> 
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-sm-12">
                                    <button id="btnAccept" class="btn btn-primary">Đồng ý</button>
                                    <button id="btnCancel" class="btn btn-default pull-right" data-dismiss="modal">Hủy bỏ</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
<div class="c"></div>

</div>
 <script src="~/BackEnd/Admin/Js/Validate/category.js"></script>
<script>
    $(document).ready(function () {
        category.validateForm();
        $("#btnCancel").click(function () {
            $('label[class=error]').hide();
        });
        $("#addTagModal").draggable({
            handle: ".modal-header"
        });
    });
</script>

<style>
    .table tbody tr td {
        vertical-align: middle;
    }
</style>