@using HG.WebApp;
@{
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
    var Profile = ViewBag.Profile as AspNetUsers;
    var LstHoSo = ViewBag.LstHoSo as List<HG.Entities.HoSo.Ho_So>;
}
<script src="/BackEnd/Admin/plugin/ckeditor/ckeditor.js"></script>
<script>
    $(document).ready(function () {
        CKEDITOR.replace('noi_dung');
    });
    $(document).ready(function () {
        $('#form_dgcb').validate({
            rules: {
                ma_don_vi: "required",
                ma_phong_ban: "required",
                ma_can_bo: "required",
                //ma_ho_so: "required"
            },
            messages: {
                ma_don_vi: {
                    required: "Bạn phải chọn đơn vị!"
                },
                ma_phong_ban: "Bạn phải chọn phòng ban!",
                ma_can_bo: "Bạn phải chọn cán bộ!",
                //ma_ho_so: "Bạn phải chọn mã hồ sơ!",
            }
        });
        function convetArrayToObj(serialized) {
            var FormHelper = {};
            var s = '';
            var data = {};
            for (s in serialized) {
                if (serialized[s]['name'] != 'query')
                    data[serialized[s]['name']] = serialized[s]['value']
            }
            return JSON.parse(JSON.stringify(data));
        };

    });
</script>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="border: 2px solid #0866c6;">
            <div class="modal-header" style="background-color: #0866c6;">
                <h5 class="modal-title" style="color:white" id="exampleModalLabel">Thông báo</h5>
            </div>
            <div class="modal-body">
                @ViewBag.Message
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary modal-footer-btnclose" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.Succeeded == false)
{
    <script>
        $(document).ready(function () {
            $("#exampleModal").modal("show");
        });
    </script>
}
<div class="col-lg-12">
    <div class="maincontent">
        <div class="maincontentinner">
            @*<h4 class="widgettitle">Cập nhật thông tin phòng ban</h4>*@
            <div class="widgetcontent">
                <div class="form-horizontal">
                    <!-- Horizontal Form -->
                    <form id="form_dgcb" action="/DichVuCong/DanhGiaCanBo" method="post" enctype="multipart/form-data">
                        <div class="send-document-top top-title-frame">
                            <p>ĐÁNH GIÁ NHÂN VIÊN</p>
                        </div>
                        <div class="send-document-content gray-border">
                            <div class="form-group form-group-new">
                                <span class="col-md-2 control-label" style="font-weight:bold;">
                                    Chọn đơn vị
                                    <p class="red-asterisk">(*)</p>
                                </span>
                                <div class="col-md-8">
                                    <select name="ma_don_vi" id="ma_don_vi" style="width:100%;" onchange="DonViChange(this)">
                                        <option selected="selected" value="">-------Đơn Vị-------</option>
                                         @if (ViewBag.LstDonVi != null)
                                        {
                                            var LstDonVi = ViewBag.LstDonVi as List<HG.Entities.DanhMuc.DonVi.dm_don_vi>;
                                            foreach (var item in LstDonVi)
                                                {
                                                    <option value="@item.ma_don_vi">@item.ten_don_vi</option>
                                                }
                                        }
                                    </select>
                                </div>
                            </div>
                            <script>
                                function DonViChange(madonvi){
                                    $.ajax({
                                        type: "GET",
                                        url: "/DichVuCong/LayPhongBanBoiDonVi?ma_don_vi=" + madonvi.value,
                                        data: "",
                                        contentType: 'application/json; charset=utf-8',
                                        success: function (data) {
                                            $("#PhongBan").html(data);
                                        }
                                    });
                                }
                                function PhongBanChange(maphongban) {
                                    $.ajax({
                                        type: "GET",
                                        url: "/DichVuCong/LayNguoiDungBoiPhongBan?ma_phong_ban=" + maphongban.value,
                                        data: "",
                                        contentType: 'application/json; charset=utf-8',
                                        success: function (data) {
                                            $("#CanBo").html(data);
                                        }
                                    });
                                }
                            </script>
                            <div class="form-group form-group-new">
                                <span class="col-md-2 control-label" style="font-weight:bold;">
                                    Chọn phòng ban
                                    <p class="red-asterisk">(*)</p>
                                </span>
                                <div class="col-md-8" id="PhongBan">
                                    <select name="ma_phong_ban" id="ma_phong_ban" style="width:100%;" onchange="DonViChange(this)">
                                        <option selected="selected" value="">-------Phòng ban-------</option>
                                        
                                    </select>
                                </div>
                            </div>
                            <div class="form-group form-group-new">
                                <span class="col-md-2 control-label" style="font-weight:bold;">
                                    Chọn cán bộ cần đánh giá
                                    <p class="red-asterisk">(*)</p>
                                </span>
                                <div class="col-md-8" id="CanBo">
                                    <select name="ma_can_bo" id="ma_can_bo" style="width:100%;" onchange="DonViChange(this)">
                                        <option selected="selected" value="">-------Cán bộ-------</option>
                                        @if (ViewBag.LstDonVi != null)
                                        {
                                            var LstDonVi = ViewBag.LstDonVi as List<HG.Entities.DanhMuc.DonVi.dm_don_vi>;
                                            foreach (var item in LstDonVi)
                                            {
                                                <option value="@item.ma_don_vi">@item.ten_don_vi</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group form-group-new">
                                <table id="ctl09_BangTieuChi" style="width: 95%; text-align: left; margin: 5px auto; padding: 10px; border-color: white!important;">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <strong>
                                                    <label>1. Đánh giá mức độ hài lòng đối với công chức tại Bộ phận tiếp nhận và trả kết quả</label>
                                                </strong>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="form-group form-group-new">
                                <span class="col-md-2 control-label" style="font-weight:bold;"></span>
                                <div class="col-md-8">
                                    <div class="col-md-8">

                                        <input id="hai_long" type="radio" name="hai_long" onclick="fnDanhgia_0()" value="1" checked="checked"><label>&nbsp;&nbsp;Hài lòng</label>
                                        <br>
                                        <br>
                                        <input id="khong_hai_long" type="radio" name="khong_hai_long" onclick="fnDanhgia_1()" value="0"><label>&nbsp;&nbsp;Không hài lòng</label>
                                        <script>
                                            function fnDanhgia_0() {
                                                if ($('#Danhgia_0').is(':checked')) {
                                                    $("#Danhgia_0").val(1)
                                                } else {
                                                    $("#Danhgia_0").val(0)
                                                }
                                            }
                                            function fnDanhgia_1() {
                                                if ($('#Danhgia_1').is(':checked')) {
                                                    $("#Danhgia_1").val(1)
                                                } else {
                                                    $("#Danhgia_1").val(0)
                                                }
                                            }
                                        </script>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group form-group-new">
                                <table id="ctl09_BangTieuChi" style="width: 95%; text-align: left; margin: 5px auto; padding: 10px; border-color: white!important;">
                                    <tbody>
                                        <tr id="ctl09_tdlydo" style="">
                                            <td style="padding: 10px 0px 10px 0px;">
                                                <strong>
                                                    <label>2. Lý do chưa hài lòng</label>
                                                </strong>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="form-group form-group-new">
                                 <span class="col-md-2 control-label" style="font-weight:bold;"></span>
                                 <div class="col-md-8">
                                      <textarea name="noi_dung" rows="2" cols="20" id="noi_dung" class="txtSearch" style="color:Black;border-color:Blue;height:80px;width:100%;"></textarea>
                                 </div>
                            </div>
                            

                            <div class="form-group form-group-new">
                                <span class="col-md-2 control-label" style="font-weight:bold;">
                                   Họ tên đánh giá
                                    <p class="red-asterisk">(*)</p>
                                </span>
                                <div class="col-md-8">
                                    <input id="nguoi_danh_gia" disabled name="nguoi_danh_gia" class="Css_Mul" value="@(Profile.ho_dem + " " + Profile.ten)" placeholder="Nhập họ và tên" maxlength="250" style="width: 100%;" />
                                </div>
                            </div>
                            <div class="form-group form-group-new">
                                <span class="col-md-2 control-label" style="font-weight:bold;">
                                    số điện thoại
                                </span>
                                <div class="col-md-8">
                                    <input id="so_dien_thoai" disabled name="so_dien_thoai" class="Css_Mul" value="@(Profile.PhoneNumber == null ? 0 : Profile.PhoneNumber)" placeholder="Nhập số điện thoại" maxlength="250" style="width: 100%;" />
                                </div>
                            </div>
                            <div class="form-group form-group-new">
                                <span class="col-md-2 control-label" style="font-weight:bold;">
                                    Địa chỉ
                                </span>
                                <div class="col-md-8">
                                    <input id="dia_chi" name="dia_chi" class="Css_Mul" value="" placeholder="Nhập địa chỉ" maxlength="250" style="width: 100%;" />
                                </div>
                            </div>
                          
                            <div class="form-group form-group-new">
                                <span class="col-md-2 control-label" style="font-weight:bold;">
                                    Email  
                                </span>
                                <div class="col-md-8">
                                    <input type="email" disabled maxlength="50" id="email" value="@(Profile.Email == null ? "" : Profile.Email)" name="email" class="Css_Mul" placeholder="Nhập email" style="width: 100%;" />
                                </div>
                            </div> 
                            <div class="form-group form-group-new">
                                <span class="col-md-2 control-label" style="font-weight:bold;">
                                    Mã hồ sơ  <p class="red-asterisk">(*)</p>
                                </span>
                                <div class="col-md-8">
                                    <select name="ma_ho_so" id="ma_ho_so" style="width:100%;" onchange="DonViChange(this)">
                                        <option selected="selected" value="">-------Chọn hồ sơ-------</option>
                                        @if (LstHoSo != null)
                                        {
                                            foreach (var item in LstHoSo)
                                            {
                                               <option value="@item.Id">@item.ten_ho_so</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                         
                            <div class="form-group form-group-new">
                                <span class="col-md-5 control-label" style="font-weight:bold;">
                                    
                                </span>
                                <div class="col-md-7">
                                    <input type="submit" value="GỬI ĐI" id="ctl09_Sent" class="btn btn-primary" style="margin-left: 25px; margin-bottom: 5px;background: #06599f;  width: 100px;">
                                    <input type="button" value="Đóng" id="ctl09_Sent" class="btn btn-primary" onclick="window.location.href = '/DichVuCong/DanhGiaView'" style="margin-left: 25px; margin-bottom: 5px;background: #06599f;  width: 100px;">
                                </div>
                            </div>
                        </div>
                       
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>