@using HG.WebApp
@{
    ViewData["Title"] = "Danh mục quốc tịch";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var ThuTuc = ViewBag.ThuTuc as List<HG.Entities.Dm_Thu_Tuc>;
    var LuongKey = ViewBag.LuongKey as List<HG.Entities.Dm_luong_Key>;
}
@model HG.Entities.Dm_Luong_Xu_Ly


<div></div>
<div class="col-lg-12">
    <div class="pageheader">
        <div class="pageicon"><span class="iconfa-pencil"></span></div>
        <div class="pagetitle">
            <h5>Thông tin</h5>
            <h1>Luồng xử lý</h1>
        </div>
    </div>
    @if (ViewBag.error > 0)
    {
        <div>@ViewBag.msg</div>
    }
    <div class="maincontent">
        <div class="maincontentinner">
            <h4 class="widgettitle">Cập nhật thông tin luồng xử lý</h4>
            <div class="widgetcontent">
                <div class="form-horizontal">
                    <!-- Horizontal Form -->
                    <form id="form_pb" action="/Luong/SuaLuongXuLy?code=@Model.ma_luong&type=@ViewBag.type_view" method="post" enctype="multipart/form-data" id="filterForm">

                        <div class="row mb-3">
                            <label for="ma_pb" class="col-sm-2 control-label">Mã luồng <span style="color:red">(*)</span></label>
                            <div class="col-sm-8">
                                <input type="text" onfocusout="CheckMa(this)" class="form-control input-default" placeholder="Mã luồng" name="ma_luong" maxlength="25" value="@Model.ma_luong" @(ViewBag.type_view == StatusAction.View.ToString() ? "disabled" : "")>
                            </div>
                            <div class="col-sm-1">
                                @if (ViewBag.type_view == StatusAction.Edit.ToString())
                                {
                                    <button type="button" class="btn btn-primary" onclick="myModalPopup()" data-bs-toggle="modal" data-bs-target="#basicModal">
                                        Chọn
                                    </button>

                                    <script>
                                        function myModalPopup() {
                                            $.ajax({
                                                type: "GET",
                                                url: "../Luong/RenderViewluongXuLy",
                                                data: "",
                                                contentType: 'application/json; charset=utf-8',
                                                success: function(data) {
                                                    console.log(data);
                                                    $("#basicModal .modal-body").html(data);
                                                }
                                            });
                                        }

                                    </script>
                                }
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="ten_pb" class="col-sm-2 control-label">Tên luồng <span style="color:red">(*)</span></label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-default" name="ten_luong" placeholder="Tên luồng" maxlength="200" value="@Model.ten_luong" @(ViewBag.type_view == StatusAction.View.ToString() ? "disabled" : "")>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="mota" class="col-sm-2 control-label">Mô tả</label>
                            <div class="col-sm-8">
                                <textarea class="form-control input-default" placeholder="Mô tả" name="mo_ta" id="mota" maxlength="500" @(ViewBag.type_view == StatusAction.View.ToString() ? "disabled" : "")>@Model.mo_ta</textarea>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="ten_pb" class="col-sm-2 control-label">TT hai giai đoạn </label>
                            <div class="col-sm-8">
                                <input type="checkbox" id="tt_hai_gd" name="tt_hai_gd" value="@Model.tt_hai_gd" maxlength="200" @(Model.tt_hai_gd ? "checked" : "") @(ViewBag.type_view == StatusAction.View.ToString() ? "disabled" : "")>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="ma_dvlt_xl" class="col-sm-2 control-label">Thủ tục HC <span style="color:red">(*)</span></label>
                            <div class="col-sm-8">
                                <select id="multiselect" class="select2 form-select form-control input-default" multiple="" data-placeholder="Chọn thủ tục" style="width: 100%;" tabindex="-1" aria-hidden="true" @(ViewBag.type_view == StatusAction.View.ToString() ? "disabled" : "")>
                                    @if (ThuTuc != null)
                                    {
                                        foreach (var item in ThuTuc)
                                        {
                                            <option value="@item.ma_thu_tuc" data-id="@item.ma_thu_tuc_old">@item.ten_thu_tuc</option>
                                        }
                                    }
                                </select>
                                <input id="ma_thu_tuc" type="text" name="ma_thu_tuc" class="form-control input-default" hidden>
                                <input id="ma_thu_tuc_map" type="text" name="ma_thu_tuc_map" class="form-control input-default" hidden>
                            </div>
                        </div>
                        <div class="row mb-3 tab_luong_cha" style="display:none;">
                            <label for="luong_cha" class="col-sm-2 control-label">Luồng cha</label>
                            <div class="col-sm-8">
                                <select class="form-select form-control input-default" id="luong_cha" name="luong_cha" data-placeholder="Chọn luồng cha" @(ViewBag.type_view == StatusAction.View.ToString() ? "disabled" : "")>
                                    <option value="">---Chọn luồng cha--------</option>
                                    @if (LuongKey != null)
                                    {
                                        foreach (var item in LuongKey)
                                        {
                                            if (item.ma_luong == Model.luong_cha)
                                            {
                                                <option selected value="@item.ma_luong">@item.ten_luong</option>
                                            }
                                            else
                                            {
                                                <option value="@item.ma_luong">@item.ten_luong</option>
                                            }

                                        }
                                    }
                                </select>                               
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="stt" class="col-sm-2 control-label">Thứ tự</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control input-default" name="stt" id="stt" placeholder="Số thứ tự" maxlength="10" value="@Model.Stt" @(ViewBag.type_view == StatusAction.View.ToString() ? "disabled" : "")>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="ten_pb" class="col-sm-2 control-label">File excel</label>
                            <div class="col-sm-8">
                                <input type="file" id="file" class="form-control input-default" placeholder="Chọn file upload" name="file" value="" maxlength="200">
                            </div>
                        </div>

                        <div class="text-center">
                            @if (ViewBag.type_view == StatusAction.View.ToString())
                            {

                                <button type="button" class="btn btn-primary" name="type" onclick="window.location.href='/Luong/ThemLuongXuLy';">Thêm</button>
                                <button type="button" class="btn btn-primary" name="type" onclick="window.location.href='/Luong/SuaLuongXuLy?code=@Model.ma_luong&type=@StatusAction.Edit.ToString()';">Sửa</button>
                            }
                            @if (ViewBag.type_view == StatusAction.Edit.ToString())
                            {
                                <button type="submit" class="btn btn-primary" name="type_view" value="@(StatusAction.Add.ToString())">Lưu và Thêm</button>
                                <button type="submit" class="btn btn-primary" name="type_view" value="@(StatusAction.View.ToString())">Lưu</button>
                            }
                            <button type="button" class="btn btn-primary" onclick="confirm.BeforDeletePost('/Luong/XoaLuongXuLy?code=@Model.ma_luong')">Xóa</button>
                            <button type="button" class="btn btn-secondary" onclick="window.location.href='/Luong/LuongXuLy';">Đóng</button>

                            <button type="button" class="btn btn-primary" name="type" onclick="window.location.href='/Luong/QuyTrinhXuLy?code=@Model.ma_luong&type=@ViewBag.type_view';">Quy Trình</button>
                            <button type="button" class="btn btn-primary" name="type" onclick="window.location.href='/Luong/ExportLuong?code=@Model.ma_luong'">Xuất excel</button>
                            <button type="button" class="btn btn-primary" name="type" onclick="importExcel()">Nhập excel</button>

                        </div>
                        <input name="type_view" hidden value="@ViewBag.type_view" />
                    </form><!-- End Horizontal Form -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Basic Modal -->


<div class="modal fade" id="basicModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header widgettitle">
                <h5 class="modal-title">Danh sách</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div><!-- End Basic Modal-->
<!-- /.modal -->


<script>
    var Arr = [];
    var Arr_map = [];
    $(document).ready(function() {
        $("#tt_hai_gd").val($("#tt_hai_gd").is(':checked'));

        if ($('#tt_hai_gd').is(':checked')) {
            $(".tab_luong_cha").attr("style", "display:flex")
        } else {
            $(".tab_luong_cha").attr("style", "display:none")
        }

        $('#tt_hai_gd').change(function() {
            if ($(this).is(':checked')) {
                $(".tab_luong_cha").attr("style", "display:flex")
            } else {
                $(".tab_luong_cha").attr("style", "display:none")
            }
            $('#tt_hai_gd').val($(this).is(':checked'));
        });

        $('.select2').select2({
            closeOnSelect: false
        });

        var ngctxl = "@Model.ma_thu_tuc";
        var arrNgctxl = ngctxl.split(";");
        if (arrNgctxl != "") {
            arrNgctxl.forEach(function(i) {
                Arr.push(i);
                $("#ma_thu_tuc").val(Arr.join(";"));
            });
            $("#multiselect").val(arrNgctxl).trigger('change');
        }

        var ma_tt = "@Model.ma_thu_tuc_map";
        var ma_tt_map = ma_tt.split(";");
        if (ma_tt_map != "") {
            ma_tt_map.forEach(function(i) {
                Arr_map.push(i);
                $("#ma_thu_tuc_map").val(Arr_map.join(";"));
            });
        }

        $('#multiselect').on('select2:select', function(e) {
            var id = $(e.params.data.element).data('id');
            Arr.push(e.params.data.id);
            Arr_map.push(e.params.data.id + "|" + id);
            $("#ma_thu_tuc").val(Arr.join(";"));
            $("#ma_thu_tuc_map").val(Arr_map.join(";"));
        });

        $('#multiselect').on("select2:unselect", function(e) {
            var id = $(e.params.data.element).data('id');
            Arr.pop(e.params.data.id);
            Arr_map.pop(e.params.data.id + "|" + id);
            $("#ma_thu_tuc").val(Arr.join(";"));
            $("#ma_thu_tuc_map").val(Arr_map.join(";"));
        });


        jQuery.validator.addMethod("tieng_viet_vaild", function(value, element) {
            if ("ÀÁÂÃÈÉÊÌÍÒÓÔÕÙÚĂĐĨŨƠàáâãèéêìíòóôõùúăđĩũơƯĂẠẢẤẦẨẪẬẮẰẲẴẶẸẺẼỀỀỂẾưăạảấầẩẫậắằẳẵặẹẻẽềềểếỄỆỈỊỌỎỐỒỔỖỘỚỜỞỠỢỤỦỨỪễệỉịọỏốồổỗộớờởỡợụủứừỬỮỰỲỴÝỶỸửữựỳỵỷỹ".includes(value)) {
                return false;
            } else {
                return true;
            };
        }, "Mã không nên nhập tiếng việt");

        jQuery.validator.addMethod("ma_vaild", function(value, element) {
            if (/[ `!#$%^&*()+\=\[\]{};':"\\|,<>\/?~]/.test(value)) {
                return false;
            } else {
                return true;
            };
        }, "Mã không nhập các kí tự đặc biệt [ `!#$%^&*()+\=\[\]{};':\\|,<>\/?~]");
          $('#form_pb').submit(function() {
            if (($("#ma_thu_tuc").val() == '')) {
                alert('Bank cần nhập mã thủ tục.');
                return false;
            }
            $("#form_pb").valid();
        });
        $('#form_pb').validate({
            rules: {
                ma_luong: {
                    required: true,
                    ma_vaild: true,
                    tieng_viet_vaild: true
                },
                ten_luong: "required"
            },
            messages: {
                ma_luong: {
                    required: "Bạn cần nhập mã luồng!",
                },
                ten_luong: "Bạn cần nhập tên luồng!"
            }
        });

    });
   

    function importExcel() {
        var myfile = document.getElementById("file");
        var formData = new FormData();

        if (myfile.files.length > 0) {
            for (var i = 0; i < myfile.files.length; i++) {
                formData.append('file', myfile.files[i]);
            }
        }
        $.ajax({
            url: '/Luong/ReadFileExcel',
            type: "POST",
            contentType: false, // Not to set any content header
            processData: false, // Not to process data
            data: formData,
            success: function(result) {
                console.log(result);
                if (result == 1) {
                    alert("Cập nhật thành công");
                    window.location.href = "/Luong/SuaLuongXuLy?code=" + '@Model.ma_luong' + "&type=" + '@ViewBag.type_view';
                }
            },
            error: function(err) {
                alert(err.statusText);
            }
        });
    }

    function CheckMa(data) {
        if (data.value != "") {
            var dataPost = { code: data.value };
            $.ajax({
                url: "/Luong/CheckMaLuong",
                type: "post",
                contentType: 'application/x-www-form-urlencoded',
                data: dataPost,
                success: function(result) {
                    window.location.href = result.href;
                }
            });
        }
    };
</script>



