a@{
    var MenuChill = ViewBag.MenuChill as HG.Entities.UnitsMenuRolesOfUser;
}

@if (ViewBag.UserId != "a5bb3600-4454-4b24-4610-08da60bcee60")
{
    <ul class="sidebar-nav" id="sidebar-nav">
       @if (MenuChill != null && MenuChill.Vai_Tro_Menu_Quyen != null)
           {
            foreach (var item in MenuChill.Vai_Tro_Menu_Quyen.Where(n => n.cap_trang == 0).Distinct().ToList())
                {
                      <li class="nav-item">
                        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                            <i class="bi bi-menu-button-wide"></i><span>@(HG.WebApp.Helper.HelperSql.GetTenTrang(item.ma_chuc_nang))</span><i class="bi bi-chevron-down ms-auto"></i>
                        </a>
                        @if (MenuChill.Vai_Tro_Menu_Quyen.Where(n=>n.cap_trang == 1 && n.ma_trang_cha == item.ma_chuc_nang).Count() > 0){
                         <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                            @foreach (var item2 in MenuChill.Vai_Tro_Menu_Quyen.Where(n=>n.cap_trang == 1 && n.ma_trang_cha == item.ma_chuc_nang).GroupBy(test => test.ma_chuc_nang).Select(grp => grp.First()).ToList())
                            {
                                <li class="nav-item">
                                    <a class="nav-link parent-custom collapsed" data-bs-target="#components-nav2" data-bs-toggle="collapse" href="@item2.url">
                                        <i class="bi bi-circle"></i><span>@(HG.WebApp.Helper.HelperSql.GetTenTrang(item2.ma_chuc_nang)) </span><i class="bi bi-chevron-down ms-auto"></i>
                                    </a>
                                    <ul id="components-nav2" class="nav-content custom collapse" data-bs-parent="#nav-content">
                                        @foreach (var item3 in MenuChill.Vai_Tro_Menu_Quyen.Where(n=>n.cap_trang == 2 && n.ma_trang_cha == item2.ma_chuc_nang).GroupBy(test => test.ma_chuc_nang).Select(grp => grp.First()).ToList())
                                        {
                                            <li>
                                                <a href="@item3.url">
                                                    <i class="bi bi-circle"></i><span>@(HG.WebApp.Helper.HelperSql.GetTenTrang(item3.ma_chuc_nang))</span>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }
                        </ul>
                    }
                       
                    </li>
                }
            }
    </ul>
}else{
    <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-menu-button-wide"></i><span>Tiếp Nhận và trả kết quả</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li class="nav-item">
                        <a class="nav-link parent-custom collapsed" data-bs-target="#components-nav2" data-bs-toggle="collapse" href="/TiepNhan/TiepNhanHoSoMoi">
                            <i class="bi bi-circle"></i><span>Tiếp nhận hồ sơ </span><i class="bi bi-chevron-down ms-auto"></i>
                        </a>
                        <ul id="components-nav2" class="nav-content custom collapse" data-bs-parent="#nav-content">
                            <li>
                                <a href="/TiepNhan/TiepNhanHoSoMoi">
                                    <i class="bi bi-circle"></i><span>Tiếp nhận hồ sơ</span>
                                </a>
                            </li>
                            <li>
                                <a href="/TiepNhan/HoSoDangTiepNhan">
                                    <i class="bi bi-circle"></i><span>Hồ sơ đang tiếp nhận</span>
                                </a>
                            </li>
                            <li>
                                <a href="/TiepNhan/HoSoChuyenChuaXL">
                                    <i class="bi bi-circle"></i><span>Hồ sơ chuyển chưa xử lý</span>
                                </a>
                            </li>
                            <li>
                                <a href="/TiepNhan/HoSoTrucTuyen">
                                    <i class="bi bi-circle"></i><span>Hồ sơn online</span>
                                </a>
                            </li>
                            <li>
                                <a href="/TiepNhan/HoSoChoBoSung">
                                    <i class="bi bi-circle"></i><span>Hồ sơ chờ bổ sung</span>
                                </a>
                            </li>
                            <li>
                                <a href="/TiepNhan/HoSoChoTiepNhanChuaChinhThuc">
                                    <i class="bi bi-circle"></i><span>Hồ sơ chưa chính thức</span>
                                </a>
                            </li>
                            <li>
                                <a href="/TiepNhan/HoSoChuyenDaXL">
                                    <i class="bi bi-circle"></i><span>Hồ sơ chuyển đã xử lý</span>
                                </a>
                            </li>
                            <li>
                                <a href="/TiepNhan/HoSoLienThong">
                                    <i class="bi bi-circle"></i><span>Hồ sơ liên thông</span>
                                </a>
                            </li>
                            <li>
                                <a href="/TiepNhan/HoSoChoTiepNhanGD2">
                                    <i class="bi bi-circle"></i><span>Hồ sơ chờ tiếp nhận GD2</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                
                </ul>
                 <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav" style="margin-top: -4px;">
                    <li class="nav-item">
                        <a class="nav-link parent-custom collapsed" data-bs-target="#components-navTraKQ" data-bs-toggle="collapse" href="/TiepNhan/TiepNhanHoSoMoi">
                            <i class="bi bi-circle"></i><span>Trả kết quả </span><i class="bi bi-chevron-down ms-auto"></i>
                        </a>
                        <ul id="components-navTraKQ" class="nav-content custom collapse" data-bs-parent="#nav-content">
                            <li>
                                <a href="/TraKetQua/HoSoDaTraKetQua">
                                    <i class="bi bi-circle"></i><span>Hồ sơ đã trả kết quả</span>
                                </a>
                            </li>
                            <li>
                                <a href="/TraKetQua/HoSoChoTraKetQua">
                                    <i class="bi bi-circle"></i><span>Hồ sơ chờ trả kết quả</span>
                                </a>
                            </li>
                            <li>
                                <a href="/TraKetQua/HoSoDaCoKQGD1">
                                    <i class="bi bi-circle"></i><span>Hồ sơ đã có kết quả giai đoạn 1</span>
                                </a>
                            </li>
                            <li>
                                <a href="/TraKetQua/HoSoNhanKQBC">
                                    <i class="bi bi-circle"></i><span>Hồ sơ trả kết quả qua bưu chính</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                
                </ul>
            </li><!-- End Components Nav -->


            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#PhongBan-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-menu-button-wide"></i><span>Quản trị danh mục</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="PhongBan-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/DanhMuc/PhongBan">
                            <i class="bi bi-circle"></i><span>Phòng ban</span>
                        </a>
                    </li>
                    <li>
                        <a href="/DanhMuc/LinhVuc">
                            <i class="bi bi-circle"></i><span>Lĩnh vực</span>
                        </a>
                    </li>
                   
                    <li>
                        <a href="/ThuTuc/QuanLy">
                            <i class="bi bi-circle"></i><span>Thủ tục hành chính</span>
                        </a>
                    </li>
                    <li>
                        <a href="/DanhMuc/ChucVu">
                            <i class="bi bi-circle"></i><span>Chức vụ</span>
                        </a>
                    </li>
                    <li>
                        <a href="/DanhMuc/GiayTo">
                            <i class="bi bi-circle"></i><span>Giấy tờ hợp lệ</span>
                        </a>
                    </li>
                    <li>
                        <a href="/DanhMuc/NgayNghi">
                            <i class="bi bi-circle"></i><span>Ngày nghỉ</span>
                        </a>
                    </li>
                    <li>
                        <a href="/DanhMuc/SoHoSo">
                            <i class="bi bi-circle"></i><span>Sổ hồ sơ</span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="/DanhMuc/DonViLienThong">
                            <i class="bi bi-circle"></i><span>Đơn vị liên thông</span>
                        </a>
                    </li>
                    @*Danh mục chung*@
                    <li>
                        <a href="/DanhMucChung/QuocTich">
                            <i class="bi bi-circle"></i><span>Quốc tịch</span>
                        </a>
                    </li>
                    <li>
                        <a href="/DanhMucChung/GioiTinh">
                            <i class="bi bi-circle"></i><span>Giới tính</span>
                        </a>
                    </li>
                    <li>
                        <a href="/DanhMucChung/TonGiao">
                            <i class="bi bi-circle"></i><span>Tôn giáo</span>
                        </a>
                    </li>
                    <li>
                        <a href="/DanhMucChung/DanToc">
                            <i class="bi bi-circle"></i><span>Dân tộc</span>
                        </a>
                    </li>

                    <li>
                        <a href="/DonVi/DiaBan">
                            <i class="bi bi-circle"></i><span>DM địa bàn</span>
                        </a>
                    </li>
                    @*Menu*@
                    <li>
                        <a href="/Menu/ChuyenMuc">
                            <i class="bi bi-circle"></i><span>Chuyên mục chính</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Menu/ChuyenMucCap2">
                            <i class="bi bi-circle"></i><span>Chuyên mục con</span>
                        </a>
                    </li>
                    <li>
                        <a href="/DonVi/DonVi">
                            <i class="bi bi-circle"></i><span>danh sách đơn vị</span>
                        </a>
                    </li>

                </ul>
            </li><!-- End Components Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-journal-text"></i><span>Xử lý</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/XuLyHoSo/Index">
                            <i class="bi bi-circle"></i><span>Xử lý hồ sơ</span>
                        </a>
                    </li>
                    <li>
                        <a href="/XuLyHoSo/HoSoDangXuLy">
                            <i class="bi bi-circle"></i><span>Hồ sơ đang xử lý</span>
                        </a>
                    </li>
                    <li>
                        <a href="/XuLyHoSo/HoSoChoXuLy">
                            <i class="bi bi-circle"></i><span>Hồ sơ chờ xử lý</span>
                        </a>
                    </li>
                    <li>
                        <a href="/XuLyHoSo/HoSoDaChuyenXuLy">
                            <i class="bi bi-circle"></i><span>Hồ sơ chuyển đã xử lý</span>
                        </a>
                    </li>
                     <li>
                        <a href="/XuLyHoSo/HoSoPhoiHop">
                            <i class="bi bi-circle"></i><span>Hồ sơ phối hợp</span>
                        </a>
                    </li>
                     <li>
                        <a href="/XuLyHoSo/HoSoChoKy">
                            <i class="bi bi-circle"></i><span>Hồ sơ chờ ký</span>
                        </a>
                    </li>
                      <li>
                        <a href="/XuLyHoSo/HoSoDaPhoiHop">
                            <i class="bi bi-circle"></i><span>Hồ sơ đã phối hợp</span>
                        </a>
                    </li>
                     <li>
                        <a href="/XuLyHoSo/HoSoGanDenHan">
                            <i class="bi bi-circle"></i><span>Hồ sơ gần đến hạn</span>
                        </a>
                    </li>
                      <li>
                        <a href="/XuLyHoSo/HoSoChoChuyenMotCua">
                            <i class="bi bi-circle"></i><span>Hồ sơ chuyển một cửa</span>
                        </a>
                    </li>
                    <li>
                        <a href="/XuLyHoSo/HoSoDaKy">
                            <i class="bi bi-circle"></i><span>Hồ sơ đã ký</span>
                        </a>
                    </li>
                    <li>
                        <a href="/XuLyHoSo/HoSoTheoDoiDonDoc">
                            <i class="bi bi-circle"></i><span>Hồ sơ theo dõi đôn đốc</span>
                        </a>
                    </li>
                     <li>
                    <a href="/XuLyHoSo/HoSoXuLyThay">
                            <i class="bi bi-circle"></i><span>Hồ sơ xử lý thay</span>
                        </a>
                    </li>
                   
                    <li>
                        <a href="/XuLyHoSo/HoSoChuaBoSung">
                            <i class="bi bi-circle"></i><span>Hồ sơ chưa bổ sung</span>
                        </a>
                    </li>
                    <li>
                        <a href="/XuLyHoSo/HoSoLienThong">
                            <i class="bi bi-circle"></i><span>Hồ sơ liên thông</span>
                        </a>
                    </li>
                </ul>
            </li><!-- End Forms Nav -->

            <li class="nav-item">
                 <a class="nav-link collapsed" data-bs-target="#formreport-nav" data-bs-toggle="collapse" href="#"> 
                    <i class="bi bi-journal-text"></i><span>Thống kê & Báo cáo</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                 <ul id="formreport-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                     <li>
                        <a href="/BaoCaoThongKe/BaoCaoSoLuong">
                            <i class="bi bi-circle"></i><span>Báo cáo số lượng hồ sơ</span>
                        </a>
                    </li> 
                     <li>
                        <a href="/BaoCaoThongKe/BaoCaoHoSoTrucTuyen">
                            <i class="bi bi-circle"></i><span>Báo cáo hồ sơ trực tuyến</span>
                        </a>
                    </li> 
                    <li>
                        <a href="/BaoCaoThongKe/BaoCaoTheoNguoiXuLy">
                            <i class="bi bi-circle"></i><span>Báo cáo theo người xử lý</span>
                        </a>
                    </li>
                     <li>
                        <a href="/BaoCaoThongKe/BaoCaoHoSoBiLoai">
                            <i class="bi bi-circle"></i><span>Báo cáo hồ sơ bị loại</span>
                        </a>
                    </li> 
                   
                    <li>
                        <a href="/BaoCaoThongKe/BaoCaoSoLuong">
                            <i class="bi bi-circle"></i><span>Báo cáo số lượng</span>
                        </a>
                    </li> 
                 </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#formuser-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-journal-text"></i><span>Quản trị hệ thống</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="formuser-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/QTNguoidung/ListNguoiDung">
                            <i class="bi bi-circle"></i><span>Người dùng</span>
                        </a>
                    </li> 
                    <li>
                        <a href="/QTNguoidung/ListNguoiDungOnline">
                            <i class="bi bi-circle"></i><span>Người dùng Online</span>
                        </a>
                    </li>
                    <li>
                        <a href="/QTNguoidung/ThongKeTruyCap">
                            <i class="bi bi-circle"></i><span>Thống kê truy cập</span>
                        </a>
                    </li>
                    <li>
                        <a href="/QTNguoidung/QLNhomVaitro">
                            <i class="bi bi-circle"></i><span>Quản lý nhóm và Vai trò</span>
                        </a>
                    </li>
                    <li>
                        <a href="/CauHinh/CauHinh">
                            <i class="bi bi-circle"></i><span>Cấu hình hệ thống</span>
                        </a>
                    </li>
                    @*Luồng xử lý*@
                    <li>
                        <a href="/Luong/LuongXuLy">
                            <i class="bi bi-circle"></i><span>Khai Báo luồng xử lý</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Luong/BuocThucHien">
                            <i class="bi bi-circle"></i><span>Bước thực hiện</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Luong/BuocXuLy">
                            <i class="bi bi-circle"></i><span>Bước xử lý</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Luong/GanLuongXuLy">
                            <i class="bi bi-circle"></i><span>Gán Luồng</span>
                        </a>
                    </li>
                     <li>
                    <a href="/QTNguoidung/UyQuyenXuLy">
                            <i class="bi bi-circle"></i><span>Ủy Quyền xử lý</span>
                        </a>
                    </li>
                </ul>
            </li><!-- End Forms Nav -->
              <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#formtracuu-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-journal-text"></i><span>Tra cứu tìm kiếm</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
            <ul id="formtracuu-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/TraCuuHoSo/DanhSachToanBoHoSo">
                            <i class="bi bi-circle"></i><span>Toàn bộ hồ sơ</span>
                        </a>
                    </li> 
                     <li>
                        <a href="/TraCuuHoSo/DanhSachHoSoTheoTieuChi">
                            <i class="bi bi-circle"></i><span>Tìm kiếm theo tiêu chí</span>
                        </a>
                    </li>
                    <li>
                        <a href="/TraCuuHoSo/TimKiemHoSoLienThong">
                            <i class="bi bi-circle"></i><span>Tra cứu hồ sơ liên thông</span>
                        </a>
                      
                    </li>
                
                </ul>
            </li><!-- End Forms Nav -->
           
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#SuperAdmin-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-journal-text"></i><span>SuperAdmin</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="SuperAdmin-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/SuperAdmin/QuyenDanhSach">
                            <i class="bi bi-circle"></i><span>Quyền</span>
                        </a>
                    </li>
                    <li>
                        <a href="/SuperAdmin/VaiTro">
                            <i class="bi bi-circle"></i><span>Vai trò</span>
                        </a>
                    </li>
                    <li>
                        <a href="/SuperAdmin/LichSuBanGhi">
                            <i class="bi bi-circle"></i><span>Lịch sử bản ghi</span>
                        </a>
                    </li>
                    <li>
                        <a href="/SuperAdmin/ViewNhom">
                            <i class="bi bi-circle"></i><span>Nhóm</span>
                        </a>
                    </li>
                    <li>
                        <a href="/SuperAdmin/PhanQuyen">
                            <i class="bi bi-circle"></i><span>Phân quyền</span>
                        </a>
                    </li>
                    
                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#Client" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-journal-text"></i><span>Trang Công dân</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="Client" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/GuiHoSo/ThemTuyenSinhCapMamNon">
                            <i class="bi bi-circle"></i><span>Gửi hồ sơ tuyển sinh cấp mầm non</span>
                        </a>
                    </li>
                    <li>
                        <a href="/CauHinhHeThong/CauHinh">
                            <i class="bi bi-circle"></i><span>Cấu hình hệ thống</span>
                        </a>
                    </li>
                    <li>
                        <a href="/QuanLyHoatDong/QuanLy">
                            <i class="bi bi-circle"></i><span>Nhập hoạt động</span>
                        </a>
                    </li>
                    <li>
                        <a href="/TrucBan/DanhSachCanBo">
                            <i class="bi bi-circle"></i><span>Quản lý cán bộ trực</span>
                        </a>
                    </li>
                    <li>
                        <a href="/LichTruc/QuanLy">
                            <i class="bi bi-circle"></i><span>Nhập lịch trực</span>
                        </a>
                    </li>
                     <li>
                        <a href="/TheoDoiHoSo/QuanLy">
                            <i class="bi bi-circle"></i><span>Theo dõi hồ sơ</span>
                        </a>
                    </li>
                </ul>
            </li>
           
             <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#formtintuc-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-journal-text"></i><span>Quản lý tin tức</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="formtintuc-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/tintuc/tintuc">
                            <i class="bi bi-circle"></i><span>Danh sách tin</span>
                        </a>
                    </li> 
                     <li>
                        <a href="/DanhMuc/KenhTin">
                            <i class="bi bi-circle"></i><span>Kênh tin</span>
                        </a>
                    </li>
                  
                </ul>
            </li><!-- End Forms Nav -->

        </ul>
        
}
