@{
	Layout = "~/Views/Shared/_LayoutClient.cshtml";
	var lstTinhThanh = ViewBag.DanhSachTinhTP as List<HG.Entities.Entities.DanhMuc.DonVi.dm_dia_ban>;
	var DanhSachQuanHuyen = ViewBag.DanhSachQuanHuyen as List<HG.Entities.Entities.DanhMuc.DonVi.dm_dia_ban>;
	var DanhSachXaPhuong = ViewBag.DanhSachXaPhuong as List<HG.Entities.Entities.DanhMuc.DonVi.dm_dia_ban>;
}
@model HG.Entities.Entities.NguoiDungCongDan
<style>
	
.box-white {
    border: 1px solid #cbcbcb;
    padding: 0 1px;
    margin-top: 8px;
    background-color: white;
    float: left;
}

    .box-white .title-new {
        height: 35px;
        margin-top: 2px;
        color: #d41f18;
        font-weight: bold;
			background: url(../../wwwroot/BackEnd/assets/img/box2-title-bgr.png) repeat-x;
        padding-top: 8px;
        padding-left: 11px;
    }

.title-new-content {
    float: left;
    width: 100%;
    height: 35px;
    color: #d41f18;
    font-weight: bold;
    background: url(../../wwwroot/BackEnd/assets/img/box2-title-bgr.png) repeat-x;
    padding-top: 8px;
    padding-left: 11px;
}

.box-white-1 {
    float: left;
    width: 100%;
    height: 428px;
}
.box-white-1-1 {
    float: left;
    width: 100%;
    min-height: 300px;
}
.box-white-1-1 .navbar-nav {
        list-style-type: none;
        float: right;
        margin-top: -20px;
        margin-right: 10px;
    }

        .box-white-1-1 .navbar-nav li {
            display: inline;
            float: none;
        }

            .box-white-1-1 .navbar-nav li a {
                text-decoration: none;
                background-color: #dfedf8;
                display: initial;
                border-radius: 5px 5px 0 0;
                padding: 11px 10px 7px 10px;
                color: black;
                font-weight: bold;
            }

        .box-white-1-1 .navbar-nav .active a {
            background-color: white;
        }
    .box-white-1 #tabs ul {
        list-style-type: none;
        float: right;
        margin-top: -20px;
        margin-right: 10px;
    }

        .box-white-1 #tabs ul li {
            display: inline;
        }

            .box-white-1 #tabs ul li a {
                text-decoration: none;
                background-color: #dfedf8;
                border-radius: 5px 5px 0 0;
                padding: 11px 10px 7px 10px;
                color: black;
                font-weight: bold;
            }

    .box-white-1 #tabs .ui-tabs-active a {
        background-color: white;
    }

.box-white-1 {
    float: left;
    width: 100%;
    height: 428px;
}

    .box-white-1 .navbar-nav {
        list-style-type: none;
        float: right;
        margin-top: -20px;
        margin-right: 10px;
    }

        .box-white-1 .navbar-nav li {
            display: inline;
            float: none;
        }

            .box-white-1 .navbar-nav li a {
                text-decoration: none;
                background-color: #dfedf8;
                display: initial;
                border-radius: 5px 5px 0 0;
                padding: 11px 10px 7px 10px;
                color: black;
                font-weight: bold;
            }

        .box-white-1 .navbar-nav .active a {
            background-color: white;
        }

.box-white-3 {
    width: 100%;
    float: left;
    margin-top: 20px;
}

.tsc_message_box1.tsc_simple_bg.error {
    padding: 20px;
    margin: 15px;
    background-color: #d85757;
    border-color: #d23d3d #c52f2f #b42424;
    color: #fff;
    background: -moz-linear-gradient(top, #e07070, #AC1A1A);
    background: -o-linear-gradient(top, #e07070, #AC1A1A);
    background: -webkit-gradient(linear, left top, left bottom, from(#e07070), to(#AC1A1A));
    background: -webkit-linear-gradient(top, #E47552, #AC1A1A);
    background: linear-gradient(top, #e07070, #AC1A1A);
    filter: PROGID:DXImageTransform.Microsoft.Gradient(startColorStr = '#E07070', endColorStr = '#AC1A1A');
    -ms-filter: "PROGID:DXImageTransform.Microsoft.Gradient(startColorStr = '#E07070', endColorStr = '#AC1A1A')";
}


</style>
<script>
	 $(document).ready(function() {
		jQuery.validator.addMethod("CodeVerifyValid", function (value, element) {
			if ($("#CodeVerify1").val() != value) {
				return false;
			} else {
				return true;
			};
		}, "Mã không chính xác");
        $('#DangKy').validate({
            rules: {
				ten: "required",
                UserName: "required",
				ngay_sinh: "required",
				PhoneNumber: "required",
				SoGiayTo: "required",
				TinhThanh: "required",
				QuanHuyen: "required",
				XaPhuong: "required",
				CodeVerify:{
					required: true,
					CodeVerifyValid: true
				},
            },
            messages: {
				ten: {
                    required: "Họ tên không được bỏ trống!"
                },
				UserName: "Tên đăng nhập không được bỏ trống!",
				ngay_sinh: "Ngày sinh không được bỏ trống!",
				PhoneNumber: "Số điện thoại không được bỏ trống!",
				SoGiayTo: "Số giấy tờ không được bỏ trống!",
				TinhThanh: "Bạn phải chọn Tỉnh Thành!",
				QuanHuyen: "Bạn phải chọn Quận Huyện!",
				XaPhuong: "Bạn phải chọn Xã Phường!",
				CodeVerify: "Mã xác thực không được bỏ trống!",
            }
        });
        function convetArrayToObj(serialized) {
            var FormHelper = {};
            var s = '';
            var data = {};
            for (s in serialized) {
                if (serialized[s]['name'] != 'query')
                    data[serialized[s]['name']] = serialized[s]['value']
            }
            return JSON.parse(JSON.stringify(data));
        };

    });
</script>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="border: 2px solid #0866c6;">
            <div class="modal-header" style="background-color: #0866c6;">
                <h5 class="modal-title" style="color:white" id="exampleModalLabel">Thông báo</h5>
            </div>
            <div class="modal-body">
				@ViewBag.Message
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary modal-footer-btnclose" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.Succeeded == false)
{
    <script>
        $(document).ready(function() {
            $("#exampleModal").modal("show");
        });
    </script>
}
@if (ViewBag.Succeeded == false)
{
    <script>
        $(document).ready(function() {
            $("#exampleModal").modal("show");
        });
    </script>
}

<div class="box-white box-white-1" style="height: auto;">
		<div class="title-new">THÔNG TIN NGƯỜI DÙNG</div>
		<form class="form-horizontal form-horizontal-new" id="DangKy" action="/News/DangKy" method="post" enctype="multipart/form-data">
			<div class="form-group">
				<label class="col-md-4 control-label">Tên đăng nhập: <span id="ctl09_Label4" style="color:Red;">(*)</span>:</label>
				<div class="col-md-4">
				<input name="UserName" type="text" value="@Model.UserName" id="UserName" maxlength="50" style="width:100%;">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-4 control-label">Họ tên &nbsp;<span id="ctl09_Label4" style="color:Red;">(*)</span>:</label>
				<div class="col-md-4">
				<input name="ten" type="text" value="@Model.ten" maxlength="250" id="ten" style="width:100%;">
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-4 control-label">Giới tính:</label>
				<div class="col-md-4">
				<select name="Gender" id="Gender" style="width:100%;">
						<option selected="selected" value="nam">Nam</option>
						<option value="nu">Nữ</option>
						<option value="Khac">Khác</option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-4 control-label">Ngày sinh  &nbsp;<span id="ctl09_Label5" style="color:Red;">(*)</span>:</label>
				<div class="col-md-4">
				<input name="ngay_sinh" type="date" value="@(Model.ngay_sinh == null? "": HG.WebApp.Common.HelperDateTime.DateTimeToYYYYMMDD((DateTime)Model.ngay_sinh))" id="ngay_sinh" class="datepicker hasDatepicker" style="width:100%;">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-4 control-label">Email:</label>
				<div class="col-md-4">
				<input name="Email" type="text" maxlength="50" value="@Model.Email" id="Email" style="width:100%;">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-4 control-label">Số điện thoại  &nbsp;<span id="ctl09_Label6" style="color:Red;">(*)</span>:</label>
				<div class="col-md-4">
				<input name="PhoneNumber" maxlength="50" type="text" value="@Model.PhoneNumber" id="PhoneNumber" style="width:100%;">
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-4 control-label">Loại giấy tờ:</label>
				<div class="col-md-4">
					<select name="LoaiGiayToHL" id="LoaiGiayToHL" style="width:100%;">
						<option value="HC">Hộ Chiếu</option>
						<option value="CM">CMND</option>
						<option value="GPLX">Giấy phép lái xe</option>
						<option value="CCCD">Căn cước công dân</option>

					</select>
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-4 control-label">Số giấy tờ  &nbsp;<span id="ctl09_Label8" style="color:Red;">(*)</span>:</label>
				<div class="col-md-4">
				<input name="SoGiayTo" type="text" value="@Model.SoGiayTo" maxlength="50" id="SoGiayTo" style="width:100%;">
				</div>
			</div>


			<div class="form-group">
				<label class="col-md-4 control-label">Tên cơ quan (Nếu có):</label>
				<div class="col-md-4">
				<input name="TenCoQuan" type="text" maxlength="50" value="@Model.TenCoQuan" id="TenCoQuan" style="width:100%;">
				</div>
			</div>
			 <div class="form-group">
				<label class="col-md-4 control-label">Địa chỉ cơ quan:</label>
				<div class="col-md-4">
				<input name="DiaChiCoQuan" type="text" maxlength="250" value="@Model.DiaChiCoQuan" id="DiaChiCoQuan" style="width:100%;">
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-4 control-label">Địa chỉ cá nhân:</label>
				<div class="col-md-4">
				<input name="DiaChi" type="text" value="@Model.DiaChiCoQuan" maxlength="250" id="DiaChi" style="width:100%;">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-4 control-label">Tỉnh/Thành phố &nbsp;<span id="ctl09_Label9" style="color:Red;">(*)</span>:</label>
				<div class="col-md-4">
					<select name="TinhThanh"  id="TinhThanh" style="width:100%;" onchange="TinhThanhChange(this)">
							@if (lstTinhThanh!= null){
								foreach (var item in lstTinhThanh)
								{
									if(item.ma_dia_ban == Model.TinhThanh){
										<option value="@item.ma_dia_ban" selected>@item.ten_dia_ban</option>
									}else{
										<option value="@item.ma_dia_ban">@item.ten_dia_ban</option>
									}
									
								}
							}
					</select>
				</div>
			</div>
			<script>
				function TinhThanhChange(obj){
						$.ajax({
							type: "GET",
							url: "/News/LayHuyenTheoTinh?ma_dia_ban_cha=" + obj.value,
							data: "",
							contentType: 'application/json; charset=utf-8',
							success: function (data) {
								$("#QuanHuyen").html(data);
							}
						});
				}
			</script>
			<div class="form-group" id="QuanHuyen">
				<label class="col-md-4 control-label">Quận/Huyện &nbsp;<span id="ctl09_Label7" style="color:Red;">(*)</span>:</label>
				<div class="col-md-4">
					<select name="QuanHuyen" id="QuanHuyen" style="width:100%;">
					@if (DanhSachQuanHuyen != null)
					{
						foreach (var item in DanhSachQuanHuyen)
						{
							if (item.ma_dia_ban_cha == Model.QuanHuyen)
							{
								<option value="@item.ma_dia_ban" selected>@item.ten_dia_ban</option>
							}
							else
							{
								<option value="@item.ma_dia_ban">@item.ten_dia_ban</option>
							}

						}
					}
					</select>
				</div>

			</div>
			<script>
					function QuanHuyenChange(obj) {
						$.ajax({
							type: "GET",
							url: "/News/LayXaTheoHuyen?ma_dia_ban_con=" + obj.value,
							data: "",
							contentType: 'application/json; charset=utf-8',
							success: function (data) {
								$("#XaPhuong").html(data);
							}
						});
					}
			</script>
			<div class="form-group" id="XaPhuong">
				<label class="col-md-4 control-label">Xã/Phường&nbsp;<span id="" style="color:Red;">(*)</span>:</label>
				<div class="col-md-4">
					<select name="XaPhuong" id="XaPhuong" style="width:100%;">
					@if (DanhSachXaPhuong != null)
					{
						foreach (var item in DanhSachXaPhuong)
						{
							if (item.ma_dia_ban_con == Model.XaPhuong)
							{
								<option value="@item.ma_dia_ban" selected>@item.ten_dia_ban</option>
							}
							else
							{
								<option value="@item.ma_dia_ban">@item.ten_dia_ban</option>
							}

						}
					}
					</select>
				</div>

			</div>
		<div class="form-group">
			<label class="col-md-4 control-label">Mã xác thực <span id="" style="color:Red;">(*)</span>: </label>
			<div class="col-md-4">
				<label style="width: 100%;text-align: center;height: 20px;background: blueviolet;color: aliceblue;">@ViewBag.Verify</label>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-4 control-label"></label>
			<div class="col-md-4">
				<input name="CodeVerify1" type="text" value="@ViewBag.Verify" id="CodeVerify1" style="width:100%;" hidden>
				<input name="CodeVerify" type="text" value="@ViewBag.Verify" id="CodeVerify" maxlength="10" style="width:100%;">
			</div>
		</div>
			<div class="form-group">
				<label class="col-md-4 control-label"></label>
				<div class="col-md-4">
					<input type="submit" name="save" value="Lưu" id="save" class="btn-search">
					<input type="button" name="cancer" value="Thoát" id="cancer" class="btn-search">
				</div>
			</div>
		</form>
	</div>